<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1568</integer>
    <key>capHeight</key>
    <integer>1420</integer>
    <key>descender</key>
    <integer>-480</integer>
    <key>familyName</key>
    <string>NerdfontsPL</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>1350</integer>
        <key>y</key>
        <integer>1900</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>1198</integer>
        <key>y</key>
        <integer>2226</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2019/10/25 21:28:01</string>
    <key>openTypeHheaAscender</key>
    <integer>1978</integer>
    <key>openTypeHheaDescender</key>
    <integer>-480</integer>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>636</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>50</integer>
    <key>openTypeOS2Type</key>
    <array>
      <integer>3</integer>
    </array>
    <key>openTypeOS2TypoAscender</key>
    <integer>1568</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-480</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>410</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1978</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>480</integer>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleName</key>
    <string>Regular</string>
    <key>unitsPerEm</key>
    <integer>2048</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>1060</integer>
  </dict>
</plist>
