<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1342</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>400</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>5</integer>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>F8C3375C-B372-4BAE-A3FB-5A8DC7FA7AB9</string>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>400</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>5</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>uniE0A0</string>
      <string>uniE0A1</string>
      <string>uniE0A2</string>
      <string>uniE0A3</string>
      <string>uniE0B0</string>
      <string>uniE0B1</string>
      <string>uniE0B2</string>
      <string>uniE0B3</string>
      <string>uniE0B4</string>
      <string>uniE0B5</string>
      <string>uniE0B6</string>
      <string>uniE0B7</string>
      <string>uniE0B8</string>
      <string>uniE0B9</string>
      <string>uniE0BA</string>
      <string>uniE0BB</string>
      <string>uniE0BC</string>
      <string>uniE0BD</string>
      <string>uniE0BE</string>
      <string>uniE0BF</string>
      <string>uniE0C0</string>
      <string>uniE0C1</string>
      <string>uniE0C2</string>
      <string>uniE0C3</string>
      <string>uniE0C4</string>
      <string>uniE0C5</string>
      <string>uniE0C6</string>
      <string>uniE0C7</string>
      <string>uniE0C8</string>
      <string>uniE0CA</string>
      <string>uniE0CC</string>
      <string>uniE0CD</string>
      <string>uniE0CE</string>
      <string>uniE0CF</string>
      <string>uniE0D0</string>
      <string>uniE0D1</string>
      <string>uniE0D2</string>
      <string>uniE0D4</string>
      <string>uniE0A0.stypo</string>
      <string>uniE0B0.stypo</string>
      <string>uniE0B1.stypo</string>
      <string>uniE0B2.stypo</string>
      <string>uniE0B3.stypo</string>
      <string>uniE0B4.stypo</string>
      <string>uniE0B5.stypo</string>
      <string>uniE0B6.stypo</string>
      <string>uniE0B7.stypo</string>
      <string>uniE0B8.stypo</string>
      <string>uniE0B9.stypo</string>
      <string>uniE0BA.stypo</string>
      <string>uniE0BB.stypo</string>
      <string>uniE0BC.stypo</string>
      <string>uniE0BD.stypo</string>
      <string>uniE0BE.stypo</string>
      <string>uniE0BF.stypo</string>
      <string>uniE0C0.stypo</string>
      <string>uniE0C1.stypo</string>
      <string>uniE0C2.stypo</string>
      <string>uniE0C3.stypo</string>
      <string>uniE0C4.stypo</string>
      <string>uniE0C5.stypo</string>
      <string>uniE0C6.stypo</string>
      <string>uniE0C7.stypo</string>
      <string>uniE0C8.stypo</string>
      <string>uniE0CA.stypo</string>
      <string>uniE0CC.stypo</string>
      <string>uniE0CD.stypo</string>
      <string>uniE0CE.stypo</string>
      <string>uniE0CF.stypo</string>
      <string>uniE0D1.stypo</string>
      <string>uniE0D2.stypo</string>
      <string>uniE0D4.stypo</string>
    </array>
  </dict>
</plist>
