<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AOSC OS</key>
    <string>A_O_S_C_ O_S_.glif</string>
    <key>Alma Linux</key>
    <string>A_lma L_inux.glif</string>
    <key>Alpine</key>
    <string>A_lpine.glif</string>
    <key>Apple</key>
    <string>A_pple.glif</string>
    <key>Arch Linux</key>
    <string>A_rch L_inux.glif</string>
    <key>ArchLabs</key>
    <string>A_rchL_abs.glif</string>
    <key>Archcraft</key>
    <string>A_rchcraft.glif</string>
    <key>ArcoLinux</key>
    <string>A_rcoL_inux.glif</string>
    <key>Arduino</key>
    <string>A_rduino.glif</string>
    <key>Artix Linux</key>
    <string>A_rtix L_inux.glif</string>
    <key>Awesome WM</key>
    <string>A_wesome W_M_.glif</string>
    <key>BigLinux</key>
    <string>B_igL_inux.glif</string>
    <key>Budgie</key>
    <string>B_udgie.glif</string>
    <key>CentOS</key>
    <string>C_entO_S_.glif</string>
    <key>Cinnamon</key>
    <string>C_innamon.glif</string>
    <key>Codeberg</key>
    <string>C_odeberg.glif</string>
    <key>CoreOS</key>
    <string>C_oreO_S_.glif</string>
    <key>Crystal Linux</key>
    <string>C_rystal L_inux.glif</string>
    <key>Debian</key>
    <string>D_ebian.glif</string>
    <key>Deepin</key>
    <string>D_eepin.glif</string>
    <key>Devuan</key>
    <string>D_evuan.glif</string>
    <key>Docker</key>
    <string>D_ocker.glif</string>
    <key>Endeavour OS</key>
    <string>E_ndeavour O_S_.glif</string>
    <key>Enlightenment</key>
    <string>E_nlightenment.glif</string>
    <key>F-droid</key>
    <string>F_-droid.glif</string>
    <key>FOSDEM</key>
    <string>F_O_S_D_E_M_.glif</string>
    <key>Fedora</key>
    <string>F_edora.glif</string>
    <key>Fedora (inverse)</key>
    <string>F_edora (inverse).glif</string>
    <key>Ferris</key>
    <string>F_erris.glif</string>
    <key>Flathub</key>
    <string>F_lathub.glif</string>
    <key>Fluxbox</key>
    <string>F_luxbox.glif</string>
    <key>Forgejo</key>
    <string>F_orgejo.glif</string>
    <key>FreeBSD</key>
    <string>F_reeB_S_D_.glif</string>
    <key>FreeCAD</key>
    <string>F_reeC_A_D_.glif</string>
    <key>GIMP</key>
    <string>G_I_M_P_.glif</string>
    <key>GNOME</key>
    <string>G_N_O_M_E_.glif</string>
    <key>GNU Guix</key>
    <string>G_N_U_ G_uix.glif</string>
    <key>GTK</key>
    <string>G_T_K_.glif</string>
    <key>Garuda Linux</key>
    <string>G_aruda L_inux.glif</string>
    <key>Gentoo</key>
    <string>G_entoo.glif</string>
    <key>Gitea</key>
    <string>G_itea.glif</string>
    <key>Hyperbola GNU/Linux-libre</key>
    <string>H_yperbola G_N_U_L_inux-libre.glif</string>
    <key>Hyprland</key>
    <string>H_yprland.glif</string>
    <key>Inkscape</key>
    <string>I_nkscape.glif</string>
    <key>JWM</key>
    <string>J_W_M_.glif</string>
    <key>KDE Neon</key>
    <string>K_D_E_ N_eon.glif</string>
    <key>KDE Plasma</key>
    <string>K_D_E_ P_lasma.glif</string>
    <key>Kali Linux</key>
    <string>K_ali L_inux.glif</string>
    <key>Kdenlive</key>
    <string>K_denlive.glif</string>
    <key>KiCad</key>
    <string>K_iC_ad.glif</string>
    <key>Krita</key>
    <string>K_rita.glif</string>
    <key>Kubuntu</key>
    <string>K_ubuntu.glif</string>
    <key>Kubuntu (inverse)</key>
    <string>K_ubuntu (inverse).glif</string>
    <key>LXDE</key>
    <string>L_X_D_E_.glif</string>
    <key>LXLE Linux</key>
    <string>L_X_L_E_ L_inux.glif</string>
    <key>LXQt</key>
    <string>L_X_Q_t.glif</string>
    <key>Linux Mint</key>
    <string>L_inux M_int.glif</string>
    <key>Linux Mint (inverse)</key>
    <string>L_inux M_int (inverse).glif</string>
    <key>Loc-OS</key>
    <string>L_oc-O_S_.glif</string>
    <key>MATE</key>
    <string>M_A_T_E_.glif</string>
    <key>MX Linux</key>
    <string>M_X_ L_inux.glif</string>
    <key>Mageia</key>
    <string>M_ageia.glif</string>
    <key>Mandriva</key>
    <string>M_andriva.glif</string>
    <key>Manjaro</key>
    <string>M_anjaro.glif</string>
    <key>Neovim</key>
    <string>N_eovim.glif</string>
    <key>NixOS</key>
    <string>N_ixO_S_.glif</string>
    <key>OSH</key>
    <string>O_S_H_.glif</string>
    <key>OSHWA</key>
    <string>O_S_H_W_A_.glif</string>
    <key>OSI</key>
    <string>O_S_I_.glif</string>
    <key>Octoprint</key>
    <string>O_ctoprint.glif</string>
    <key>OpenBSD</key>
    <string>O_penB_S_D_.glif</string>
    <key>OpenSCAD</key>
    <string>O_penS_C_A_D_.glif</string>
    <key>OpenSUSE</key>
    <string>O_penS_U_S_E_.glif</string>
    <key>Parabola GNU/Linux-libre</key>
    <string>P_arabola G_N_U_L_inux-libre.glif</string>
    <key>Parrot OS</key>
    <string>P_arrot O_S_.glif</string>
    <key>Pop!_OS</key>
    <string>P_op!_O_S_.glif</string>
    <key>Prusa Slicer</key>
    <string>P_rusa S_licer.glif</string>
    <key>Puppy Linux</key>
    <string>P_uppy L_inux.glif</string>
    <key>Qtile</key>
    <string>Q_tile.glif</string>
    <key>QubesOS</key>
    <string>Q_ubesO_S_.glif</string>
    <key>RISC-V</key>
    <string>R_I_S_C_-V_.glif</string>
    <key>Raspberry pi</key>
    <string>R_aspberry pi.glif</string>
    <key>Red Hat</key>
    <string>R_ed H_at.glif</string>
    <key>RepRap</key>
    <string>R_epR_ap.glif</string>
    <key>Rocky Linux</key>
    <string>R_ocky L_inux.glif</string>
    <key>Sabayon</key>
    <string>S_abayon.glif</string>
    <key>Slackware</key>
    <string>S_lackware.glif</string>
    <key>Slackware (inverse)</key>
    <string>S_lackware (inverse).glif</string>
    <key>Snappy</key>
    <string>S_nappy.glif</string>
    <key>Solus</key>
    <string>S_olus.glif</string>
    <key>Sway</key>
    <string>S_way.glif</string>
    <key>Tails</key>
    <string>T_ails.glif</string>
    <key>Thunderbird</key>
    <string>T_hunderbird.glif</string>
    <key>Tor Browser</key>
    <string>T_or B_rowser.glif</string>
    <key>Trisquel GNU/Linux</key>
    <string>T_risquel G_N_U_L_inux.glif</string>
    <key>Tux</key>
    <string>T_ux.glif</string>
    <key>Ubuntu</key>
    <string>U_buntu.glif</string>
    <key>Ubuntu (inverse)</key>
    <string>U_buntu (inverse).glif</string>
    <key>VS Codium</key>
    <string>V_S_ C_odium.glif</string>
    <key>Vanilla OS</key>
    <string>V_anilla O_S_.glif</string>
    <key>Void</key>
    <string>V_oid.glif</string>
    <key>Wayland</key>
    <string>W_ayland.glif</string>
    <key>Wikimedia</key>
    <string>W_ikimedia.glif</string>
    <key>XFCE</key>
    <string>X_F_C_E_.glif</string>
    <key>XeroLinux</key>
    <string>X_eroL_inux.glif</string>
    <key>Xmonad</key>
    <string>X_monad.glif</string>
    <key>Xorg</key>
    <string>X_org.glif</string>
    <key>Zorin OS</key>
    <string>Z_orin O_S_.glif</string>
    <key>bspwm</key>
    <string>bspwm.glif</string>
    <key>dwm</key>
    <string>dwm.glif</string>
    <key>elementary OS</key>
    <string>elementary O_S_.glif</string>
    <key>freedesktop.org</key>
    <string>freedesktop.org.glif</string>
    <key>i3</key>
    <string>i3.glif</string>
    <key>illumos</key>
    <string>illumos.glif</string>
    <key>mpv</key>
    <string>mpv.glif</string>
  </dict>
</plist>
