<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>account</key>
    <string>account.glif</string>
    <key>activate-breakpoints</key>
    <string>activate-breakpoints.glif</string>
    <key>add</key>
    <string>add.glif</string>
    <key>archive</key>
    <string>archive.glif</string>
    <key>arrow-both</key>
    <string>arrow-both.glif</string>
    <key>arrow-down</key>
    <string>arrow-down.glif</string>
    <key>arrow-left</key>
    <string>arrow-left.glif</string>
    <key>arrow-right</key>
    <string>arrow-right.glif</string>
    <key>arrow-small-down</key>
    <string>arrow-small-down.glif</string>
    <key>arrow-small-left</key>
    <string>arrow-small-left.glif</string>
    <key>arrow-small-right</key>
    <string>arrow-small-right.glif</string>
    <key>arrow-small-up</key>
    <string>arrow-small-up.glif</string>
    <key>arrow-swap</key>
    <string>arrow-swap.glif</string>
    <key>arrow-up</key>
    <string>arrow-up.glif</string>
    <key>azure</key>
    <string>azure.glif</string>
    <key>azure-devops</key>
    <string>azure-devops.glif</string>
    <key>beaker</key>
    <string>beaker.glif</string>
    <key>beaker-stop</key>
    <string>beaker-stop.glif</string>
    <key>bell</key>
    <string>bell.glif</string>
    <key>bell-dot</key>
    <string>bell-dot.glif</string>
    <key>bold</key>
    <string>bold.glif</string>
    <key>book</key>
    <string>book.glif</string>
    <key>bookmark</key>
    <string>bookmark.glif</string>
    <key>bracket-dot</key>
    <string>bracket-dot.glif</string>
    <key>bracket-error</key>
    <string>bracket-error.glif</string>
    <key>briefcase</key>
    <string>briefcase.glif</string>
    <key>broadcast</key>
    <string>broadcast.glif</string>
    <key>browser</key>
    <string>browser.glif</string>
    <key>bug</key>
    <string>bug.glif</string>
    <key>calendar</key>
    <string>calendar.glif</string>
    <key>call-incoming</key>
    <string>call-incoming.glif</string>
    <key>call-outgoing</key>
    <string>call-outgoing.glif</string>
    <key>case-sensitive</key>
    <string>case-sensitive.glif</string>
    <key>check</key>
    <string>check.glif</string>
    <key>check-all</key>
    <string>check-all.glif</string>
    <key>checklist</key>
    <string>checklist.glif</string>
    <key>chevron-down</key>
    <string>chevron-down.glif</string>
    <key>chevron-left</key>
    <string>chevron-left.glif</string>
    <key>chevron-right</key>
    <string>chevron-right.glif</string>
    <key>chevron-up</key>
    <string>chevron-up.glif</string>
    <key>chrome-close</key>
    <string>chrome-close.glif</string>
    <key>chrome-maximize</key>
    <string>chrome-maximize.glif</string>
    <key>chrome-minimize</key>
    <string>chrome-minimize.glif</string>
    <key>chrome-restore</key>
    <string>chrome-restore.glif</string>
    <key>circle-filled</key>
    <string>circle-filled.glif</string>
    <key>circle-large-filled</key>
    <string>circle-large-filled.glif</string>
    <key>circle-large-outline</key>
    <string>circle-large-outline.glif</string>
    <key>circle-outline</key>
    <string>circle-outline.glif</string>
    <key>circle-slash</key>
    <string>circle-slash.glif</string>
    <key>circuit-board</key>
    <string>circuit-board.glif</string>
    <key>clear-all</key>
    <string>clear-all.glif</string>
    <key>clippy</key>
    <string>clippy.glif</string>
    <key>close</key>
    <string>close.glif</string>
    <key>close-all</key>
    <string>close-all.glif</string>
    <key>cloud</key>
    <string>cloud.glif</string>
    <key>cloud-download</key>
    <string>cloud-download.glif</string>
    <key>cloud-upload</key>
    <string>cloud-upload.glif</string>
    <key>code</key>
    <string>code.glif</string>
    <key>collapse-all</key>
    <string>collapse-all.glif</string>
    <key>color-mode</key>
    <string>color-mode.glif</string>
    <key>combine</key>
    <string>combine.glif</string>
    <key>comment</key>
    <string>comment.glif</string>
    <key>comment-discussion</key>
    <string>comment-discussion.glif</string>
    <key>compass</key>
    <string>compass.glif</string>
    <key>compass-active</key>
    <string>compass-active.glif</string>
    <key>compass-dot</key>
    <string>compass-dot.glif</string>
    <key>copy</key>
    <string>copy.glif</string>
    <key>credit-card</key>
    <string>credit-card.glif</string>
    <key>dash</key>
    <string>dash.glif</string>
    <key>dashboard</key>
    <string>dashboard.glif</string>
    <key>database</key>
    <string>database.glif</string>
    <key>debug</key>
    <string>debug.glif</string>
    <key>debug-all</key>
    <string>debug-all.glif</string>
    <key>debug-alt</key>
    <string>debug-alt.glif</string>
    <key>debug-alt-small</key>
    <string>debug-alt-small.glif</string>
    <key>debug-breakpoint-conditional</key>
    <string>debug-breakpoint-conditional.glif</string>
    <key>debug-breakpoint-conditional-unverified</key>
    <string>debug-breakpoint-conditional-unverified.glif</string>
    <key>debug-breakpoint-data</key>
    <string>debug-breakpoint-data.glif</string>
    <key>debug-breakpoint-data-unverified</key>
    <string>debug-breakpoint-data-unverified.glif</string>
    <key>debug-breakpoint-function</key>
    <string>debug-breakpoint-function.glif</string>
    <key>debug-breakpoint-function-unverified</key>
    <string>debug-breakpoint-function-unverified.glif</string>
    <key>debug-breakpoint-log</key>
    <string>debug-breakpoint-log.glif</string>
    <key>debug-breakpoint-log-unverified</key>
    <string>debug-breakpoint-log-unverified.glif</string>
    <key>debug-breakpoint-unsupported</key>
    <string>debug-breakpoint-unsupported.glif</string>
    <key>debug-console</key>
    <string>debug-console.glif</string>
    <key>debug-continue</key>
    <string>debug-continue.glif</string>
    <key>debug-continue-small</key>
    <string>debug-continue-small.glif</string>
    <key>debug-coverage</key>
    <string>debug-coverage.glif</string>
    <key>debug-disconnect</key>
    <string>debug-disconnect.glif</string>
    <key>debug-line-by-line</key>
    <string>debug-line-by-line.glif</string>
    <key>debug-pause</key>
    <string>debug-pause.glif</string>
    <key>debug-rerun</key>
    <string>debug-rerun.glif</string>
    <key>debug-restart</key>
    <string>debug-restart.glif</string>
    <key>debug-restart-frame</key>
    <string>debug-restart-frame.glif</string>
    <key>debug-reverse-continue</key>
    <string>debug-reverse-continue.glif</string>
    <key>debug-stackframe</key>
    <string>debug-stackframe.glif</string>
    <key>debug-stackframe-active</key>
    <string>debug-stackframe-active.glif</string>
    <key>debug-stackframe-dot</key>
    <string>debug-stackframe-dot.glif</string>
    <key>debug-start</key>
    <string>debug-start.glif</string>
    <key>debug-step-back</key>
    <string>debug-step-back.glif</string>
    <key>debug-step-into</key>
    <string>debug-step-into.glif</string>
    <key>debug-step-out</key>
    <string>debug-step-out.glif</string>
    <key>debug-step-over</key>
    <string>debug-step-over.glif</string>
    <key>debug-stop</key>
    <string>debug-stop.glif</string>
    <key>desktop-download</key>
    <string>desktop-download.glif</string>
    <key>device-camera</key>
    <string>device-camera.glif</string>
    <key>device-camera-video</key>
    <string>device-camera-video.glif</string>
    <key>device-mobile</key>
    <string>device-mobile.glif</string>
    <key>diff</key>
    <string>diff.glif</string>
    <key>diff-added</key>
    <string>diff-added.glif</string>
    <key>diff-ignored</key>
    <string>diff-ignored.glif</string>
    <key>diff-modified</key>
    <string>diff-modified.glif</string>
    <key>diff-removed</key>
    <string>diff-removed.glif</string>
    <key>diff-renamed</key>
    <string>diff-renamed.glif</string>
    <key>discard</key>
    <string>discard.glif</string>
    <key>edit</key>
    <string>edit.glif</string>
    <key>editor-layout</key>
    <string>editor-layout.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>empty-window</key>
    <string>empty-window.glif</string>
    <key>error</key>
    <string>error.glif</string>
    <key>exclude</key>
    <string>exclude.glif</string>
    <key>expand-all</key>
    <string>expand-all.glif</string>
    <key>export</key>
    <string>export.glif</string>
    <key>extensions</key>
    <string>extensions.glif</string>
    <key>eye</key>
    <string>eye.glif</string>
    <key>eye-closed</key>
    <string>eye-closed.glif</string>
    <key>feedback</key>
    <string>feedback.glif</string>
    <key>file</key>
    <string>file.glif</string>
    <key>file-binary</key>
    <string>file-binary.glif</string>
    <key>file-code</key>
    <string>file-code.glif</string>
    <key>file-media</key>
    <string>file-media.glif</string>
    <key>file-pdf</key>
    <string>file-pdf.glif</string>
    <key>file-submodule</key>
    <string>file-submodule.glif</string>
    <key>file-symlink-directory</key>
    <string>file-symlink-directory.glif</string>
    <key>file-symlink-file</key>
    <string>file-symlink-file.glif</string>
    <key>file-zip</key>
    <string>file-zip.glif</string>
    <key>files</key>
    <string>files.glif</string>
    <key>filter</key>
    <string>filter.glif</string>
    <key>filter-filled</key>
    <string>filter-filled.glif</string>
    <key>flame</key>
    <string>flame.glif</string>
    <key>fold</key>
    <string>fold.glif</string>
    <key>fold-down</key>
    <string>fold-down.glif</string>
    <key>fold-up</key>
    <string>fold-up.glif</string>
    <key>folder</key>
    <string>folder.glif</string>
    <key>folder-active</key>
    <string>folder-active.glif</string>
    <key>folder-library</key>
    <string>folder-library.glif</string>
    <key>folder-opened</key>
    <string>folder-opened.glif</string>
    <key>gear</key>
    <string>gear.glif</string>
    <key>gift</key>
    <string>gift.glif</string>
    <key>gist-secret</key>
    <string>gist-secret.glif</string>
    <key>git-commit</key>
    <string>git-commit.glif</string>
    <key>git-compare</key>
    <string>git-compare.glif</string>
    <key>git-merge</key>
    <string>git-merge.glif</string>
    <key>git-pull-request</key>
    <string>git-pull-request.glif</string>
    <key>git-pull-request-closed</key>
    <string>git-pull-request-closed.glif</string>
    <key>git-pull-request-create</key>
    <string>git-pull-request-create.glif</string>
    <key>git-pull-request-draft</key>
    <string>git-pull-request-draft.glif</string>
    <key>github</key>
    <string>github.glif</string>
    <key>github-action</key>
    <string>github-action.glif</string>
    <key>github-alt</key>
    <string>github-alt.glif</string>
    <key>github-inverted</key>
    <string>github-inverted.glif</string>
    <key>globe</key>
    <string>globe.glif</string>
    <key>go-to-file</key>
    <string>go-to-file.glif</string>
    <key>grabber</key>
    <string>grabber.glif</string>
    <key>graph</key>
    <string>graph.glif</string>
    <key>graph-left</key>
    <string>graph-left.glif</string>
    <key>graph-line</key>
    <string>graph-line.glif</string>
    <key>graph-scatter</key>
    <string>graph-scatter.glif</string>
    <key>gripper</key>
    <string>gripper.glif</string>
    <key>group-by-ref-type</key>
    <string>group-by-ref-type.glif</string>
    <key>heart</key>
    <string>heart.glif</string>
    <key>history</key>
    <string>history.glif</string>
    <key>home</key>
    <string>home.glif</string>
    <key>horizontal-rule</key>
    <string>horizontal-rule.glif</string>
    <key>hubot</key>
    <string>hubot.glif</string>
    <key>inbox</key>
    <string>inbox.glif</string>
    <key>info</key>
    <string>info.glif</string>
    <key>inspect</key>
    <string>inspect.glif</string>
    <key>issue-draft</key>
    <string>issue-draft.glif</string>
    <key>issue-reopened</key>
    <string>issue-reopened.glif</string>
    <key>issues</key>
    <string>issues.glif</string>
    <key>italic</key>
    <string>italic.glif</string>
    <key>jersey</key>
    <string>jersey.glif</string>
    <key>json</key>
    <string>json.glif</string>
    <key>kebab-vertical</key>
    <string>kebab-vertical.glif</string>
    <key>key</key>
    <string>key.glif</string>
    <key>law</key>
    <string>law.glif</string>
    <key>layers</key>
    <string>layers.glif</string>
    <key>layers-active</key>
    <string>layers-active.glif</string>
    <key>layers-dot</key>
    <string>layers-dot.glif</string>
    <key>layout</key>
    <string>layout.glif</string>
    <key>library</key>
    <string>library.glif</string>
    <key>lightbulb</key>
    <string>lightbulb.glif</string>
    <key>lightbulb-autofix</key>
    <string>lightbulb-autofix.glif</string>
    <key>link</key>
    <string>link.glif</string>
    <key>link-external</key>
    <string>link-external.glif</string>
    <key>list-filter</key>
    <string>list-filter.glif</string>
    <key>list-flat</key>
    <string>list-flat.glif</string>
    <key>list-ordered</key>
    <string>list-ordered.glif</string>
    <key>list-selection</key>
    <string>list-selection.glif</string>
    <key>list-tree</key>
    <string>list-tree.glif</string>
    <key>list-unordered</key>
    <string>list-unordered.glif</string>
    <key>live-share</key>
    <string>live-share.glif</string>
    <key>loading</key>
    <string>loading.glif</string>
    <key>location</key>
    <string>location.glif</string>
    <key>lock</key>
    <string>lock.glif</string>
    <key>lock-small</key>
    <string>lock-small.glif</string>
    <key>magnet</key>
    <string>magnet.glif</string>
    <key>mail</key>
    <string>mail.glif</string>
    <key>mail-read</key>
    <string>mail-read.glif</string>
    <key>markdown</key>
    <string>markdown.glif</string>
    <key>megaphone</key>
    <string>megaphone.glif</string>
    <key>mention</key>
    <string>mention.glif</string>
    <key>menu</key>
    <string>menu.glif</string>
    <key>merge</key>
    <string>merge.glif</string>
    <key>milestone</key>
    <string>milestone.glif</string>
    <key>mirror</key>
    <string>mirror.glif</string>
    <key>mortar-board</key>
    <string>mortar-board.glif</string>
    <key>move</key>
    <string>move.glif</string>
    <key>multiple-windows</key>
    <string>multiple-windows.glif</string>
    <key>mute</key>
    <string>mute.glif</string>
    <key>new-file</key>
    <string>new-file.glif</string>
    <key>new-folder</key>
    <string>new-folder.glif</string>
    <key>newline</key>
    <string>newline.glif</string>
    <key>no-newline</key>
    <string>no-newline.glif</string>
    <key>note</key>
    <string>note.glif</string>
    <key>notebook</key>
    <string>notebook.glif</string>
    <key>notebook-template</key>
    <string>notebook-template.glif</string>
    <key>octoface</key>
    <string>octoface.glif</string>
    <key>open-preview</key>
    <string>open-preview.glif</string>
    <key>organization</key>
    <string>organization.glif</string>
    <key>output</key>
    <string>output.glif</string>
    <key>package</key>
    <string>package.glif</string>
    <key>paintcan</key>
    <string>paintcan.glif</string>
    <key>pass</key>
    <string>pass.glif</string>
    <key>pass-filled</key>
    <string>pass-filled.glif</string>
    <key>person</key>
    <string>person.glif</string>
    <key>person-add</key>
    <string>person-add.glif</string>
    <key>pie-chart</key>
    <string>pie-chart.glif</string>
    <key>pin</key>
    <string>pin.glif</string>
    <key>pinned</key>
    <string>pinned.glif</string>
    <key>pinned-dirty</key>
    <string>pinned-dirty.glif</string>
    <key>play</key>
    <string>play.glif</string>
    <key>play-circle</key>
    <string>play-circle.glif</string>
    <key>plug</key>
    <string>plug.glif</string>
    <key>preserve-case</key>
    <string>preserve-case.glif</string>
    <key>preview</key>
    <string>preview.glif</string>
    <key>primitive-square</key>
    <string>primitive-square.glif</string>
    <key>project</key>
    <string>project.glif</string>
    <key>pulse</key>
    <string>pulse.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>quote</key>
    <string>quote.glif</string>
    <key>radio-tower</key>
    <string>radio-tower.glif</string>
    <key>reactions</key>
    <string>reactions.glif</string>
    <key>record</key>
    <string>record.glif</string>
    <key>record-keys</key>
    <string>record-keys.glif</string>
    <key>redo</key>
    <string>redo.glif</string>
    <key>references</key>
    <string>references.glif</string>
    <key>refresh</key>
    <string>refresh.glif</string>
    <key>regex</key>
    <string>regex.glif</string>
    <key>remote</key>
    <string>remote.glif</string>
    <key>remote-explorer</key>
    <string>remote-explorer.glif</string>
    <key>remove</key>
    <string>remove.glif</string>
    <key>replace</key>
    <string>replace.glif</string>
    <key>replace-all</key>
    <string>replace-all.glif</string>
    <key>reply</key>
    <string>reply.glif</string>
    <key>repo</key>
    <string>repo.glif</string>
    <key>repo-clone</key>
    <string>repo-clone.glif</string>
    <key>repo-force-push</key>
    <string>repo-force-push.glif</string>
    <key>repo-forked</key>
    <string>repo-forked.glif</string>
    <key>repo-pull</key>
    <string>repo-pull.glif</string>
    <key>repo-push</key>
    <string>repo-push.glif</string>
    <key>report</key>
    <string>report.glif</string>
    <key>request-changes</key>
    <string>request-changes.glif</string>
    <key>rocket</key>
    <string>rocket.glif</string>
    <key>root-folder</key>
    <string>root-folder.glif</string>
    <key>root-folder-opened</key>
    <string>root-folder-opened.glif</string>
    <key>rss</key>
    <string>rss.glif</string>
    <key>ruby</key>
    <string>ruby.glif</string>
    <key>run-above</key>
    <string>run-above.glif</string>
    <key>run-all</key>
    <string>run-all.glif</string>
    <key>run-below</key>
    <string>run-below.glif</string>
    <key>run-errors</key>
    <string>run-errors.glif</string>
    <key>save</key>
    <string>save.glif</string>
    <key>save-all</key>
    <string>save-all.glif</string>
    <key>save-as</key>
    <string>save-as.glif</string>
    <key>screen-full</key>
    <string>screen-full.glif</string>
    <key>screen-normal</key>
    <string>screen-normal.glif</string>
    <key>search</key>
    <string>search.glif</string>
    <key>search-stop</key>
    <string>search-stop.glif</string>
    <key>server</key>
    <string>server.glif</string>
    <key>server-environment</key>
    <string>server-environment.glif</string>
    <key>server-process</key>
    <string>server-process.glif</string>
    <key>settings</key>
    <string>settings.glif</string>
    <key>settings-gear</key>
    <string>settings-gear.glif</string>
    <key>shield</key>
    <string>shield.glif</string>
    <key>sign-in</key>
    <string>sign-in.glif</string>
    <key>sign-out</key>
    <string>sign-out.glif</string>
    <key>smiley</key>
    <string>smiley.glif</string>
    <key>sort-precedence</key>
    <string>sort-precedence.glif</string>
    <key>source-control</key>
    <string>source-control.glif</string>
    <key>split-horizontal</key>
    <string>split-horizontal.glif</string>
    <key>split-vertical</key>
    <string>split-vertical.glif</string>
    <key>squirrel</key>
    <string>squirrel.glif</string>
    <key>star-empty</key>
    <string>star-empty.glif</string>
    <key>star-full</key>
    <string>star-full.glif</string>
    <key>star-half</key>
    <string>star-half.glif</string>
    <key>stop-circle</key>
    <string>stop-circle.glif</string>
    <key>symbol-array</key>
    <string>symbol-array.glif</string>
    <key>symbol-boolean</key>
    <string>symbol-boolean.glif</string>
    <key>symbol-class</key>
    <string>symbol-class.glif</string>
    <key>symbol-color</key>
    <string>symbol-color.glif</string>
    <key>symbol-constant</key>
    <string>symbol-constant.glif</string>
    <key>symbol-enum</key>
    <string>symbol-enum.glif</string>
    <key>symbol-enum-member</key>
    <string>symbol-enum-member.glif</string>
    <key>symbol-event</key>
    <string>symbol-event.glif</string>
    <key>symbol-field</key>
    <string>symbol-field.glif</string>
    <key>symbol-file</key>
    <string>symbol-file.glif</string>
    <key>symbol-interface</key>
    <string>symbol-interface.glif</string>
    <key>symbol-key</key>
    <string>symbol-key.glif</string>
    <key>symbol-keyword</key>
    <string>symbol-keyword.glif</string>
    <key>symbol-method</key>
    <string>symbol-method.glif</string>
    <key>symbol-misc</key>
    <string>symbol-misc.glif</string>
    <key>symbol-namespace</key>
    <string>symbol-namespace.glif</string>
    <key>symbol-numeric</key>
    <string>symbol-numeric.glif</string>
    <key>symbol-operator</key>
    <string>symbol-operator.glif</string>
    <key>symbol-parameter</key>
    <string>symbol-parameter.glif</string>
    <key>symbol-property</key>
    <string>symbol-property.glif</string>
    <key>symbol-ruler</key>
    <string>symbol-ruler.glif</string>
    <key>symbol-snippet</key>
    <string>symbol-snippet.glif</string>
    <key>symbol-string</key>
    <string>symbol-string.glif</string>
    <key>symbol-structure</key>
    <string>symbol-structure.glif</string>
    <key>symbol-variable</key>
    <string>symbol-variable.glif</string>
    <key>sync</key>
    <string>sync.glif</string>
    <key>sync-ignored</key>
    <string>sync-ignored.glif</string>
    <key>table</key>
    <string>table.glif</string>
    <key>tag</key>
    <string>tag.glif</string>
    <key>tasklist</key>
    <string>tasklist.glif</string>
    <key>telescope</key>
    <string>telescope.glif</string>
    <key>terminal</key>
    <string>terminal.glif</string>
    <key>terminal-bash</key>
    <string>terminal-bash.glif</string>
    <key>terminal-cmd</key>
    <string>terminal-cmd.glif</string>
    <key>terminal-debian</key>
    <string>terminal-debian.glif</string>
    <key>terminal-linux</key>
    <string>terminal-linux.glif</string>
    <key>terminal-powershell</key>
    <string>terminal-powershell.glif</string>
    <key>terminal-tmux</key>
    <string>terminal-tmux.glif</string>
    <key>terminal-ubuntu</key>
    <string>terminal-ubuntu.glif</string>
    <key>text-size</key>
    <string>text-size.glif</string>
    <key>three-bars</key>
    <string>three-bars.glif</string>
    <key>thumbsdown</key>
    <string>thumbsdown.glif</string>
    <key>thumbsup</key>
    <string>thumbsup.glif</string>
    <key>tools</key>
    <string>tools.glif</string>
    <key>trash</key>
    <string>trash.glif</string>
    <key>triangle-down</key>
    <string>triangle-down.glif</string>
    <key>triangle-left</key>
    <string>triangle-left.glif</string>
    <key>triangle-right</key>
    <string>triangle-right.glif</string>
    <key>triangle-up</key>
    <string>triangle-up.glif</string>
    <key>twitter</key>
    <string>twitter.glif</string>
    <key>type-hierarchy</key>
    <string>type-hierarchy.glif</string>
    <key>type-hierarchy-sub</key>
    <string>type-hierarchy-sub.glif</string>
    <key>type-hierarchy-super</key>
    <string>type-hierarchy-super.glif</string>
    <key>unfold</key>
    <string>unfold.glif</string>
    <key>ungroup-by-ref-type</key>
    <string>ungroup-by-ref-type.glif</string>
    <key>unlock</key>
    <string>unlock.glif</string>
    <key>unmute</key>
    <string>unmute.glif</string>
    <key>unverified</key>
    <string>unverified.glif</string>
    <key>variable-group</key>
    <string>variable-group.glif</string>
    <key>verified</key>
    <string>verified.glif</string>
    <key>verified-filled</key>
    <string>verified-filled.glif</string>
    <key>versions</key>
    <string>versions.glif</string>
    <key>vm</key>
    <string>vm.glif</string>
    <key>vm-active</key>
    <string>vm-active.glif</string>
    <key>vm-connect</key>
    <string>vm-connect.glif</string>
    <key>vm-outline</key>
    <string>vm-outline.glif</string>
    <key>vm-running</key>
    <string>vm-running.glif</string>
    <key>wand</key>
    <string>wand.glif</string>
    <key>warning</key>
    <string>warning.glif</string>
    <key>watch</key>
    <string>watch.glif</string>
    <key>whitespace</key>
    <string>whitespace.glif</string>
    <key>whole-word</key>
    <string>whole-word.glif</string>
    <key>window</key>
    <string>window.glif</string>
    <key>word-wrap</key>
    <string>word-wrap.glif</string>
    <key>workspace-trusted</key>
    <string>workspace-trusted.glif</string>
    <key>workspace-unknown</key>
    <string>workspace-unknown.glif</string>
    <key>workspace-untrusted</key>
    <string>workspace-untrusted.glif</string>
    <key>zoom-in</key>
    <string>zoom-in.glif</string>
    <key>zoom-out</key>
    <string>zoom-out.glif</string>
  </dict>
</plist>
