<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>uni2630</key>
    <string>uni2630.glif</string>
    <key>uniE0A0</key>
    <string>uniE_0A_0.glif</string>
    <key>uniE0A1</key>
    <string>uniE_0A_1.glif</string>
    <key>uniE0A2</key>
    <string>uniE_0A_2.glif</string>
    <key>uniE0A3</key>
    <string>uniE_0A_3.glif</string>
    <key>uniE0B0</key>
    <string>uniE_0B_0.glif</string>
    <key>uniE0B1</key>
    <string>uniE_0B_1.glif</string>
    <key>uniE0B2</key>
    <string>uniE_0B_2.glif</string>
    <key>uniE0B3</key>
    <string>uniE_0B_3.glif</string>
    <key>uniE0B4</key>
    <string>uniE_0B_4.glif</string>
    <key>uniE0B5</key>
    <string>uniE_0B_5.glif</string>
    <key>uniE0B6</key>
    <string>uniE_0B_6.glif</string>
    <key>uniE0B7</key>
    <string>uniE_0B_7.glif</string>
    <key>uniE0B8</key>
    <string>uniE_0B_8.glif</string>
    <key>uniE0B9</key>
    <string>uniE_0B_9.glif</string>
    <key>uniE0BA</key>
    <string>uniE_0B_A_.glif</string>
    <key>uniE0BB</key>
    <string>uniE_0B_B_.glif</string>
    <key>uniE0BC</key>
    <string>uniE_0B_C_.glif</string>
    <key>uniE0BD</key>
    <string>uniE_0B_D_.glif</string>
    <key>uniE0BE</key>
    <string>uniE_0B_E_.glif</string>
    <key>uniE0BF</key>
    <string>uniE_0B_F_.glif</string>
    <key>uniE0C0</key>
    <string>uniE_0C_0.glif</string>
    <key>uniE0C1</key>
    <string>uniE_0C_1.glif</string>
    <key>uniE0C2</key>
    <string>uniE_0C_2.glif</string>
    <key>uniE0C3</key>
    <string>uniE_0C_3.glif</string>
    <key>uniE0C4</key>
    <string>uniE_0C_4.glif</string>
    <key>uniE0C5</key>
    <string>uniE_0C_5.glif</string>
    <key>uniE0C6</key>
    <string>uniE_0C_6.glif</string>
    <key>uniE0C7</key>
    <string>uniE_0C_7.glif</string>
    <key>uniE0C8</key>
    <string>uniE_0C_8.glif</string>
    <key>uniE0CA</key>
    <string>uniE_0C_A_.glif</string>
    <key>uniE0CC</key>
    <string>uniE_0C_C_.glif</string>
    <key>uniE0CD</key>
    <string>uniE_0C_D_.glif</string>
    <key>uniE0CE</key>
    <string>uniE_0C_E_.glif</string>
    <key>uniE0CF</key>
    <string>uniE_0C_F_.glif</string>
    <key>uniE0D0</key>
    <string>uniE_0D_0.glif</string>
    <key>uniE0D1</key>
    <string>uniE_0D_1.glif</string>
    <key>uniE0D2</key>
    <string>uniE_0D_2.glif</string>
    <key>uniE0D4</key>
    <string>uniE_0D_4.glif</string>
  </dict>
</plist>
