<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>92EB435B-DB8B-4B75-AF98-425352353AE0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.resh-hb</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
