<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.DisplayStrings</key>
    <array>
      <string>/smiley</string>
    </array>
    <key>com.schriftgestaltung.appVersion</key>
    <string>3241</string>
    <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.fontMaster.customParameters</key>
    <array>
      <dict>
        <key>name</key>
        <string>CVT Table</string>
        <key>value</key>
        <string>(
    68,
    1297
)</string>
      </dict>
    </array>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>m01</string>
    <key>com.schriftgestaltung.formatVersion</key>
    <integer>3</integer>
    <key>com.schriftgestaltung.useGlyphOrder</key>
    <true/>
    <key>com.schriftgestaltung.useNiceNames</key>
    <false/>
    <key>public.glyphOrder</key>
    <array>
      <string>heart</string>
      <string>zap</string>
      <string>light-bulb</string>
      <string>repo</string>
      <string>repo-forked</string>
      <string>repo-push</string>
      <string>repo-pull</string>
      <string>book</string>
      <string>accessibility</string>
      <string>git-pull-request</string>
      <string>mark-github</string>
      <string>download</string>
      <string>upload</string>
      <string>accessibility-inset</string>
      <string>alert-fill</string>
      <string>file-code</string>
      <string>apps</string>
      <string>file-media</string>
      <string>file-zip</string>
      <string>archive</string>
      <string>tag</string>
      <string>file-directory</string>
      <string>file-submodule</string>
      <string>person</string>
      <string>arrow-both</string>
      <string>git-commit</string>
      <string>git-branch</string>
      <string>git-merge</string>
      <string>mirror</string>
      <string>issue-opened</string>
      <string>issue-reopened</string>
      <string>issue-closed</string>
      <string>star</string>
      <string>comment</string>
      <string>question</string>
      <string>alert</string>
      <string>search</string>
      <string>gear</string>
      <string>arrow-down-left</string>
      <string>tools</string>
      <string>sign-out</string>
      <string>rocket</string>
      <string>rss</string>
      <string>paste</string>
      <string>sign-in</string>
      <string>organization</string>
      <string>device-mobile</string>
      <string>unfold</string>
      <string>check</string>
      <string>mail</string>
      <string>read</string>
      <string>arrow-up</string>
      <string>arrow-right</string>
      <string>arrow-down</string>
      <string>arrow-left</string>
      <string>pin</string>
      <string>gift</string>
      <string>graph</string>
      <string>triangle-left</string>
      <string>credit-card</string>
      <string>clock</string>
      <string>ruby</string>
      <string>broadcast</string>
      <string>key</string>
      <string>arrow-down-right</string>
      <string>repo-clone</string>
      <string>diff</string>
      <string>eye</string>
      <string>comment-discussion</string>
      <string>arrow-switch</string>
      <string>dot-fill</string>
      <string>square-fill</string>
      <string>device-camera</string>
      <string>device-camera-video</string>
      <string>pencil</string>
      <string>info</string>
      <string>triangle-right</string>
      <string>triangle-down</string>
      <string>link</string>
      <string>plus</string>
      <string>three-bars</string>
      <string>code</string>
      <string>location</string>
      <string>list-unordered</string>
      <string>list-ordered</string>
      <string>quote</string>
      <string>versions</string>
      <string>calendar</string>
      <string>lock</string>
      <string>diff-added</string>
      <string>diff-removed</string>
      <string>diff-modified</string>
      <string>diff-renamed</string>
      <string>horizontal-rule</string>
      <string>arrow-up-left</string>
      <string>milestone</string>
      <string>checklist</string>
      <string>megaphone</string>
      <string>chevron-right</string>
      <string>bookmark</string>
      <string>sliders</string>
      <string>meter</string>
      <string>history</string>
      <string>link-external</string>
      <string>mute</string>
      <string>x</string>
      <string>circle-slash</string>
      <string>pulse</string>
      <string>sync</string>
      <string>telescope</string>
      <string>arrow-up-right</string>
      <string>home</string>
      <string>stop</string>
      <string>bug</string>
      <string>logo-github</string>
      <string>file-binary</string>
      <string>database</string>
      <string>server</string>
      <string>diff-ignored</string>
      <string>ellipsis</string>
      <string>bell-fill</string>
      <string>hubot</string>
      <string>bell-slash</string>
      <string>blocked</string>
      <string>bookmark-fill</string>
      <string>chevron-up</string>
      <string>chevron-down</string>
      <string>chevron-left</string>
      <string>triangle-up</string>
      <string>git-compare</string>
      <string>logo-gist</string>
      <string>file-symlink-file</string>
      <string>file-symlink-directory</string>
      <string>squirrel</string>
      <string>globe</string>
      <string>unmute</string>
      <string>mention</string>
      <string>package</string>
      <string>browser</string>
      <string>terminal</string>
      <string>markdown</string>
      <string>dash</string>
      <string>fold</string>
      <string>inbox</string>
      <string>trash</string>
      <string>paintbrush</string>
      <string>flame</string>
      <string>briefcase</string>
      <string>plug</string>
      <string>bookmark-slash-fill</string>
      <string>mortar-board</string>
      <string>law</string>
      <string>thumbsup</string>
      <string>thumbsdown</string>
      <string>desktop-download</string>
      <string>beaker</string>
      <string>bell</string>
      <string>cache</string>
      <string>shield</string>
      <string>bold</string>
      <string>check-circle</string>
      <string>italic</string>
      <string>tasklist</string>
      <string>verified</string>
      <string>smiley</string>
      <string>unverified</string>
      <string>check-circle-fill</string>
      <string>file</string>
      <string>grabber</string>
      <string>checkbox</string>
      <string>reply</string>
      <string>device-desktop</string>
      <string>circle</string>
      <string>clock-fill</string>
      <string>cloud</string>
      <string>cloud-offline</string>
      <string>code-of-conduct</string>
      <string>code-review</string>
      <string>code-square</string>
      <string>codescan</string>
      <string>codescan-checkmark</string>
      <string>codespaces</string>
      <string>columns</string>
      <string>command-palette</string>
      <string>commit</string>
      <string>container</string>
      <string>copilot</string>
      <string>copilot-error</string>
      <string>copilot-warning</string>
      <string>copy</string>
      <string>cpu</string>
      <string>cross-reference</string>
      <string>dependabot</string>
      <string>diamond</string>
      <string>discussion-closed</string>
      <string>discussion-duplicate</string>
      <string>discussion-outdated</string>
      <string>dot</string>
      <string>duplicate</string>
      <string>eye-closed</string>
      <string>feed-discussion</string>
      <string>feed-forked</string>
      <string>feed-heart</string>
      <string>feed-merged</string>
      <string>feed-person</string>
      <string>feed-repo</string>
      <string>feed-rocket</string>
      <string>feed-star</string>
      <string>feed-tag</string>
      <string>feed-trophy</string>
      <string>file-added</string>
      <string>file-badge</string>
      <string>file-diff</string>
      <string>file-directory-fill</string>
      <string>file-directory-open-fill</string>
      <string>file-moved</string>
      <string>file-removed</string>
      <string>filter</string>
      <string>fiscal-host</string>
      <string>fold-down</string>
      <string>fold-up</string>
      <string>git-merge-queue</string>
      <string>git-pull-request-closed</string>
      <string>git-pull-request-draft</string>
      <string>goal</string>
      <string>hash</string>
      <string>heading</string>
      <string>heart-fill</string>
      <string>home-fill</string>
      <string>hourglass</string>
      <string>id-badge</string>
      <string>image</string>
      <string>infinity</string>
      <string>issue-draft</string>
      <string>issue-tracked-by</string>
      <string>issue-tracks</string>
      <string>iterations</string>
      <string>kebab-horizontal</string>
      <string>key-asterisk</string>
      <string>log</string>
      <string>moon</string>
      <string>move-to-bottom</string>
      <string>move-to-end</string>
      <string>move-to-start</string>
      <string>move-to-top</string>
      <string>multi-select</string>
      <string>no-entry</string>
      <string>north-star</string>
      <string>note</string>
      <string>number</string>
      <string>package-dependencies</string>
      <string>package-dependents</string>
      <string>paper-airplane</string>
      <string>paperclip</string>
      <string>passkey-fill</string>
      <string>people</string>
      <string>person-add</string>
      <string>person-fill</string>
      <string>play</string>
      <string>plus-circle</string>
      <string>project</string>
      <string>project-roadmap</string>
      <string>project-symlink</string>
      <string>project-template</string>
      <string>rel-file-path</string>
      <string>repo-deleted</string>
      <string>repo-locked</string>
      <string>repo-template</string>
      <string>report</string>
      <string>rows</string>
      <string>screen-full</string>
      <string>screen-normal</string>
      <string>share</string>
      <string>share-android</string>
      <string>shield-check</string>
      <string>shield-lock</string>
      <string>shield-slash</string>
      <string>shield-x</string>
      <string>sidebar-collapse</string>
      <string>sidebar-expand</string>
      <string>single-select</string>
      <string>skip</string>
      <string>skip-fill</string>
      <string>sort-asc</string>
      <string>sort-desc</string>
      <string>sparkle-fill</string>
      <string>sponsor-tiers</string>
      <string>square</string>
      <string>stack</string>
      <string>star-fill</string>
      <string>stopwatch</string>
      <string>strikethrough</string>
      <string>sun</string>
      <string>tab</string>
      <string>tab-external</string>
      <string>table</string>
      <string>telescope-fill</string>
      <string>trophy</string>
      <string>typography</string>
      <string>unlink</string>
      <string>unlock</string>
      <string>unread</string>
      <string>video</string>
      <string>webhook</string>
      <string>workflow</string>
      <string>x-circle</string>
      <string>x-circle-fill</string>
      <string>zoom-in</string>
      <string>zoom-out</string>
      <string>bookmark-slash</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>accessibility</key>
      <string>uniF406</string>
      <key>accessibility-inset</key>
      <string>uniF40B</string>
      <key>alert</key>
      <string>uniF421</string>
      <key>alert-fill</key>
      <string>uniF40C</string>
      <key>apps</key>
      <string>uniF40E</string>
      <key>archive</key>
      <string>uniF411</string>
      <key>arrow-both</key>
      <string>uniF416</string>
      <key>arrow-down</key>
      <string>uniF433</string>
      <key>arrow-down-left</key>
      <string>uniF424</string>
      <key>arrow-down-right</key>
      <string>uniF43E</string>
      <key>arrow-left</key>
      <string>uniF434</string>
      <key>arrow-right</key>
      <string>uniF432</string>
      <key>arrow-switch</key>
      <string>uniF443</string>
      <key>arrow-up</key>
      <string>uniF431</string>
      <key>arrow-up-left</key>
      <string>uniF45C</string>
      <key>arrow-up-right</key>
      <string>uniF46C</string>
      <key>beaker</key>
      <string>uniF499</string>
      <key>bell-fill</key>
      <string>uniF476</string>
      <key>bell-slash</key>
      <string>uniF478</string>
      <key>blocked</key>
      <string>uniF479</string>
      <key>bold</key>
      <string>uniF49D</string>
      <key>bookmark-fill</key>
      <string>uniF47A</string>
      <key>bookmark-slash</key>
      <string>uniF533</string>
      <key>bookmark-slash-fill</key>
      <string>uniF493</string>
      <key>broadcast</key>
      <string>uniF43C</string>
      <key>browser</key>
      <string>uniF488</string>
      <key>cache</key>
      <string>uniF49B</string>
      <key>check</key>
      <string>uniF42E</string>
      <key>check-circle</key>
      <string>uniF49E</string>
      <key>check-circle-fill</key>
      <string>uniF4A4</string>
      <key>checkbox</key>
      <string>uniF4A7</string>
      <key>checklist</key>
      <string>uniF45E</string>
      <key>chevron-down</key>
      <string>uniF47C</string>
      <key>chevron-left</key>
      <string>uniF47D</string>
      <key>chevron-right</key>
      <string>uniF460</string>
      <key>chevron-up</key>
      <string>uniF47B</string>
      <key>circle-slash</key>
      <string>uniF468</string>
      <key>clock</key>
      <string>uniF43A</string>
      <key>clock-fill</key>
      <string>uniF4AB</string>
      <key>cloud-offline</key>
      <string>uniF4AD</string>
      <key>code</key>
      <string>uniF44F</string>
      <key>code-of-conduct</key>
      <string>uniF4AE</string>
      <key>code-review</key>
      <string>uniF4AF</string>
      <key>code-square</key>
      <string>uniF4B0</string>
      <key>codescan</key>
      <string>uniF4B1</string>
      <key>codescan-checkmark</key>
      <string>uniF4B2</string>
      <key>codespaces</key>
      <string>uniF4B3</string>
      <key>columns</key>
      <string>uniF4B4</string>
      <key>command-palette</key>
      <string>uniF4B5</string>
      <key>comment</key>
      <string>uniF41F</string>
      <key>comment-discussion</key>
      <string>uniF442</string>
      <key>commit</key>
      <string>uniF4B6</string>
      <key>container</key>
      <string>uniF4B7</string>
      <key>copilot</key>
      <string>uniF4B8</string>
      <key>copilot-error</key>
      <string>uniF4B9</string>
      <key>copilot-warning</key>
      <string>uniF4BA</string>
      <key>copy</key>
      <string>uniF4BB</string>
      <key>cpu</key>
      <string>uniF4BC</string>
      <key>credit-card</key>
      <string>uniF439</string>
      <key>cross-reference</key>
      <string>uniF4BD</string>
      <key>dash</key>
      <string>uniF48B</string>
      <key>database</key>
      <string>uniF472</string>
      <key>dependabot</key>
      <string>uniF4BE</string>
      <key>desktop-download</key>
      <string>uniF498</string>
      <key>device-camera</key>
      <string>uniF446</string>
      <key>device-camera-video</key>
      <string>uniF447</string>
      <key>device-desktop</key>
      <string>uniF4A9</string>
      <key>device-mobile</key>
      <string>uniF42C</string>
      <key>diff</key>
      <string>uniF440</string>
      <key>diff-added</key>
      <string>uniF457</string>
      <key>diff-ignored</key>
      <string>uniF474</string>
      <key>diff-modified</key>
      <string>uniF459</string>
      <key>diff-removed</key>
      <string>uniF458</string>
      <key>diff-renamed</key>
      <string>uniF45A</string>
      <key>discussion-closed</key>
      <string>uniF4C0</string>
      <key>discussion-duplicate</key>
      <string>uniF4C1</string>
      <key>discussion-outdated</key>
      <string>uniF4C2</string>
      <key>dot</key>
      <string>uniF4C3</string>
      <key>dot-fill</key>
      <string>uniF444</string>
      <key>download</key>
      <string>uniF409</string>
      <key>duplicate</key>
      <string>uniF4C4</string>
      <key>eye-closed</key>
      <string>uniF4C5</string>
      <key>feed-discussion</key>
      <string>uniF4C6</string>
      <key>feed-forked</key>
      <string>uniF4C7</string>
      <key>feed-heart</key>
      <string>uniF4C8</string>
      <key>feed-merged</key>
      <string>uniF4C9</string>
      <key>feed-person</key>
      <string>uniF4CA</string>
      <key>feed-repo</key>
      <string>uniF4CB</string>
      <key>feed-rocket</key>
      <string>uniF4CC</string>
      <key>feed-star</key>
      <string>uniF4CD</string>
      <key>feed-tag</key>
      <string>uniF4CE</string>
      <key>feed-trophy</key>
      <string>uniF4CF</string>
      <key>file</key>
      <string>uniF4A5</string>
      <key>file-added</key>
      <string>uniF4D0</string>
      <key>file-badge</key>
      <string>uniF4D1</string>
      <key>file-binary</key>
      <string>uniF471</string>
      <key>file-code</key>
      <string>uniF40D</string>
      <key>file-diff</key>
      <string>uniF4D2</string>
      <key>file-directory</key>
      <string>uniF413</string>
      <key>file-directory-fill</key>
      <string>uniF4D3</string>
      <key>file-directory-open-fill</key>
      <string>uniF4D4</string>
      <key>file-media</key>
      <string>uniF40F</string>
      <key>file-moved</key>
      <string>uniF4D5</string>
      <key>file-removed</key>
      <string>uniF4D6</string>
      <key>file-submodule</key>
      <string>uniF414</string>
      <key>file-symlink-directory</key>
      <string>uniF482</string>
      <key>file-symlink-file</key>
      <string>uniF481</string>
      <key>file-zip</key>
      <string>uniF410</string>
      <key>filter</key>
      <string>uniF4D7</string>
      <key>fiscal-host</key>
      <string>uniF4D8</string>
      <key>flame</key>
      <string>uniF490</string>
      <key>fold</key>
      <string>uniF48C</string>
      <key>fold-down</key>
      <string>uniF4D9</string>
      <key>fold-up</key>
      <string>uniF4DA</string>
      <key>gift</key>
      <string>uniF436</string>
      <key>git-branch</key>
      <string>uniF418</string>
      <key>git-commit</key>
      <string>uniF417</string>
      <key>git-compare</key>
      <string>uniF47F</string>
      <key>git-merge</key>
      <string>uniF419</string>
      <key>git-merge-queue</key>
      <string>uniF4DB</string>
      <key>git-pull-request</key>
      <string>uniF407</string>
      <key>git-pull-request-closed</key>
      <string>uniF4DC</string>
      <key>git-pull-request-draft</key>
      <string>uniF4DD</string>
      <key>globe</key>
      <string>uniF484</string>
      <key>goal</key>
      <string>uniF4DE</string>
      <key>grabber</key>
      <string>uniF4A6</string>
      <key>graph</key>
      <string>uniF437</string>
      <key>hash</key>
      <string>uniF4DF</string>
      <key>heading</key>
      <string>uniF4E0</string>
      <key>heart-fill</key>
      <string>uniF4E1</string>
      <key>history</key>
      <string>uniF464</string>
      <key>home</key>
      <string>uniF46D</string>
      <key>home-fill</key>
      <string>uniF4E2</string>
      <key>horizontal-rule</key>
      <string>uniF45B</string>
      <key>hubot</key>
      <string>uniF477</string>
      <key>id-badge</key>
      <string>uniF4E4</string>
      <key>image</key>
      <string>uniF4E5</string>
      <key>inbox</key>
      <string>uniF48D</string>
      <key>info</key>
      <string>uniF449</string>
      <key>issue-closed</key>
      <string>uniF41D</string>
      <key>issue-draft</key>
      <string>uniF4E7</string>
      <key>issue-opened</key>
      <string>uniF41B</string>
      <key>issue-reopened</key>
      <string>uniF41C</string>
      <key>issue-tracked-by</key>
      <string>uniF4E8</string>
      <key>issue-tracks</key>
      <string>uniF4E9</string>
      <key>italic</key>
      <string>uniF49F</string>
      <key>iterations</key>
      <string>uniF4EA</string>
      <key>kebab-horizontal</key>
      <string>uniF4EB</string>
      <key>key-asterisk</key>
      <string>uniF4EC</string>
      <key>law</key>
      <string>uniF495</string>
      <key>light-bulb</key>
      <string>uniF400</string>
      <key>link</key>
      <string>uniF44C</string>
      <key>link-external</key>
      <string>uniF465</string>
      <key>list-ordered</key>
      <string>uniF452</string>
      <key>list-unordered</key>
      <string>uniF451</string>
      <key>location</key>
      <string>uniF450</string>
      <key>log</key>
      <string>uniF4ED</string>
      <key>logo-gist</key>
      <string>uniF480</string>
      <key>logo-github</key>
      <string>uniF470</string>
      <key>mail</key>
      <string>uniF42F</string>
      <key>mark-github</key>
      <string>uniF408</string>
      <key>markdown</key>
      <string>uniF48A</string>
      <key>megaphone</key>
      <string>uniF45F</string>
      <key>mention</key>
      <string>uniF486</string>
      <key>meter</key>
      <string>uniF463</string>
      <key>milestone</key>
      <string>uniF45D</string>
      <key>moon</key>
      <string>uniF4EE</string>
      <key>mortar-board</key>
      <string>uniF494</string>
      <key>move-to-bottom</key>
      <string>uniF4EF</string>
      <key>move-to-end</key>
      <string>uniF4F0</string>
      <key>move-to-start</key>
      <string>uniF4F1</string>
      <key>move-to-top</key>
      <string>uniF4F2</string>
      <key>multi-select</key>
      <string>uniF4F3</string>
      <key>mute</key>
      <string>uniF466</string>
      <key>no-entry</key>
      <string>uniF4F4</string>
      <key>north-star</key>
      <string>uniF4F5</string>
      <key>number</key>
      <string>uniF4F7</string>
      <key>organization</key>
      <string>uniF42B</string>
      <key>package-dependencies</key>
      <string>uniF4F8</string>
      <key>package-dependents</key>
      <string>uniF4F9</string>
      <key>paintbrush</key>
      <string>uniF48F</string>
      <key>paper-airplane</key>
      <string>uniF4FA</string>
      <key>passkey-fill</key>
      <string>uniF4FC</string>
      <key>paste</key>
      <string>uniF429</string>
      <key>people</key>
      <string>uniF4FD</string>
      <key>person</key>
      <string>uniF415</string>
      <key>person-add</key>
      <string>uniF4FE</string>
      <key>person-fill</key>
      <string>uniF4FF</string>
      <key>pin</key>
      <string>uniF435</string>
      <key>play</key>
      <string>uniF500</string>
      <key>plug</key>
      <string>uniF492</string>
      <key>plus-circle</key>
      <string>uniF501</string>
      <key>project</key>
      <string>uniF502</string>
      <key>project-roadmap</key>
      <string>uniF503</string>
      <key>project-symlink</key>
      <string>uniF504</string>
      <key>project-template</key>
      <string>uniF505</string>
      <key>pulse</key>
      <string>uniF469</string>
      <key>quote</key>
      <string>uniF453</string>
      <key>read</key>
      <string>uniF430</string>
      <key>rel-file-path</key>
      <string>uniF506</string>
      <key>reply</key>
      <string>uniF4A8</string>
      <key>repo</key>
      <string>uniF401</string>
      <key>repo-clone</key>
      <string>uniF43F</string>
      <key>repo-deleted</key>
      <string>uniF507</string>
      <key>repo-forked</key>
      <string>uniF402</string>
      <key>repo-locked</key>
      <string>uniF508</string>
      <key>repo-pull</key>
      <string>uniF404</string>
      <key>repo-push</key>
      <string>uniF403</string>
      <key>repo-template</key>
      <string>uniF509</string>
      <key>report</key>
      <string>uniF50A</string>
      <key>rows</key>
      <string>uniF50B</string>
      <key>rss</key>
      <string>uniF428</string>
      <key>ruby</key>
      <string>uniF43B</string>
      <key>screen-full</key>
      <string>uniF50C</string>
      <key>screen-normal</key>
      <string>uniF50D</string>
      <key>search</key>
      <string>uniF422</string>
      <key>server</key>
      <string>uniF473</string>
      <key>share</key>
      <string>uniF50E</string>
      <key>share-android</key>
      <string>uniF50F</string>
      <key>shield-check</key>
      <string>uniF510</string>
      <key>shield-lock</key>
      <string>uniF511</string>
      <key>shield-slash</key>
      <string>uniF512</string>
      <key>shield-x</key>
      <string>uniF513</string>
      <key>sidebar-collapse</key>
      <string>uniF514</string>
      <key>sidebar-expand</key>
      <string>uniF515</string>
      <key>sign-in</key>
      <string>uniF42A</string>
      <key>sign-out</key>
      <string>uniF426</string>
      <key>single-select</key>
      <string>uniF516</string>
      <key>skip</key>
      <string>uniF517</string>
      <key>skip-fill</key>
      <string>uniF518</string>
      <key>sliders</key>
      <string>uniF462</string>
      <key>smiley</key>
      <string>uniF4A2</string>
      <key>sort-asc</key>
      <string>uniF519</string>
      <key>sort-desc</key>
      <string>uniF51A</string>
      <key>sparkle-fill</key>
      <string>uniF51B</string>
      <key>sponsor-tiers</key>
      <string>uniF51C</string>
      <key>square</key>
      <string>uniF51D</string>
      <key>square-fill</key>
      <string>uniF445</string>
      <key>squirrel</key>
      <string>uniF483</string>
      <key>stack</key>
      <string>uniF51E</string>
      <key>star</key>
      <string>uniF41E</string>
      <key>star-fill</key>
      <string>uniF51F</string>
      <key>stop</key>
      <string>uniF46E</string>
      <key>strikethrough</key>
      <string>uniF521</string>
      <key>sync</key>
      <string>uniF46A</string>
      <key>tab</key>
      <string>uniF523</string>
      <key>tab-external</key>
      <string>uniF524</string>
      <key>table</key>
      <string>uniF525</string>
      <key>tag</key>
      <string>uniF412</string>
      <key>tasklist</key>
      <string>uniF4A0</string>
      <key>telescope-fill</key>
      <string>uniF526</string>
      <key>terminal</key>
      <string>uniF489</string>
      <key>three-bars</key>
      <string>uniF44E</string>
      <key>thumbsdown</key>
      <string>uniF497</string>
      <key>thumbsup</key>
      <string>uniF496</string>
      <key>tools</key>
      <string>uniF425</string>
      <key>trash</key>
      <string>uniF48E</string>
      <key>triangle-down</key>
      <string>uniF44B</string>
      <key>triangle-left</key>
      <string>uniF438</string>
      <key>triangle-right</key>
      <string>uniF44A</string>
      <key>triangle-up</key>
      <string>uniF47E</string>
      <key>typography</key>
      <string>uniF528</string>
      <key>unfold</key>
      <string>uniF42D</string>
      <key>unlink</key>
      <string>uniF529</string>
      <key>unlock</key>
      <string>uniF52A</string>
      <key>unmute</key>
      <string>uniF485</string>
      <key>unread</key>
      <string>uniF52B</string>
      <key>unverified</key>
      <string>uniF4A3</string>
      <key>upload</key>
      <string>uniF40A</string>
      <key>verified</key>
      <string>uniF4A1</string>
      <key>versions</key>
      <string>uniF454</string>
      <key>video</key>
      <string>uniF52C</string>
      <key>webhook</key>
      <string>uniF52D</string>
      <key>workflow</key>
      <string>uniF52E</string>
      <key>x-circle</key>
      <string>uniF52F</string>
      <key>x-circle-fill</key>
      <string>uniF530</string>
      <key>zap</key>
      <string>uni26A1</string>
      <key>zoom-in</key>
      <string>uniF531</string>
      <key>zoom-out</key>
      <string>uniF532</string>
    </dict>
  </dict>
</plist>
