<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>uniE0B5</key>
    <string>uniE_0B_5.glif</string>
    <key>uniE0C1</key>
    <string>uniE_0C_1.glif</string>
  </dict>
</plist>
