<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>DDBFFE16-E718-4FE3-87ED-45C864D04B95</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.a</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
