<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>6A79D55D-5EDD-4947-9D39-7E2AE084EF97</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.pedagesh-hb</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
