<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>0454BEBA-4ACC-49DC-A865-072FD54A288E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ampersand</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.c</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
