# Add or remove dependencies here and then use pip-tool's 
#   pip-compile -U requirements.in
# to update requirements.txt (the lock file, so to speak).

fontmake
psautohint
gftools
vttLib
skia-pathops
fontTools[ufo,lxml,woff]
vttmisc
