<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>AEE5D809-9A18-45A0-8CAD-E8A4C45B5859</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.s</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
