<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>5CBEF77B-88E6-4361-BA59-FA37E1BAA96F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.lam_alef-ar.fina</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
