<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>BF448B58-7A35-489E-A1C9-12628F60690C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.emdash.lc</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.endash.lc</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
