<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>480</integer>
    <key>capHeight</key>
    <integer>0</integer>
    <key>descender</key>
    <integer>-32</integer>
    <key>familyName</key>
    <string>font-awesome-extension</string>
    <key>guidelines</key>
    <array/>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2016/05/22 04:13:42</string>
    <key>openTypeHheaAscender</key>
    <integer>505</integer>
    <key>openTypeHheaDescender</key>
    <integer>0</integer>
    <key>openTypeNamePreferredSubfamilyName</key>
    <string>awesome-extension</string>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>2</integer>
      <integer>0</integer>
      <integer>5</integer>
      <integer>9</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>132</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>25</integer>
    <key>openTypeOS2TypoAscender</key>
    <integer>480</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-32</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>46</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>60</integer>
    </array>
    <key>openTypeOS2VendorID</key>
    <string>PfEd</string>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>505</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>65529</integer>
    <key>postscriptBlueValues</key>
    <array/>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptFontName</key>
    <string>font-awesome-extension</string>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>styleMapFamilyName</key>
    <string>font-awesome-extension awesome-extension</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>awesome-extension</string>
    <key>unitsPerEm</key>
    <integer>2048</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>0</integer>
  </dict>
</plist>
