<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>4E22AA64-03FB-4F21-B205-AA279D527923</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.sindot-hb</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
