<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7C0E7596-C8F2-4821-AF7F-722B92595233</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.resh-hb</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
