<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>67B00D1F-44E8-4B92-9E97-98DB64D17363</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.tsadi-hb</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
