<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>axes</key>
    <array>
      <dict>
        <key>name</key>
        <string>Weight</string>
        <key>tag</key>
        <string>wght</string>
        <key>locations</key>
        <array>
          <dict>
            <key>name</key>
            <string>ExtraLight</string>
            <key>value</key>
            <integer>200</integer>
          </dict>
          <dict>
            <key>name</key>
            <string>Light</string>
            <key>value</key>
            <integer>300</integer>
          </dict>
          <dict>
            <key>name</key>
            <string>SemiLight</string>
            <key>value</key>
            <integer>350</integer>
            <key>linked_value</key>
            <integer>600</integer>
          </dict>
          <dict>
            <key>name</key>
            <string>Regular</string>
            <key>value</key>
            <integer>400</integer>
            <key>linked_value</key>
            <integer>700</integer>
            <key>flags</key>
            <array>
              <string>ElidableAxisValueName</string>
            </array>
          </dict>
          <dict>
            <key>name</key>
            <string>SemiBold</string>
            <key>value</key>
            <integer>600</integer>
          </dict>
          <dict>
            <key>name</key>
            <string>Bold</string>
            <key>value</key>
            <integer>700</integer>
          </dict>
        </array>
      </dict>
    </array>
  </dict>
</plist>