<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F0EDBD02-CD89-4869-841C-4013A7D2C957</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.shin-hb</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
