<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>apple-fruit</key>
    <string>apple-fruit.glif</string>
    <key>atom</key>
    <string>atom.glif</string>
    <key>bacteria</key>
    <string>bacteria.glif</string>
    <key>banana</key>
    <string>banana.glif</string>
    <key>bath</key>
    <string>bath.glif</string>
    <key>bed</key>
    <string>bed.glif</string>
    <key>benzene</key>
    <string>benzene.glif</string>
    <key>bigger</key>
    <string>bigger.glif</string>
    <key>biohazard</key>
    <string>biohazard.glif</string>
    <key>blogger-circle</key>
    <string>blogger-circle.glif</string>
    <key>blogger-square</key>
    <string>blogger-square.glif</string>
    <key>bones</key>
    <string>bones.glif</string>
    <key>book-open</key>
    <string>book-open.glif</string>
    <key>book-open-o</key>
    <string>book-open-o.glif</string>
    <key>brain</key>
    <string>brain.glif</string>
    <key>bread</key>
    <string>bread.glif</string>
    <key>butterfly</key>
    <string>butterfly.glif</string>
    <key>carot</key>
    <string>carot.glif</string>
    <key>cc-by</key>
    <string>cc-by.glif</string>
    <key>cc-cc</key>
    <string>cc-cc.glif</string>
    <key>cc-nc</key>
    <string>cc-nc.glif</string>
    <key>cc-nc-eu</key>
    <string>cc-nc-eu.glif</string>
    <key>cc-nc-jp</key>
    <string>cc-nc-jp.glif</string>
    <key>cc-nd</key>
    <string>cc-nd.glif</string>
    <key>cc-remix</key>
    <string>cc-remix.glif</string>
    <key>cc-sa</key>
    <string>cc-sa.glif</string>
    <key>cc-share</key>
    <string>cc-share.glif</string>
    <key>cc-zero</key>
    <string>cc-zero.glif</string>
    <key>checklist-o</key>
    <string>checklist-o.glif</string>
    <key>cherry</key>
    <string>cherry.glif</string>
    <key>chess-bishop</key>
    <string>chess-bishop.glif</string>
    <key>chess-horse</key>
    <string>chess-horse.glif</string>
    <key>chess-king</key>
    <string>chess-king.glif</string>
    <key>chess-pawn</key>
    <string>chess-pawn.glif</string>
    <key>chess-queen</key>
    <string>chess-queen.glif</string>
    <key>chess-tower</key>
    <string>chess-tower.glif</string>
    <key>chesse</key>
    <string>chesse.glif</string>
    <key>chicken-thigh</key>
    <string>chicken-thigh.glif</string>
    <key>chilli</key>
    <string>chilli.glif</string>
    <key>chip</key>
    <string>chip.glif</string>
    <key>cicling</key>
    <string>cicling.glif</string>
    <key>cloud</key>
    <string>cloud.glif</string>
    <key>cockroach</key>
    <string>cockroach.glif</string>
    <key>coffe-beans</key>
    <string>coffe-beans.glif</string>
    <key>coins</key>
    <string>coins.glif</string>
    <key>comb</key>
    <string>comb.glif</string>
    <key>comet</key>
    <string>comet.glif</string>
    <key>crown</key>
    <string>crown.glif</string>
    <key>cup-coffe</key>
    <string>cup-coffe.glif</string>
    <key>dice</key>
    <string>dice.glif</string>
    <key>disco</key>
    <string>disco.glif</string>
    <key>dna</key>
    <string>dna.glif</string>
    <key>donut</key>
    <string>donut.glif</string>
    <key>dress</key>
    <string>dress.glif</string>
    <key>drop</key>
    <string>drop.glif</string>
    <key>ello</key>
    <string>ello.glif</string>
    <key>envelope-open</key>
    <string>envelope-open.glif</string>
    <key>envelope-open-o</key>
    <string>envelope-open-o.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>equal-bigger</key>
    <string>equal-bigger.glif</string>
    <key>feedly</key>
    <string>feedly.glif</string>
    <key>file-export</key>
    <string>file-export.glif</string>
    <key>file-import</key>
    <string>file-import.glif</string>
    <key>fingerprint</key>
    <string>fingerprint.glif</string>
    <key>floppy</key>
    <string>floppy.glif</string>
    <key>footprint</key>
    <string>footprint.glif</string>
    <key>freecodecamp</key>
    <string>freecodecamp.glif</string>
    <key>galaxy</key>
    <string>galaxy.glif</string>
    <key>galery</key>
    <string>galery.glif</string>
    <key>gift-card</key>
    <string>gift-card.glif</string>
    <key>glass</key>
    <string>glass.glif</string>
    <key>google-drive</key>
    <string>google-drive.glif</string>
    <key>google-play</key>
    <string>google-play.glif</string>
    <key>gps</key>
    <string>gps.glif</string>
    <key>grav</key>
    <string>grav.glif</string>
    <key>guitar</key>
    <string>guitar.glif</string>
    <key>gut</key>
    <string>gut.glif</string>
    <key>halter</key>
    <string>halter.glif</string>
    <key>hamburger</key>
    <string>hamburger.glif</string>
    <key>hat</key>
    <string>hat.glif</string>
    <key>hexagon</key>
    <string>hexagon.glif</string>
    <key>high-heel</key>
    <string>high-heel.glif</string>
    <key>hotdog</key>
    <string>hotdog.glif</string>
    <key>ice-cream</key>
    <string>ice-cream.glif</string>
    <key>id-card</key>
    <string>id-card.glif</string>
    <key>imdb</key>
    <string>imdb.glif</string>
    <key>infinity</key>
    <string>infinity.glif</string>
    <key>injection</key>
    <string>injection.glif</string>
    <key>isle</key>
    <string>isle.glif</string>
    <key>java</key>
    <string>java.glif</string>
    <key>layers</key>
    <string>layers.glif</string>
    <key>lips</key>
    <string>lips.glif</string>
    <key>lipstick</key>
    <string>lipstick.glif</string>
    <key>liver</key>
    <string>liver.glif</string>
    <key>lollipop</key>
    <string>lollipop.glif</string>
    <key>loyalty-card</key>
    <string>loyalty-card.glif</string>
    <key>lung</key>
    <string>lung.glif</string>
    <key>makeup-brushes</key>
    <string>makeup-brushes.glif</string>
    <key>maximize</key>
    <string>maximize.glif</string>
    <key>meat</key>
    <string>meat.glif</string>
    <key>medicine</key>
    <string>medicine.glif</string>
    <key>microscope</key>
    <string>microscope.glif</string>
    <key>milk-bottle</key>
    <string>milk-bottle.glif</string>
    <key>minimize</key>
    <string>minimize.glif</string>
    <key>molecule</key>
    <string>molecule.glif</string>
    <key>moon-cloud</key>
    <string>moon-cloud.glif</string>
    <key>mountains</key>
    <string>mountains.glif</string>
    <key>mushroom</key>
    <string>mushroom.glif</string>
    <key>mustache</key>
    <string>mustache.glif</string>
    <key>mysql</key>
    <string>mysql.glif</string>
    <key>nintendo</key>
    <string>nintendo.glif</string>
    <key>orange</key>
    <string>orange.glif</string>
    <key>palette-color</key>
    <string>palette-color.glif</string>
    <key>peach</key>
    <string>peach.glif</string>
    <key>pear</key>
    <string>pear.glif</string>
    <key>pi</key>
    <string>pi.glif</string>
    <key>pizza</key>
    <string>pizza.glif</string>
    <key>planet</key>
    <string>planet.glif</string>
    <key>plant</key>
    <string>plant.glif</string>
    <key>playstation</key>
    <string>playstation.glif</string>
    <key>poison</key>
    <string>poison.glif</string>
    <key>popcorn</key>
    <string>popcorn.glif</string>
    <key>popsicle</key>
    <string>popsicle.glif</string>
    <key>pulse</key>
    <string>pulse.glif</string>
    <key>python</key>
    <string>python.glif</string>
    <key>quora-circle</key>
    <string>quora-circle.glif</string>
    <key>quora-square</key>
    <string>quora-square.glif</string>
    <key>radioactive</key>
    <string>radioactive.glif</string>
    <key>raining</key>
    <string>raining.glif</string>
    <key>real-heart</key>
    <string>real-heart.glif</string>
    <key>refrigerator</key>
    <string>refrigerator.glif</string>
    <key>restore</key>
    <string>restore.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>ruby</key>
    <string>ruby.glif</string>
    <key>ruby-o</key>
    <string>ruby-o.glif</string>
    <key>ruler</key>
    <string>ruler.glif</string>
    <key>shirt</key>
    <string>shirt.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>smaller</key>
    <string>smaller.glif</string>
    <key>snowing</key>
    <string>snowing.glif</string>
    <key>soda</key>
    <string>soda.glif</string>
    <key>sofa</key>
    <string>sofa.glif</string>
    <key>soup</key>
    <string>soup.glif</string>
    <key>spermatozoon</key>
    <string>spermatozoon.glif</string>
    <key>spin-double</key>
    <string>spin-double.glif</string>
    <key>stomach</key>
    <string>stomach.glif</string>
    <key>storm</key>
    <string>storm.glif</string>
    <key>sun-cloud</key>
    <string>sun-cloud.glif</string>
    <key>sushi</key>
    <string>sushi.glif</string>
    <key>tacos</key>
    <string>tacos.glif</string>
    <key>telegram</key>
    <string>telegram.glif</string>
    <key>telegram-circle</key>
    <string>telegram-circle.glif</string>
    <key>telescope</key>
    <string>telescope.glif</string>
    <key>thermometer</key>
    <string>thermometer.glif</string>
    <key>thermometer-high</key>
    <string>thermometer-high.glif</string>
    <key>thermometer-low</key>
    <string>thermometer-low.glif</string>
    <key>thin-close</key>
    <string>thin-close.glif</string>
    <key>toilet</key>
    <string>toilet.glif</string>
    <key>tools</key>
    <string>tools.glif</string>
    <key>tooth</key>
    <string>tooth.glif</string>
    <key>tree</key>
    <string>tree.glif</string>
    <key>triangle-ruler</key>
    <string>triangle-ruler.glif</string>
    <key>umbrella</key>
    <string>umbrella.glif</string>
    <key>uterus</key>
    <string>uterus.glif</string>
    <key>virus</key>
    <string>virus.glif</string>
    <key>w3c</key>
    <string>w3c.glif</string>
    <key>walking</key>
    <string>walking.glif</string>
    <key>wallet</key>
    <string>wallet.glif</string>
    <key>wind</key>
    <string>wind.glif</string>
    <key>xbox</key>
    <string>xbox.glif</string>
  </dict>
</plist>
