<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>De-cy.loclBGR</key>
    <string>D_e-cy.loclB_G_R_.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>IJ</key>
    <string>I_J_.glif</string>
    <key>Ia-cy</key>
    <string>I_a-cy.glif</string>
    <key>Ka-cy</key>
    <string>K_a-cy.glif</string>
    <key>Nje-cy</key>
    <string>N_je-cy.glif</string>
    <key>braceright_numbersign.liga</key>
    <string>braceright_numbersign.liga.glif</string>
    <key>chi</key>
    <string>chi.glif</string>
    <key>colonsign</key>
    <string>colonsign.glif</string>
    <key>dollar_greater.liga</key>
    <string>dollar_greater.liga.glif</string>
    <key>franc</key>
    <string>franc.glif</string>
    <key>ge-cy</key>
    <string>ge-cy.glif</string>
    <key>ii-cy</key>
    <string>ii-cy.glif</string>
    <key>ka-cy.loclBGR</key>
    <string>ka-cy.loclB_G_R_.glif</string>
    <key>kappa</key>
    <string>kappa.glif</string>
    <key>ninesuperior</key>
    <string>ninesuperior.glif</string>
    <key>nu</key>
    <string>nu.glif</string>
    <key>numero</key>
    <string>numero.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>tildecomb.case</key>
    <string>tildecomb.case.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>ustraight-cy</key>
    <string>ustraight-cy.glif</string>
    <key>ve-cy.loclBGR</key>
    <string>ve-cy.loclB_G_R_.glif</string>
    <key>whiteSmilingFace</key>
    <string>whiteS_milingF_ace.glif</string>
  </dict>
</plist>
