<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Alpha-latin</key>
    <string>A_lpha-latin.glif</string>
    <key>Gsmall</key>
    <string>G_small.glif</string>
    <key>Gstroke</key>
    <string>G_stroke.glif</string>
    <key>Vhook</key>
    <string>V_hook.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>asciitilde_equal.liga</key>
    <string>asciitilde_equal.liga.glif</string>
    <key>asterisk_parenright.liga</key>
    <string>asterisk_parenright.liga.glif</string>
    <key>bar_bar_equal_middle.seq</key>
    <string>bar_bar_equal_middle.seq.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>dcaron.alt</key>
    <string>dcaron.alt.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>gheupturn-cy</key>
    <string>gheupturn-cy.glif</string>
    <key>glottalstopmod</key>
    <string>glottalstopmod.glif</string>
    <key>greater.alt</key>
    <string>greater.alt.glif</string>
    <key>greater.center</key>
    <string>greater.center.glif</string>
    <key>greater_greater_equal_end.seq</key>
    <string>greater_greater_equal_end.seq.glif</string>
    <key>greater_greater_equal_middle.seq</key>
    <string>greater_greater_equal_middle.seq.glif</string>
    <key>greater_greater_equal_start.seq</key>
    <string>greater_greater_equal_start.seq.glif</string>
    <key>greater_greater_hyphen_end.seq</key>
    <string>greater_greater_hyphen_end.seq.glif</string>
    <key>greater_greater_hyphen_middle.seq</key>
    <string>greater_greater_hyphen_middle.seq.glif</string>
    <key>greater_greater_hyphen_start.seq</key>
    <string>greater_greater_hyphen_start.seq.glif</string>
    <key>idotless</key>
    <string>idotless.glif</string>
    <key>ka-cy</key>
    <string>ka-cy.glif</string>
    <key>kadescender-cy</key>
    <string>kadescender-cy.glif</string>
    <key>kaiSymbol</key>
    <string>kaiS_ymbol.glif</string>
    <key>kappa</key>
    <string>kappa.glif</string>
    <key>less_less_equal_end.seq</key>
    <string>less_less_equal_end.seq.glif</string>
    <key>less_less_equal_middle.seq</key>
    <string>less_less_equal_middle.seq.glif</string>
    <key>less_less_equal_start.seq</key>
    <string>less_less_equal_start.seq.glif</string>
    <key>less_less_hyphen_end.seq</key>
    <string>less_less_hyphen_end.seq.glif</string>
    <key>less_less_hyphen_middle.seq</key>
    <string>less_less_hyphen_middle.seq.glif</string>
    <key>less_less_hyphen_start.seq</key>
    <string>less_less_hyphen_start.seq.glif</string>
    <key>less_plus.liga</key>
    <string>less_plus.liga.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>nhookleft</key>
    <string>nhookleft.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>numbersign_middle.seq</key>
    <string>numbersign_middle.seq.glif</string>
    <key>numbersign_underscore_parenleft.liga</key>
    <string>numbersign_underscore_parenleft.liga.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>parenleft_asterisk.liga</key>
    <string>parenleft_asterisk.liga.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>rho</key>
    <string>rho.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>slash_slash_equal_end.seq</key>
    <string>slash_slash_equal_end.seq.glif</string>
    <key>twosuperior</key>
    <string>twosuperior.glif</string>
    <key>upsilon-latin</key>
    <string>upsilon-latin.glif</string>
  </dict>
</plist>
