<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>Abreve</key>
    <string>A_breve.glif</string>
    <key>Ahookabove</key>
    <string>A_hookabove.glif</string>
    <key>Aogonek</key>
    <string>A_ogonek.glif</string>
    <key>Aring</key>
    <string>A_ring.glif</string>
    <key>Atilde</key>
    <string>A_tilde.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>Che-cy</key>
    <string>C_he-cy.glif</string>
    <key>De-cy</key>
    <string>D_e-cy.glif</string>
    <key>De-cy.loclBGR</key>
    <string>D_e-cy.loclB_G_R_.glif</string>
    <key>Dje-cy</key>
    <string>D_je-cy.glif</string>
    <key>Ef-cy</key>
    <string>E_f-cy.glif</string>
    <key>El-cy</key>
    <string>E_l-cy.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>Eogonek</key>
    <string>E_ogonek.glif</string>
    <key>Ereversed-cy</key>
    <string>E_reversed-cy.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Ge-cy</key>
    <string>G_e-cy.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>Ghestroke-cy</key>
    <string>G_hestroke-cy.glif</string>
    <key>IJ</key>
    <string>I_J_.glif</string>
    <key>Ia-cy</key>
    <string>I_a-cy.glif</string>
    <key>Ii-cy</key>
    <string>I_i-cy.glif</string>
    <key>Iogonek</key>
    <string>I_ogonek.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>Ka-cy</key>
    <string>K_a-cy.glif</string>
    <key>Kadescender-cy</key>
    <string>K_adescender-cy.glif</string>
    <key>KaiSymbol</key>
    <string>K_aiS_ymbol.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>Lje-cy</key>
    <string>L_je-cy.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>Ncommaaccent</key>
    <string>N_commaaccent.glif</string>
    <key>Nje-cy</key>
    <string>N_je-cy.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Omega</key>
    <string>O_mega.glif</string>
    <key>Oogonek</key>
    <string>O_ogonek.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>Schwa</key>
    <string>S_chwa.glif</string>
    <key>Sha-cy</key>
    <string>S_ha-cy.glif</string>
    <key>Shcha-cy</key>
    <string>S_hcha-cy.glif</string>
    <key>Shha-cy</key>
    <string>S_hha-cy.glif</string>
    <key>Sigma</key>
    <string>S_igma.glif</string>
    <key>Tse-cy</key>
    <string>T_se-cy.glif</string>
    <key>Tshe-cy</key>
    <string>T_she-cy.glif</string>
    <key>U-cy</key>
    <string>U_-cy.glif</string>
    <key>Uhorn</key>
    <string>U_horn.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Ze-cy</key>
    <string>Z_e-cy.glif</string>
    <key>Zhedescender-cy</key>
    <string>Z_hedescender-cy.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>ahookabove</key>
    <string>ahookabove.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>aogonek</key>
    <string>aogonek.glif</string>
    <key>approxequal</key>
    <string>approxequal.glif</string>
    <key>asciicircum_equal.liga</key>
    <string>asciicircum_equal.liga.glif</string>
    <key>asciitilde_asciitilde.liga</key>
    <string>asciitilde_asciitilde.liga.glif</string>
    <key>asciitilde_at.liga</key>
    <string>asciitilde_at.liga.glif</string>
    <key>asciitilde_equal.liga</key>
    <string>asciitilde_equal.liga.glif</string>
    <key>asciitilde_greater.liga</key>
    <string>asciitilde_greater.liga.glif</string>
    <key>asciitilde_hyphen.liga</key>
    <string>asciitilde_hyphen.liga.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>bar_bar_bar_greater.liga</key>
    <string>bar_bar_bar_greater.liga.glif</string>
    <key>bar_bar_equal.liga</key>
    <string>bar_bar_equal.liga.glif</string>
    <key>bar_bar_greater.liga</key>
    <string>bar_bar_greater.liga.glif</string>
    <key>bar_bracketright.liga</key>
    <string>bar_bracketright.liga.glif</string>
    <key>bar_greater.liga</key>
    <string>bar_greater.liga.glif</string>
    <key>be-cy</key>
    <string>be-cy.glif</string>
    <key>be-cy.loclSRB</key>
    <string>be-cy.loclS_R_B_.glif</string>
    <key>beta</key>
    <string>beta.glif</string>
    <key>braceleft_bar.liga</key>
    <string>braceleft_bar.liga.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>braceright_numbersign.liga</key>
    <string>braceright_numbersign.liga.glif</string>
    <key>bracketleft_bar.liga</key>
    <string>bracketleft_bar.liga.glif</string>
    <key>bracketright_numbersign.liga</key>
    <string>bracketright_numbersign.liga.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>careof</key>
    <string>careof.glif</string>
    <key>che-cy</key>
    <string>che-cy.glif</string>
    <key>chedescender-cy</key>
    <string>chedescender-cy.glif</string>
    <key>chi</key>
    <string>chi.glif</string>
    <key>colon_colon_equal.liga</key>
    <string>colon_colon_equal.liga.glif</string>
    <key>colon_equal.liga</key>
    <string>colon_equal.liga.glif</string>
    <key>colon_less.liga</key>
    <string>colon_less.liga.glif</string>
    <key>colonsign</key>
    <string>colonsign.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>dcaron</key>
    <string>dcaron.glif</string>
    <key>dcaron.alt</key>
    <string>dcaron.alt.glif</string>
    <key>de-cy</key>
    <string>de-cy.glif</string>
    <key>delta</key>
    <string>delta.glif</string>
    <key>diamondBlackSuit</key>
    <string>diamondB_lackS_uit.glif</string>
    <key>dje-cy</key>
    <string>dje-cy.glif</string>
    <key>dong</key>
    <string>dong.glif</string>
    <key>dzhe-cy</key>
    <string>dzhe-cy.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.dnom</key>
    <string>eight.dnom.glif</string>
    <key>eightinferior</key>
    <string>eightinferior.glif</string>
    <key>em-cy</key>
    <string>em-cy.glif</string>
    <key>en-cy</key>
    <string>en-cy.glif</string>
    <key>endescender-cy</key>
    <string>endescender-cy.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>equal_colon_equal.liga</key>
    <string>equal_colon_equal.liga.glif</string>
    <key>equal_equal_greater.liga</key>
    <string>equal_equal_greater.liga.glif</string>
    <key>equal_greater.liga</key>
    <string>equal_greater.liga.glif</string>
    <key>equal_greater_greater.liga</key>
    <string>equal_greater_greater.liga.glif</string>
    <key>equal_less_less.liga</key>
    <string>equal_less_less.liga.glif</string>
    <key>equal_slash_equal.liga</key>
    <string>equal_slash_equal.liga.glif</string>
    <key>equivalence</key>
    <string>equivalence.glif</string>
    <key>estimated</key>
    <string>estimated.glif</string>
    <key>exclam_equal_equal.liga</key>
    <string>exclam_equal_equal.liga.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.dnom</key>
    <string>five.dnom.glif</string>
    <key>five.numr</key>
    <string>five.numr.glif</string>
    <key>fiveinferior</key>
    <string>fiveinferior.glif</string>
    <key>fivesuperior</key>
    <string>fivesuperior.glif</string>
    <key>florin</key>
    <string>florin.glif</string>
    <key>four.numr</key>
    <string>four.numr.glif</string>
    <key>foursuperior</key>
    <string>foursuperior.glif</string>
    <key>franc</key>
    <string>franc.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>gamma</key>
    <string>gamma.glif</string>
    <key>ge-cy</key>
    <string>ge-cy.glif</string>
    <key>ge-cy.loclBGR</key>
    <string>ge-cy.loclB_G_R_.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>gheupturn-cy</key>
    <string>gheupturn-cy.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>greater_equal.liga</key>
    <string>greater_equal.liga.glif</string>
    <key>greater_equal_greater.liga</key>
    <string>greater_equal_greater.liga.glif</string>
    <key>greater_greater.liga</key>
    <string>greater_greater.liga.glif</string>
    <key>greater_greater_hyphen.liga</key>
    <string>greater_greater_hyphen.liga.glif</string>
    <key>greater_hyphen.liga</key>
    <string>greater_hyphen.liga.glif</string>
    <key>greater_hyphen_greater.liga</key>
    <string>greater_hyphen_greater.liga.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hadescender-cy</key>
    <string>hadescender-cy.glif</string>
    <key>hardsign-cy</key>
    <string>hardsign-cy.glif</string>
    <key>horizontallineextension</key>
    <string>horizontallineextension.glif</string>
    <key>hryvnia</key>
    <string>hryvnia.glif</string>
    <key>hyphen_asciitilde.liga</key>
    <string>hyphen_asciitilde.liga.glif</string>
    <key>hyphen_greater.liga</key>
    <string>hyphen_greater.liga.glif</string>
    <key>hyphen_greater_greater.liga</key>
    <string>hyphen_greater_greater.liga.glif</string>
    <key>hyphen_hyphen.liga</key>
    <string>hyphen_hyphen.liga.glif</string>
    <key>hyphen_hyphen_greater.liga</key>
    <string>hyphen_hyphen_greater.liga.glif</string>
    <key>hyphen_less.liga</key>
    <string>hyphen_less.liga.glif</string>
    <key>hyphen_less_less.liga</key>
    <string>hyphen_less_less.liga.glif</string>
    <key>ia-cy</key>
    <string>ia-cy.glif</string>
    <key>ii-cy</key>
    <string>ii-cy.glif</string>
    <key>ij</key>
    <string>ij.glif</string>
    <key>infinity</key>
    <string>infinity.glif</string>
    <key>iogonek</key>
    <string>iogonek.glif</string>
    <key>iota</key>
    <string>iota.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>ka-cy</key>
    <string>ka-cy.glif</string>
    <key>ka-cy.loclBGR</key>
    <string>ka-cy.loclB_G_R_.glif</string>
    <key>kadescender-cy</key>
    <string>kadescender-cy.glif</string>
    <key>kappa</key>
    <string>kappa.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>lambda</key>
    <string>lambda.glif</string>
    <key>lari</key>
    <string>lari.glif</string>
    <key>leftRightArrow</key>
    <string>leftR_ightA_rrow.glif</string>
    <key>less_asciitilde.liga</key>
    <string>less_asciitilde.liga.glif</string>
    <key>less_asciitilde_asciitilde.liga</key>
    <string>less_asciitilde_asciitilde.liga.glif</string>
    <key>less_asciitilde_greater.liga</key>
    <string>less_asciitilde_greater.liga.glif</string>
    <key>less_bar.liga</key>
    <string>less_bar.liga.glif</string>
    <key>less_bar_bar.liga</key>
    <string>less_bar_bar.liga.glif</string>
    <key>less_dollar.liga</key>
    <string>less_dollar.liga.glif</string>
    <key>less_dollar_greater.liga</key>
    <string>less_dollar_greater.liga.glif</string>
    <key>less_equal.liga</key>
    <string>less_equal.liga.glif</string>
    <key>less_equal_equal_greater.liga</key>
    <string>less_equal_equal_greater.liga.glif</string>
    <key>less_hyphen.liga</key>
    <string>less_hyphen.liga.glif</string>
    <key>less_hyphen_hyphen.liga</key>
    <string>less_hyphen_hyphen.liga.glif</string>
    <key>less_less.liga</key>
    <string>less_less.liga.glif</string>
    <key>less_less_hyphen.liga</key>
    <string>less_less_hyphen.liga.glif</string>
    <key>less_plus_greater.liga</key>
    <string>less_plus_greater.liga.glif</string>
    <key>less_slash.liga</key>
    <string>less_slash.liga.glif</string>
    <key>less_slash_greater.liga</key>
    <string>less_slash_greater.liga.glif</string>
    <key>lessequal</key>
    <string>lessequal.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>macroncomb.case</key>
    <string>macroncomb.case.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>nine.dnom</key>
    <string>nine.dnom.glif</string>
    <key>nine.numr</key>
    <string>nine.numr.glif</string>
    <key>nineinferior</key>
    <string>nineinferior.glif</string>
    <key>ninesuperior</key>
    <string>ninesuperior.glif</string>
    <key>nmod</key>
    <string>nmod.glif</string>
    <key>nu</key>
    <string>nu.glif</string>
    <key>num_num_num.liga</key>
    <string>num_num_num.liga.glif</string>
    <key>num_under_parenleft.liga</key>
    <string>num_under_parenleft.liga.glif</string>
    <key>numbersign_colon.liga</key>
    <string>numbersign_colon.liga.glif</string>
    <key>numbersign_exclam.liga</key>
    <string>numbersign_exclam.liga.glif</string>
    <key>numbersign_numbersign.liga</key>
    <string>numbersign_numbersign.liga.glif</string>
    <key>numbersign_parenleft.liga</key>
    <string>numbersign_parenleft.liga.glif</string>
    <key>numbersign_question.liga</key>
    <string>numbersign_question.liga.glif</string>
    <key>numero</key>
    <string>numero.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>ogonekcomb</key>
    <string>ogonekcomb.glif</string>
    <key>omega</key>
    <string>omega.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>oogonek</key>
    <string>oogonek.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>published</key>
    <string>published.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>question_period.liga</key>
    <string>question_period.liga.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>radical</key>
    <string>radical.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>rightArrow</key>
    <string>rightA_rrow.glif</string>
    <key>rupee</key>
    <string>rupee.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>seven.dnom</key>
    <string>seven.dnom.glif</string>
    <key>seven.numr</key>
    <string>seven.numr.glif</string>
    <key>seveninferior</key>
    <string>seveninferior.glif</string>
    <key>sevensuperior</key>
    <string>sevensuperior.glif</string>
    <key>sha-cy</key>
    <string>sha-cy.glif</string>
    <key>sha-cy.loclBGR</key>
    <string>sha-cy.loclB_G_R_.glif</string>
    <key>shcha-cy</key>
    <string>shcha-cy.glif</string>
    <key>sigmafinal</key>
    <string>sigmafinal.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.dnom</key>
    <string>six.dnom.glif</string>
    <key>sixinferior</key>
    <string>sixinferior.glif</string>
    <key>slash_greater.liga</key>
    <string>slash_greater.liga.glif</string>
    <key>softsign-cy</key>
    <string>softsign-cy.glif</string>
    <key>softsign-cy.loclBGR</key>
    <string>softsign-cy.loclB_G_R_.glif</string>
    <key>spadeBlackSuit</key>
    <string>spadeB_lackS_uit.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.numr</key>
    <string>three.numr.glif</string>
    <key>threesuperior</key>
    <string>threesuperior.glif</string>
    <key>tilde_tilde_greater.liga</key>
    <string>tilde_tilde_greater.liga.glif</string>
    <key>tildecomb.case</key>
    <string>tildecomb.case.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>tse-cy</key>
    <string>tse-cy.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.numr</key>
    <string>two.numr.glif</string>
    <key>twosuperior</key>
    <string>twosuperior.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>uhorn</key>
    <string>uhorn.glif</string>
    <key>upDownArrow</key>
    <string>upD_ownA_rrow.glif</string>
    <key>upsilon</key>
    <string>upsilon.glif</string>
    <key>ustraight-cy</key>
    <string>ustraight-cy.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>w_w_w.liga</key>
    <string>w_w_w.liga.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>xi</key>
    <string>xi.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>yeru-cy</key>
    <string>yeru-cy.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>ze-cy</key>
    <string>ze-cy.glif</string>
    <key>ze-cy.loclBGR</key>
    <string>ze-cy.loclB_G_R_.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero.numr</key>
    <string>zero.numr.glif</string>
    <key>zerosuperior</key>
    <string>zerosuperior.glif</string>
    <key>zhe-cy</key>
    <string>zhe-cy.glif</string>
    <key>zhe-cy.loclBGR</key>
    <string>zhe-cy.loclB_G_R_.glif</string>
    <key>zhedescender-cy</key>
    <string>zhedescender-cy.glif</string>
  </dict>
</plist>
