<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AWAY</key>
    <string>A_W_A_Y_.glif</string>
    <key>CLEAN_CODE</key>
    <string>C_L_E_A_N__C_O_D_E_.glif</string>
    <key>EXTERNAL_INTERRUPTION</key>
    <string>E_X_T_E_R_N_A_L__I_N_T_E_R_R_U_P_T_I_O_N_.glif</string>
    <key>INTERNAL_INTERRUPTION</key>
    <string>I_N_T_E_R_N_A_L__I_N_T_E_R_R_U_P_T_I_O_N_.glif</string>
    <key>LONG_PAUSE</key>
    <string>L_O_N_G__P_A_U_S_E_.glif</string>
    <key>PAIR_PROGRAMMING</key>
    <string>P_A_I_R__P_R_O_G_R_A_M_M_I_N_G_.glif</string>
    <key>POMODORO_DONE</key>
    <string>P_O_M_O_D_O_R_O__D_O_N_E_.glif</string>
    <key>POMODORO_ESTIMATED</key>
    <string>P_O_M_O_D_O_R_O__E_S_T_I_M_A_T_E_D_.glif</string>
    <key>POMODORO_SQUASHED</key>
    <string>P_O_M_O_D_O_R_O__S_Q_U_A_S_H_E_D_.glif</string>
    <key>POMODORO_TICKING</key>
    <string>P_O_M_O_D_O_R_O__T_I_C_K_I_N_G_.glif</string>
    <key>SHORT_PAUSE</key>
    <string>S_H_O_R_T__P_A_U_S_E_.glif</string>
  </dict>
</plist>
