<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>3BA0A9C5-DFD5-4908-8817-237E363EC45D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.asterisk.lc</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
