<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C06E7EE6-1F14-47B3-861E-67EC6D95457E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.behDotless-ar.fina.alt</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
