<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Alpha-latin</key>
    <string>A_lpha-latin.glif</string>
    <key>Gstroke</key>
    <string>G_stroke.glif</string>
    <key>Nhookleft</key>
    <string>N_hookleft.glif</string>
    <key>Upsilonafrican</key>
    <string>U_psilonafrican.glif</string>
    <key>asciitilde_asciitilde_greater.liga</key>
    <string>asciitilde_asciitilde_greater.liga.glif</string>
    <key>asciitilde_at.liga</key>
    <string>asciitilde_at.liga.glif</string>
    <key>asciitilde_greater.liga</key>
    <string>asciitilde_greater.liga.glif</string>
    <key>asciitilde_hyphen.liga</key>
    <string>asciitilde_hyphen.liga.glif</string>
    <key>asterisk_parenright.liga</key>
    <string>asterisk_parenright.liga.glif</string>
    <key>bar_bar_equal_middle.seq</key>
    <string>bar_bar_equal_middle.seq.glif</string>
    <key>bar_bar_hyphen_start.seq</key>
    <string>bar_bar_hyphen_start.seq.glif</string>
    <key>be-cy</key>
    <string>be-cy.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>dcaron.alt</key>
    <string>dcaron.alt.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>dollar_greater.liga</key>
    <string>dollar_greater.liga.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>gheupturn-cy</key>
    <string>gheupturn-cy.glif</string>
    <key>glottalstopmod</key>
    <string>glottalstopmod.glif</string>
    <key>gravecomb.case</key>
    <string>gravecomb.case.glif</string>
    <key>greater.alt</key>
    <string>greater.alt.glif</string>
    <key>greater.center</key>
    <string>greater.center.glif</string>
    <key>greater_greater_equal_end.seq</key>
    <string>greater_greater_equal_end.seq.glif</string>
    <key>greater_greater_equal_middle.seq</key>
    <string>greater_greater_equal_middle.seq.glif</string>
    <key>greater_greater_equal_start.seq</key>
    <string>greater_greater_equal_start.seq.glif</string>
    <key>greater_greater_hyphen_end.seq</key>
    <string>greater_greater_hyphen_end.seq.glif</string>
    <key>greater_greater_hyphen_middle.seq</key>
    <string>greater_greater_hyphen_middle.seq.glif</string>
    <key>greater_greater_hyphen_start.seq</key>
    <string>greater_greater_hyphen_start.seq.glif</string>
    <key>hyphen_asciitilde.liga</key>
    <string>hyphen_asciitilde.liga.glif</string>
    <key>idotless</key>
    <string>idotless.glif</string>
    <key>ka-cy</key>
    <string>ka-cy.glif</string>
    <key>kadescender-cy</key>
    <string>kadescender-cy.glif</string>
    <key>kaiSymbol</key>
    <string>kaiS_ymbol.glif</string>
    <key>kappa</key>
    <string>kappa.glif</string>
    <key>less_asciitilde.liga</key>
    <string>less_asciitilde.liga.glif</string>
    <key>less_asciitilde_asciitilde.liga</key>
    <string>less_asciitilde_asciitilde.liga.glif</string>
    <key>less_dollar.liga</key>
    <string>less_dollar.liga.glif</string>
    <key>less_dollar_greater.liga</key>
    <string>less_dollar_greater.liga.glif</string>
    <key>less_less_equal_end.seq</key>
    <string>less_less_equal_end.seq.glif</string>
    <key>less_less_equal_middle.seq</key>
    <string>less_less_equal_middle.seq.glif</string>
    <key>less_less_equal_start.seq</key>
    <string>less_less_equal_start.seq.glif</string>
    <key>less_less_hyphen_end.seq</key>
    <string>less_less_hyphen_end.seq.glif</string>
    <key>less_less_hyphen_middle.seq</key>
    <string>less_less_hyphen_middle.seq.glif</string>
    <key>macroncomb</key>
    <string>macroncomb.glif</string>
    <key>nhookleft</key>
    <string>nhookleft.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>numbersign_middle.seq</key>
    <string>numbersign_middle.seq.glif</string>
    <key>numbersign_underscore_parenleft.liga</key>
    <string>numbersign_underscore_parenleft.liga.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>parenleft_asterisk.liga</key>
    <string>parenleft_asterisk.liga.glif</string>
    <key>period_hyphen.liga</key>
    <string>period_hyphen.liga.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>rho</key>
    <string>rho.glif</string>
    <key>slash_slash_equal_end.seq</key>
    <string>slash_slash_equal_end.seq.glif</string>
    <key>slash_slash_equal_middle.seq</key>
    <string>slash_slash_equal_middle.seq.glif</string>
    <key>slash_slash_equal_start.seq</key>
    <string>slash_slash_equal_start.seq.glif</string>
    <key>tau</key>
    <string>tau.glif</string>
    <key>tse-cy.loclBGR</key>
    <string>tse-cy.loclB_G_R_.glif</string>
    <key>upsilon-latin</key>
    <string>upsilon-latin.glif</string>
  </dict>
</plist>
