<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>_alefFathatan-ar.fina.rlig</key>
    <string>_alefF_athatan-ar.fina.rlig.glif</string>
    <key>_tahabove</key>
    <string>_tahabove.glif</string>
    <key>allah-ar</key>
    <string>allah-ar.glif</string>
    <key>question-ar</key>
    <string>question-ar.glif</string>
  </dict>
</plist>
