<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>_alefFathatan-ar.fina.rlig</key>
    <string>_alefF_athatan-ar.fina.rlig.glif</string>
    <key>_tahabove</key>
    <string>_tahabove.glif</string>
    <key>allah-ar</key>
    <string>allah-ar.glif</string>
    <key>bar_braceright.liga</key>
    <string>bar_braceright.liga.glif</string>
    <key>braceleft_bar.liga</key>
    <string>braceleft_bar.liga.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>braceright_numbersign.liga</key>
    <string>braceright_numbersign.liga.glif</string>
    <key>numbersign_braceleft.liga</key>
    <string>numbersign_braceleft.liga.glif</string>
    <key>question-ar</key>
    <string>question-ar.glif</string>
  </dict>
</plist>
