<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>_279</key>
    <string>_279.glif</string>
    <key>_283</key>
    <string>_283.glif</string>
    <key>_303</key>
    <string>_303.glif</string>
    <key>_312</key>
    <string>_312.glif</string>
    <key>_317</key>
    <string>_317.glif</string>
    <key>_329</key>
    <string>_329.glif</string>
    <key>_334</key>
    <string>_334.glif</string>
    <key>_335</key>
    <string>_335.glif</string>
    <key>_366</key>
    <string>_366.glif</string>
    <key>_372</key>
    <string>_372.glif</string>
    <key>_374</key>
    <string>_374.glif</string>
    <key>_376</key>
    <string>_376.glif</string>
    <key>_378</key>
    <string>_378.glif</string>
    <key>_380</key>
    <string>_380.glif</string>
    <key>_382</key>
    <string>_382.glif</string>
    <key>_383</key>
    <string>_383.glif</string>
    <key>_384</key>
    <string>_384.glif</string>
    <key>_385</key>
    <string>_385.glif</string>
    <key>_386</key>
    <string>_386.glif</string>
    <key>_387</key>
    <string>_387.glif</string>
    <key>_388</key>
    <string>_388.glif</string>
    <key>_389</key>
    <string>_389.glif</string>
    <key>_392</key>
    <string>_392.glif</string>
    <key>_393</key>
    <string>_393.glif</string>
    <key>_395</key>
    <string>_395.glif</string>
    <key>_396</key>
    <string>_396.glif</string>
    <key>_397</key>
    <string>_397.glif</string>
    <key>_398</key>
    <string>_398.glif</string>
    <key>_399</key>
    <string>_399.glif</string>
    <key>_400</key>
    <string>_400.glif</string>
    <key>_402</key>
    <string>_402.glif</string>
    <key>_403</key>
    <string>_403.glif</string>
    <key>_404</key>
    <string>_404.glif</string>
    <key>_406</key>
    <string>_406.glif</string>
    <key>_407</key>
    <string>_407.glif</string>
    <key>_408</key>
    <string>_408.glif</string>
    <key>_409</key>
    <string>_409.glif</string>
    <key>_410</key>
    <string>_410.glif</string>
    <key>_411</key>
    <string>_411.glif</string>
    <key>_412</key>
    <string>_412.glif</string>
    <key>_413</key>
    <string>_413.glif</string>
    <key>_414</key>
    <string>_414.glif</string>
    <key>_415</key>
    <string>_415.glif</string>
    <key>_416</key>
    <string>_416.glif</string>
    <key>_417</key>
    <string>_417.glif</string>
    <key>_418</key>
    <string>_418.glif</string>
    <key>_419</key>
    <string>_419.glif</string>
    <key>_422</key>
    <string>_422.glif</string>
    <key>_423</key>
    <string>_423.glif</string>
    <key>_424</key>
    <string>_424.glif</string>
    <key>_425</key>
    <string>_425.glif</string>
    <key>_426</key>
    <string>_426.glif</string>
    <key>_427</key>
    <string>_427.glif</string>
    <key>_428</key>
    <string>_428.glif</string>
    <key>_429</key>
    <string>_429.glif</string>
    <key>_430</key>
    <string>_430.glif</string>
    <key>_431</key>
    <string>_431.glif</string>
    <key>_432</key>
    <string>_432.glif</string>
    <key>_433</key>
    <string>_433.glif</string>
    <key>_434</key>
    <string>_434.glif</string>
    <key>_438</key>
    <string>_438.glif</string>
    <key>_439</key>
    <string>_439.glif</string>
    <key>_443</key>
    <string>_443.glif</string>
    <key>_444</key>
    <string>_444.glif</string>
    <key>_445</key>
    <string>_445.glif</string>
    <key>_446</key>
    <string>_446.glif</string>
    <key>_447</key>
    <string>_447.glif</string>
    <key>_448</key>
    <string>_448.glif</string>
    <key>_449</key>
    <string>_449.glif</string>
    <key>_451</key>
    <string>_451.glif</string>
    <key>_452</key>
    <string>_452.glif</string>
    <key>_453</key>
    <string>_453.glif</string>
    <key>_454</key>
    <string>_454.glif</string>
    <key>_455</key>
    <string>_455.glif</string>
    <key>_456</key>
    <string>_456.glif</string>
    <key>_457</key>
    <string>_457.glif</string>
    <key>_458</key>
    <string>_458.glif</string>
    <key>_459</key>
    <string>_459.glif</string>
    <key>_460</key>
    <string>_460.glif</string>
    <key>_461</key>
    <string>_461.glif</string>
    <key>_462</key>
    <string>_462.glif</string>
    <key>_463</key>
    <string>_463.glif</string>
    <key>_464</key>
    <string>_464.glif</string>
    <key>_466</key>
    <string>_466.glif</string>
    <key>_467</key>
    <string>_467.glif</string>
    <key>_469</key>
    <string>_469.glif</string>
    <key>_470</key>
    <string>_470.glif</string>
    <key>_471</key>
    <string>_471.glif</string>
    <key>_472</key>
    <string>_472.glif</string>
    <key>_473</key>
    <string>_473.glif</string>
    <key>_474</key>
    <string>_474.glif</string>
    <key>_475</key>
    <string>_475.glif</string>
    <key>_476</key>
    <string>_476.glif</string>
    <key>_478</key>
    <string>_478.glif</string>
    <key>_479</key>
    <string>_479.glif</string>
    <key>_480</key>
    <string>_480.glif</string>
    <key>_481</key>
    <string>_481.glif</string>
    <key>_482</key>
    <string>_482.glif</string>
    <key>_483</key>
    <string>_483.glif</string>
    <key>_484</key>
    <string>_484.glif</string>
    <key>_485</key>
    <string>_485.glif</string>
    <key>_486</key>
    <string>_486.glif</string>
    <key>_487</key>
    <string>_487.glif</string>
    <key>_488</key>
    <string>_488.glif</string>
    <key>_489</key>
    <string>_489.glif</string>
    <key>_490</key>
    <string>_490.glif</string>
    <key>_491</key>
    <string>_491.glif</string>
    <key>_492</key>
    <string>_492.glif</string>
    <key>_493</key>
    <string>_493.glif</string>
    <key>_494</key>
    <string>_494.glif</string>
    <key>_496</key>
    <string>_496.glif</string>
    <key>_498</key>
    <string>_498.glif</string>
    <key>_499</key>
    <string>_499.glif</string>
    <key>_500</key>
    <string>_500.glif</string>
    <key>_501</key>
    <string>_501.glif</string>
    <key>_502</key>
    <string>_502.glif</string>
    <key>_503</key>
    <string>_503.glif</string>
    <key>_504</key>
    <string>_504.glif</string>
    <key>_505</key>
    <string>_505.glif</string>
    <key>_506</key>
    <string>_506.glif</string>
    <key>_507</key>
    <string>_507.glif</string>
    <key>_508</key>
    <string>_508.glif</string>
    <key>_509</key>
    <string>_509.glif</string>
    <key>_511</key>
    <string>_511.glif</string>
    <key>_512</key>
    <string>_512.glif</string>
    <key>_513</key>
    <string>_513.glif</string>
    <key>_514</key>
    <string>_514.glif</string>
    <key>_515</key>
    <string>_515.glif</string>
    <key>_516</key>
    <string>_516.glif</string>
    <key>_517</key>
    <string>_517.glif</string>
    <key>_518</key>
    <string>_518.glif</string>
    <key>_519</key>
    <string>_519.glif</string>
    <key>_520</key>
    <string>_520.glif</string>
    <key>_521</key>
    <string>_521.glif</string>
    <key>_522</key>
    <string>_522.glif</string>
    <key>_523</key>
    <string>_523.glif</string>
    <key>_524</key>
    <string>_524.glif</string>
    <key>_525</key>
    <string>_525.glif</string>
    <key>_526</key>
    <string>_526.glif</string>
    <key>_527</key>
    <string>_527.glif</string>
    <key>_528</key>
    <string>_528.glif</string>
    <key>_529</key>
    <string>_529.glif</string>
    <key>_530</key>
    <string>_530.glif</string>
    <key>_531</key>
    <string>_531.glif</string>
    <key>_532</key>
    <string>_532.glif</string>
    <key>_533</key>
    <string>_533.glif</string>
    <key>_534</key>
    <string>_534.glif</string>
    <key>_535</key>
    <string>_535.glif</string>
    <key>_536</key>
    <string>_536.glif</string>
    <key>_537</key>
    <string>_537.glif</string>
    <key>_538</key>
    <string>_538.glif</string>
    <key>_539</key>
    <string>_539.glif</string>
    <key>_540</key>
    <string>_540.glif</string>
    <key>_541</key>
    <string>_541.glif</string>
    <key>_542</key>
    <string>_542.glif</string>
    <key>_543</key>
    <string>_543.glif</string>
    <key>_544</key>
    <string>_544.glif</string>
    <key>_545</key>
    <string>_545.glif</string>
    <key>_546</key>
    <string>_546.glif</string>
    <key>_547</key>
    <string>_547.glif</string>
    <key>_548</key>
    <string>_548.glif</string>
    <key>_549</key>
    <string>_549.glif</string>
    <key>_550</key>
    <string>_550.glif</string>
    <key>_551</key>
    <string>_551.glif</string>
    <key>_552</key>
    <string>_552.glif</string>
    <key>_553</key>
    <string>_553.glif</string>
    <key>_554</key>
    <string>_554.glif</string>
    <key>_555</key>
    <string>_555.glif</string>
    <key>_556</key>
    <string>_556.glif</string>
    <key>_557</key>
    <string>_557.glif</string>
    <key>_558</key>
    <string>_558.glif</string>
    <key>_559</key>
    <string>_559.glif</string>
    <key>_560</key>
    <string>_560.glif</string>
    <key>_561</key>
    <string>_561.glif</string>
    <key>_562</key>
    <string>_562.glif</string>
    <key>_563</key>
    <string>_563.glif</string>
    <key>_564</key>
    <string>_564.glif</string>
    <key>_565</key>
    <string>_565.glif</string>
    <key>_566</key>
    <string>_566.glif</string>
    <key>_567</key>
    <string>_567.glif</string>
    <key>_568</key>
    <string>_568.glif</string>
    <key>_569</key>
    <string>_569.glif</string>
    <key>_572</key>
    <string>_572.glif</string>
    <key>_574</key>
    <string>_574.glif</string>
    <key>_575</key>
    <string>_575.glif</string>
    <key>_576</key>
    <string>_576.glif</string>
    <key>_577</key>
    <string>_577.glif</string>
    <key>_578</key>
    <string>_578.glif</string>
    <key>_579</key>
    <string>_579.glif</string>
    <key>_580</key>
    <string>_580.glif</string>
    <key>_581</key>
    <string>_581.glif</string>
    <key>_582</key>
    <string>_582.glif</string>
    <key>_583</key>
    <string>_583.glif</string>
    <key>_584</key>
    <string>_584.glif</string>
    <key>_585</key>
    <string>_585.glif</string>
    <key>_586</key>
    <string>_586.glif</string>
    <key>_587</key>
    <string>_587.glif</string>
    <key>_588</key>
    <string>_588.glif</string>
    <key>_589</key>
    <string>_589.glif</string>
    <key>_590</key>
    <string>_590.glif</string>
    <key>_591</key>
    <string>_591.glif</string>
    <key>_592</key>
    <string>_592.glif</string>
    <key>_593</key>
    <string>_593.glif</string>
    <key>_594</key>
    <string>_594.glif</string>
    <key>_595</key>
    <string>_595.glif</string>
    <key>_596</key>
    <string>_596.glif</string>
    <key>_597</key>
    <string>_597.glif</string>
    <key>_598</key>
    <string>_598.glif</string>
    <key>_602</key>
    <string>_602.glif</string>
    <key>_603</key>
    <string>_603.glif</string>
    <key>_604</key>
    <string>_604.glif</string>
    <key>_607</key>
    <string>_607.glif</string>
    <key>_608</key>
    <string>_608.glif</string>
    <key>_609</key>
    <string>_609.glif</string>
    <key>_610</key>
    <string>_610.glif</string>
    <key>_611</key>
    <string>_611.glif</string>
    <key>_612</key>
    <string>_612.glif</string>
    <key>_613</key>
    <string>_613.glif</string>
    <key>_614</key>
    <string>_614.glif</string>
    <key>_615</key>
    <string>_615.glif</string>
    <key>_616</key>
    <string>_616.glif</string>
    <key>_617</key>
    <string>_617.glif</string>
    <key>_618</key>
    <string>_618.glif</string>
    <key>_619</key>
    <string>_619.glif</string>
    <key>_620</key>
    <string>_620.glif</string>
    <key>_621</key>
    <string>_621.glif</string>
    <key>_622</key>
    <string>_622.glif</string>
    <key>_623</key>
    <string>_623.glif</string>
    <key>_624</key>
    <string>_624.glif</string>
    <key>_625</key>
    <string>_625.glif</string>
    <key>_626</key>
    <string>_626.glif</string>
    <key>_627</key>
    <string>_627.glif</string>
    <key>_628</key>
    <string>_628.glif</string>
    <key>_629</key>
    <string>_629.glif</string>
    <key>adjust</key>
    <string>adjust.glif</string>
    <key>adn</key>
    <string>adn.glif</string>
    <key>align_center</key>
    <string>align_center.glif</string>
    <key>align_justify</key>
    <string>align_justify.glif</string>
    <key>align_left</key>
    <string>align_left.glif</string>
    <key>align_right</key>
    <string>align_right.glif</string>
    <key>ambulance</key>
    <string>ambulance.glif</string>
    <key>anchor</key>
    <string>anchor.glif</string>
    <key>android</key>
    <string>android.glif</string>
    <key>angle_down</key>
    <string>angle_down.glif</string>
    <key>angle_left</key>
    <string>angle_left.glif</string>
    <key>angle_right</key>
    <string>angle_right.glif</string>
    <key>angle_up</key>
    <string>angle_up.glif</string>
    <key>apple</key>
    <string>apple.glif</string>
    <key>archive</key>
    <string>archive.glif</string>
    <key>arrow_circle_alt_left</key>
    <string>arrow_circle_alt_left.glif</string>
    <key>arrow_down</key>
    <string>arrow_down.glif</string>
    <key>arrow_left</key>
    <string>arrow_left.glif</string>
    <key>arrow_right</key>
    <string>arrow_right.glif</string>
    <key>arrow_up</key>
    <string>arrow_up.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>backward</key>
    <string>backward.glif</string>
    <key>ban_circle</key>
    <string>ban_circle.glif</string>
    <key>bar_chart</key>
    <string>bar_chart.glif</string>
    <key>barcode</key>
    <string>barcode.glif</string>
    <key>beaker</key>
    <string>beaker.glif</string>
    <key>beer</key>
    <string>beer.glif</string>
    <key>bell</key>
    <string>bell.glif</string>
    <key>bell_alt</key>
    <string>bell_alt.glif</string>
    <key>bitbucket_sign</key>
    <string>bitbucket_sign.glif</string>
    <key>bold</key>
    <string>bold.glif</string>
    <key>bolt</key>
    <string>bolt.glif</string>
    <key>book</key>
    <string>book.glif</string>
    <key>bookmark</key>
    <string>bookmark.glif</string>
    <key>bookmark_empty</key>
    <string>bookmark_empty.glif</string>
    <key>briefcase</key>
    <string>briefcase.glif</string>
    <key>btc</key>
    <string>btc.glif</string>
    <key>bug</key>
    <string>bug.glif</string>
    <key>building</key>
    <string>building.glif</string>
    <key>bullhorn</key>
    <string>bullhorn.glif</string>
    <key>bullseye</key>
    <string>bullseye.glif</string>
    <key>calendar</key>
    <string>calendar.glif</string>
    <key>calendar_empty</key>
    <string>calendar_empty.glif</string>
    <key>camera</key>
    <string>camera.glif</string>
    <key>camera_retro</key>
    <string>camera_retro.glif</string>
    <key>caret_down</key>
    <string>caret_down.glif</string>
    <key>caret_left</key>
    <string>caret_left.glif</string>
    <key>caret_right</key>
    <string>caret_right.glif</string>
    <key>caret_up</key>
    <string>caret_up.glif</string>
    <key>certificate</key>
    <string>certificate.glif</string>
    <key>check</key>
    <string>check.glif</string>
    <key>check_empty</key>
    <string>check_empty.glif</string>
    <key>check_minus</key>
    <string>check_minus.glif</string>
    <key>check_sign</key>
    <string>check_sign.glif</string>
    <key>chevron_down</key>
    <string>chevron_down.glif</string>
    <key>chevron_left</key>
    <string>chevron_left.glif</string>
    <key>chevron_right</key>
    <string>chevron_right.glif</string>
    <key>chevron_sign_down</key>
    <string>chevron_sign_down.glif</string>
    <key>chevron_sign_left</key>
    <string>chevron_sign_left.glif</string>
    <key>chevron_sign_right</key>
    <string>chevron_sign_right.glif</string>
    <key>chevron_sign_up</key>
    <string>chevron_sign_up.glif</string>
    <key>chevron_up</key>
    <string>chevron_up.glif</string>
    <key>circle</key>
    <string>circle.glif</string>
    <key>circle_arrow_down</key>
    <string>circle_arrow_down.glif</string>
    <key>circle_arrow_left</key>
    <string>circle_arrow_left.glif</string>
    <key>circle_arrow_right</key>
    <string>circle_arrow_right.glif</string>
    <key>circle_arrow_up</key>
    <string>circle_arrow_up.glif</string>
    <key>circle_blank</key>
    <string>circle_blank.glif</string>
    <key>cloud</key>
    <string>cloud.glif</string>
    <key>cloud_download</key>
    <string>cloud_download.glif</string>
    <key>cloud_upload</key>
    <string>cloud_upload.glif</string>
    <key>code</key>
    <string>code.glif</string>
    <key>code_fork</key>
    <string>code_fork.glif</string>
    <key>coffee</key>
    <string>coffee.glif</string>
    <key>cog</key>
    <string>cog.glif</string>
    <key>cogs</key>
    <string>cogs.glif</string>
    <key>collapse</key>
    <string>collapse.glif</string>
    <key>collapse_alt</key>
    <string>collapse_alt.glif</string>
    <key>collapse_top</key>
    <string>collapse_top.glif</string>
    <key>columns</key>
    <string>columns.glif</string>
    <key>comment</key>
    <string>comment.glif</string>
    <key>comment_alt</key>
    <string>comment_alt.glif</string>
    <key>comments</key>
    <string>comments.glif</string>
    <key>comments_alt</key>
    <string>comments_alt.glif</string>
    <key>compass</key>
    <string>compass.glif</string>
    <key>copy</key>
    <string>copy.glif</string>
    <key>credit_card</key>
    <string>credit_card.glif</string>
    <key>crop</key>
    <string>crop.glif</string>
    <key>css3</key>
    <string>css3.glif</string>
    <key>cut</key>
    <string>cut.glif</string>
    <key>dashboard</key>
    <string>dashboard.glif</string>
    <key>desktop</key>
    <string>desktop.glif</string>
    <key>dot_circle_alt</key>
    <string>dot_circle_alt.glif</string>
    <key>double_angle_down</key>
    <string>double_angle_down.glif</string>
    <key>double_angle_left</key>
    <string>double_angle_left.glif</string>
    <key>double_angle_right</key>
    <string>double_angle_right.glif</string>
    <key>double_angle_up</key>
    <string>double_angle_up.glif</string>
    <key>download</key>
    <string>download.glif</string>
    <key>download_alt</key>
    <string>download_alt.glif</string>
    <key>dribble</key>
    <string>dribble.glif</string>
    <key>dropbox</key>
    <string>dropbox.glif</string>
    <key>edit</key>
    <string>edit.glif</string>
    <key>edit_sign</key>
    <string>edit_sign.glif</string>
    <key>eject</key>
    <string>eject.glif</string>
    <key>ellipsis_horizontal</key>
    <string>ellipsis_horizontal.glif</string>
    <key>ellipsis_vertical</key>
    <string>ellipsis_vertical.glif</string>
    <key>envelope</key>
    <string>envelope.glif</string>
    <key>envelope_alt</key>
    <string>envelope_alt.glif</string>
    <key>eur</key>
    <string>eur.glif</string>
    <key>exchange</key>
    <string>exchange.glif</string>
    <key>exclamation</key>
    <string>exclamation.glif</string>
    <key>exclamation_sign</key>
    <string>exclamation_sign.glif</string>
    <key>expand_alt</key>
    <string>expand_alt.glif</string>
    <key>external_link</key>
    <string>external_link.glif</string>
    <key>eye_close</key>
    <string>eye_close.glif</string>
    <key>eye_open</key>
    <string>eye_open.glif</string>
    <key>f0fe</key>
    <string>f0fe.glif</string>
    <key>f171</key>
    <string>f171.glif</string>
    <key>f1a1</key>
    <string>f1a1.glif</string>
    <key>f1a4</key>
    <string>f1a4.glif</string>
    <key>f1ab</key>
    <string>f1ab.glif</string>
    <key>f1f3</key>
    <string>f1f3.glif</string>
    <key>f1fc</key>
    <string>f1fc.glif</string>
    <key>f210</key>
    <string>f210.glif</string>
    <key>f212</key>
    <string>f212.glif</string>
    <key>f260</key>
    <string>f260.glif</string>
    <key>f261</key>
    <string>f261.glif</string>
    <key>f263</key>
    <string>f263.glif</string>
    <key>f27e</key>
    <string>f27e.glif</string>
    <key>facebook</key>
    <string>facebook.glif</string>
    <key>facebook_sign</key>
    <string>facebook_sign.glif</string>
    <key>facetime_video</key>
    <string>facetime_video.glif</string>
    <key>fast_backward</key>
    <string>fast_backward.glif</string>
    <key>fast_forward</key>
    <string>fast_forward.glif</string>
    <key>female</key>
    <string>female.glif</string>
    <key>fighter_jet</key>
    <string>fighter_jet.glif</string>
    <key>file</key>
    <string>file.glif</string>
    <key>file_alt</key>
    <string>file_alt.glif</string>
    <key>file_text</key>
    <string>file_text.glif</string>
    <key>file_text_alt</key>
    <string>file_text_alt.glif</string>
    <key>film</key>
    <string>film.glif</string>
    <key>filter</key>
    <string>filter.glif</string>
    <key>fire</key>
    <string>fire.glif</string>
    <key>fire_extinguisher</key>
    <string>fire_extinguisher.glif</string>
    <key>flag</key>
    <string>flag.glif</string>
    <key>flag_alt</key>
    <string>flag_alt.glif</string>
    <key>flag_checkered</key>
    <string>flag_checkered.glif</string>
    <key>flickr</key>
    <string>flickr.glif</string>
    <key>folder_close</key>
    <string>folder_close.glif</string>
    <key>folder_close_alt</key>
    <string>folder_close_alt.glif</string>
    <key>folder_open</key>
    <string>folder_open.glif</string>
    <key>folder_open_alt</key>
    <string>folder_open_alt.glif</string>
    <key>font</key>
    <string>font.glif</string>
    <key>food</key>
    <string>food.glif</string>
    <key>forward</key>
    <string>forward.glif</string>
    <key>foursquare</key>
    <string>foursquare.glif</string>
    <key>frown</key>
    <string>frown.glif</string>
    <key>fullscreen</key>
    <string>fullscreen.glif</string>
    <key>gamepad</key>
    <string>gamepad.glif</string>
    <key>gbp</key>
    <string>gbp.glif</string>
    <key>gift</key>
    <string>gift.glif</string>
    <key>github</key>
    <string>github.glif</string>
    <key>github_alt</key>
    <string>github_alt.glif</string>
    <key>github_sign</key>
    <string>github_sign.glif</string>
    <key>gittip</key>
    <string>gittip.glif</string>
    <key>glass</key>
    <string>glass.glif</string>
    <key>globe</key>
    <string>globe.glif</string>
    <key>google_plus</key>
    <string>google_plus.glif</string>
    <key>google_plus_sign</key>
    <string>google_plus_sign.glif</string>
    <key>group</key>
    <string>group.glif</string>
    <key>h_sign</key>
    <string>h_sign.glif</string>
    <key>hand_down</key>
    <string>hand_down.glif</string>
    <key>hand_left</key>
    <string>hand_left.glif</string>
    <key>hand_right</key>
    <string>hand_right.glif</string>
    <key>hand_up</key>
    <string>hand_up.glif</string>
    <key>hdd</key>
    <string>hdd.glif</string>
    <key>headphones</key>
    <string>headphones.glif</string>
    <key>heart</key>
    <string>heart.glif</string>
    <key>heart_empty</key>
    <string>heart_empty.glif</string>
    <key>home</key>
    <string>home.glif</string>
    <key>hospital</key>
    <string>hospital.glif</string>
    <key>html5</key>
    <string>html5.glif</string>
    <key>inbox</key>
    <string>inbox.glif</string>
    <key>indent_left</key>
    <string>indent_left.glif</string>
    <key>indent_right</key>
    <string>indent_right.glif</string>
    <key>info_sign</key>
    <string>info_sign.glif</string>
    <key>inr</key>
    <string>inr.glif</string>
    <key>instagram</key>
    <string>instagram.glif</string>
    <key>italic</key>
    <string>italic.glif</string>
    <key>jpy</key>
    <string>jpy.glif</string>
    <key>key</key>
    <string>key.glif</string>
    <key>keyboard</key>
    <string>keyboard.glif</string>
    <key>krw</key>
    <string>krw.glif</string>
    <key>laptop</key>
    <string>laptop.glif</string>
    <key>leaf</key>
    <string>leaf.glif</string>
    <key>legal</key>
    <string>legal.glif</string>
    <key>lemon</key>
    <string>lemon.glif</string>
    <key>level_down</key>
    <string>level_down.glif</string>
    <key>level_up</key>
    <string>level_up.glif</string>
    <key>light_bulb</key>
    <string>light_bulb.glif</string>
    <key>link</key>
    <string>link.glif</string>
    <key>linkedin</key>
    <string>linkedin.glif</string>
    <key>linkedin_sign</key>
    <string>linkedin_sign.glif</string>
    <key>linux</key>
    <string>linux.glif</string>
    <key>list</key>
    <string>list.glif</string>
    <key>list_alt</key>
    <string>list_alt.glif</string>
    <key>location_arrow</key>
    <string>location_arrow.glif</string>
    <key>lock</key>
    <string>lock.glif</string>
    <key>long_arrow_down</key>
    <string>long_arrow_down.glif</string>
    <key>long_arrow_left</key>
    <string>long_arrow_left.glif</string>
    <key>long_arrow_right</key>
    <string>long_arrow_right.glif</string>
    <key>long_arrow_up</key>
    <string>long_arrow_up.glif</string>
    <key>magic</key>
    <string>magic.glif</string>
    <key>magnet</key>
    <string>magnet.glif</string>
    <key>male</key>
    <string>male.glif</string>
    <key>map_marker</key>
    <string>map_marker.glif</string>
    <key>maxcdn</key>
    <string>maxcdn.glif</string>
    <key>medkit</key>
    <string>medkit.glif</string>
    <key>meh</key>
    <string>meh.glif</string>
    <key>microphone</key>
    <string>microphone.glif</string>
    <key>microphone_off</key>
    <string>microphone_off.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>minus_sign</key>
    <string>minus_sign.glif</string>
    <key>minus_sign_alt</key>
    <string>minus_sign_alt.glif</string>
    <key>mobile_phone</key>
    <string>mobile_phone.glif</string>
    <key>money</key>
    <string>money.glif</string>
    <key>move</key>
    <string>move.glif</string>
    <key>music</key>
    <string>music.glif</string>
    <key>off</key>
    <string>off.glif</string>
    <key>ok</key>
    <string>ok.glif</string>
    <key>ok_circle</key>
    <string>ok_circle.glif</string>
    <key>ok_sign</key>
    <string>ok_sign.glif</string>
    <key>ol</key>
    <string>ol.glif</string>
    <key>paper_clip</key>
    <string>paper_clip.glif</string>
    <key>paste</key>
    <string>paste.glif</string>
    <key>pause</key>
    <string>pause.glif</string>
    <key>pencil</key>
    <string>pencil.glif</string>
    <key>phone</key>
    <string>phone.glif</string>
    <key>phone_sign</key>
    <string>phone_sign.glif</string>
    <key>picture</key>
    <string>picture.glif</string>
    <key>pinterest</key>
    <string>pinterest.glif</string>
    <key>pinterest_sign</key>
    <string>pinterest_sign.glif</string>
    <key>plane</key>
    <string>plane.glif</string>
    <key>play</key>
    <string>play.glif</string>
    <key>play_circle</key>
    <string>play_circle.glif</string>
    <key>play_sign</key>
    <string>play_sign.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>plus_sign</key>
    <string>plus_sign.glif</string>
    <key>plus_square_o</key>
    <string>plus_square_o.glif</string>
    <key>print</key>
    <string>print.glif</string>
    <key>pushpin</key>
    <string>pushpin.glif</string>
    <key>puzzle_piece</key>
    <string>puzzle_piece.glif</string>
    <key>qrcode</key>
    <string>qrcode.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>question_sign</key>
    <string>question_sign.glif</string>
    <key>quote_left</key>
    <string>quote_left.glif</string>
    <key>quote_right</key>
    <string>quote_right.glif</string>
    <key>random</key>
    <string>random.glif</string>
    <key>refresh</key>
    <string>refresh.glif</string>
    <key>remove</key>
    <string>remove.glif</string>
    <key>remove_circle</key>
    <string>remove_circle.glif</string>
    <key>remove_sign</key>
    <string>remove_sign.glif</string>
    <key>renren</key>
    <string>renren.glif</string>
    <key>reorder</key>
    <string>reorder.glif</string>
    <key>repeat</key>
    <string>repeat.glif</string>
    <key>reply</key>
    <string>reply.glif</string>
    <key>reply_all</key>
    <string>reply_all.glif</string>
    <key>resize_full</key>
    <string>resize_full.glif</string>
    <key>resize_horizontal</key>
    <string>resize_horizontal.glif</string>
    <key>resize_small</key>
    <string>resize_small.glif</string>
    <key>resize_vertical</key>
    <string>resize_vertical.glif</string>
    <key>retweet</key>
    <string>retweet.glif</string>
    <key>road</key>
    <string>road.glif</string>
    <key>rocket</key>
    <string>rocket.glif</string>
    <key>rss</key>
    <string>rss.glif</string>
    <key>rub</key>
    <string>rub.glif</string>
    <key>save</key>
    <string>save.glif</string>
    <key>screenshot</key>
    <string>screenshot.glif</string>
    <key>search</key>
    <string>search.glif</string>
    <key>share</key>
    <string>share.glif</string>
    <key>share_alt</key>
    <string>share_alt.glif</string>
    <key>share_sign</key>
    <string>share_sign.glif</string>
    <key>shield</key>
    <string>shield.glif</string>
    <key>shopping_cart</key>
    <string>shopping_cart.glif</string>
    <key>sign_blank</key>
    <string>sign_blank.glif</string>
    <key>signal</key>
    <string>signal.glif</string>
    <key>signin</key>
    <string>signin.glif</string>
    <key>signout</key>
    <string>signout.glif</string>
    <key>sitemap</key>
    <string>sitemap.glif</string>
    <key>skype</key>
    <string>skype.glif</string>
    <key>smile</key>
    <string>smile.glif</string>
    <key>sort</key>
    <string>sort.glif</string>
    <key>sort_by_alphabet</key>
    <string>sort_by_alphabet.glif</string>
    <key>sort_by_attributes</key>
    <string>sort_by_attributes.glif</string>
    <key>sort_by_attributes_alt</key>
    <string>sort_by_attributes_alt.glif</string>
    <key>sort_by_order</key>
    <string>sort_by_order.glif</string>
    <key>sort_by_order_alt</key>
    <string>sort_by_order_alt.glif</string>
    <key>sort_down</key>
    <string>sort_down.glif</string>
    <key>sort_up</key>
    <string>sort_up.glif</string>
    <key>spinner</key>
    <string>spinner.glif</string>
    <key>stack_exchange</key>
    <string>stack_exchange.glif</string>
    <key>stackexchange</key>
    <string>stackexchange.glif</string>
    <key>star</key>
    <string>star.glif</string>
    <key>star_empty</key>
    <string>star_empty.glif</string>
    <key>star_half</key>
    <string>star_half.glif</string>
    <key>star_half_empty</key>
    <string>star_half_empty.glif</string>
    <key>step_backward</key>
    <string>step_backward.glif</string>
    <key>step_forward</key>
    <string>step_forward.glif</string>
    <key>stethoscope</key>
    <string>stethoscope.glif</string>
    <key>stop</key>
    <string>stop.glif</string>
    <key>strikethrough</key>
    <string>strikethrough.glif</string>
    <key>subscript</key>
    <string>subscript.glif</string>
    <key>suitcase</key>
    <string>suitcase.glif</string>
    <key>sun</key>
    <string>sun.glif</string>
    <key>superscript</key>
    <string>superscript.glif</string>
    <key>table</key>
    <string>table.glif</string>
    <key>tablet</key>
    <string>tablet.glif</string>
    <key>tag</key>
    <string>tag.glif</string>
    <key>tags</key>
    <string>tags.glif</string>
    <key>tasks</key>
    <string>tasks.glif</string>
    <key>terminal</key>
    <string>terminal.glif</string>
    <key>text_height</key>
    <string>text_height.glif</string>
    <key>text_width</key>
    <string>text_width.glif</string>
    <key>th</key>
    <string>th.glif</string>
    <key>th_large</key>
    <string>th_large.glif</string>
    <key>th_list</key>
    <string>th_list.glif</string>
    <key>thumbs_down_alt</key>
    <string>thumbs_down_alt.glif</string>
    <key>thumbs_up_alt</key>
    <string>thumbs_up_alt.glif</string>
    <key>ticket</key>
    <string>ticket.glif</string>
    <key>time</key>
    <string>time.glif</string>
    <key>tint</key>
    <string>tint.glif</string>
    <key>trash</key>
    <string>trash.glif</string>
    <key>trello</key>
    <string>trello.glif</string>
    <key>trophy</key>
    <string>trophy.glif</string>
    <key>truck</key>
    <string>truck.glif</string>
    <key>tumblr</key>
    <string>tumblr.glif</string>
    <key>tumblr_sign</key>
    <string>tumblr_sign.glif</string>
    <key>twitter</key>
    <string>twitter.glif</string>
    <key>twitter_sign</key>
    <string>twitter_sign.glif</string>
    <key>ul</key>
    <string>ul.glif</string>
    <key>umbrella</key>
    <string>umbrella.glif</string>
    <key>underline</key>
    <string>underline.glif</string>
    <key>undo</key>
    <string>undo.glif</string>
    <key>uniF1A0</key>
    <string>uniF_1A_0.glif</string>
    <key>uniF1B1</key>
    <string>uniF_1B_1.glif</string>
    <key>uniF1C0</key>
    <string>uniF_1C_0.glif</string>
    <key>uniF1C1</key>
    <string>uniF_1C_1.glif</string>
    <key>uniF1D0</key>
    <string>uniF_1D_0.glif</string>
    <key>uniF1D1</key>
    <string>uniF_1D_1.glif</string>
    <key>uniF1D2</key>
    <string>uniF_1D_2.glif</string>
    <key>uniF1D5</key>
    <string>uniF_1D_5.glif</string>
    <key>uniF1D6</key>
    <string>uniF_1D_6.glif</string>
    <key>uniF1D7</key>
    <string>uniF_1D_7.glif</string>
    <key>uniF1E0</key>
    <string>uniF_1E_0.glif</string>
    <key>uniF1F0</key>
    <string>uniF_1F_0.glif</string>
    <key>uniF280</key>
    <string>uniF_280.glif</string>
    <key>uniF281</key>
    <string>uniF_281.glif</string>
    <key>uniF285</key>
    <string>uniF_285.glif</string>
    <key>uniF286</key>
    <string>uniF_286.glif</string>
    <key>uniF2A0</key>
    <string>uniF_2A_0.glif</string>
    <key>uniF2A1</key>
    <string>uniF_2A_1.glif</string>
    <key>uniF2A2</key>
    <string>uniF_2A_2.glif</string>
    <key>uniF2A3</key>
    <string>uniF_2A_3.glif</string>
    <key>uniF2A4</key>
    <string>uniF_2A_4.glif</string>
    <key>uniF2A5</key>
    <string>uniF_2A_5.glif</string>
    <key>uniF2A6</key>
    <string>uniF_2A_6.glif</string>
    <key>uniF2A7</key>
    <string>uniF_2A_7.glif</string>
    <key>uniF2A8</key>
    <string>uniF_2A_8.glif</string>
    <key>uniF2A9</key>
    <string>uniF_2A_9.glif</string>
    <key>uniF2AA</key>
    <string>uniF_2A_A_.glif</string>
    <key>uniF2AB</key>
    <string>uniF_2A_B_.glif</string>
    <key>uniF2AC</key>
    <string>uniF_2A_C_.glif</string>
    <key>uniF2AD</key>
    <string>uniF_2A_D_.glif</string>
    <key>uniF2AE</key>
    <string>uniF_2A_E_.glif</string>
    <key>uniF2B0</key>
    <string>uniF_2B_0.glif</string>
    <key>uniF2B1</key>
    <string>uniF_2B_1.glif</string>
    <key>uniF2B2</key>
    <string>uniF_2B_2.glif</string>
    <key>uniF2B3</key>
    <string>uniF_2B_3.glif</string>
    <key>uniF2B4</key>
    <string>uniF_2B_4.glif</string>
    <key>uniF2B5</key>
    <string>uniF_2B_5.glif</string>
    <key>uniF2B6</key>
    <string>uniF_2B_6.glif</string>
    <key>uniF2B7</key>
    <string>uniF_2B_7.glif</string>
    <key>uniF2B8</key>
    <string>uniF_2B_8.glif</string>
    <key>uniF2B9</key>
    <string>uniF_2B_9.glif</string>
    <key>uniF2BA</key>
    <string>uniF_2B_A_.glif</string>
    <key>uniF2BB</key>
    <string>uniF_2B_B_.glif</string>
    <key>uniF2BC</key>
    <string>uniF_2B_C_.glif</string>
    <key>uniF2BD</key>
    <string>uniF_2B_D_.glif</string>
    <key>uniF2BE</key>
    <string>uniF_2B_E_.glif</string>
    <key>uniF2C0</key>
    <string>uniF_2C_0.glif</string>
    <key>uniF2C1</key>
    <string>uniF_2C_1.glif</string>
    <key>uniF2C2</key>
    <string>uniF_2C_2.glif</string>
    <key>uniF2C3</key>
    <string>uniF_2C_3.glif</string>
    <key>uniF2C4</key>
    <string>uniF_2C_4.glif</string>
    <key>uniF2C5</key>
    <string>uniF_2C_5.glif</string>
    <key>uniF2C6</key>
    <string>uniF_2C_6.glif</string>
    <key>uniF2C7</key>
    <string>uniF_2C_7.glif</string>
    <key>uniF2C8</key>
    <string>uniF_2C_8.glif</string>
    <key>uniF2C9</key>
    <string>uniF_2C_9.glif</string>
    <key>uniF2CA</key>
    <string>uniF_2C_A_.glif</string>
    <key>uniF2CB</key>
    <string>uniF_2C_B_.glif</string>
    <key>uniF2CC</key>
    <string>uniF_2C_C_.glif</string>
    <key>uniF2CD</key>
    <string>uniF_2C_D_.glif</string>
    <key>uniF2CE</key>
    <string>uniF_2C_E_.glif</string>
    <key>uniF2D0</key>
    <string>uniF_2D_0.glif</string>
    <key>uniF2D1</key>
    <string>uniF_2D_1.glif</string>
    <key>uniF2D2</key>
    <string>uniF_2D_2.glif</string>
    <key>uniF2D3</key>
    <string>uniF_2D_3.glif</string>
    <key>uniF2D4</key>
    <string>uniF_2D_4.glif</string>
    <key>uniF2D5</key>
    <string>uniF_2D_5.glif</string>
    <key>uniF2D6</key>
    <string>uniF_2D_6.glif</string>
    <key>uniF2D7</key>
    <string>uniF_2D_7.glif</string>
    <key>uniF2D8</key>
    <string>uniF_2D_8.glif</string>
    <key>uniF2D9</key>
    <string>uniF_2D_9.glif</string>
    <key>uniF2DA</key>
    <string>uniF_2D_A_.glif</string>
    <key>uniF2DB</key>
    <string>uniF_2D_B_.glif</string>
    <key>uniF2DC</key>
    <string>uniF_2D_C_.glif</string>
    <key>uniF2DD</key>
    <string>uniF_2D_D_.glif</string>
    <key>uniF2DE</key>
    <string>uniF_2D_E_.glif</string>
    <key>uniF2E0</key>
    <string>uniF_2E_0.glif</string>
    <key>unlink</key>
    <string>unlink.glif</string>
    <key>unlock</key>
    <string>unlock.glif</string>
    <key>unlock_alt</key>
    <string>unlock_alt.glif</string>
    <key>upload</key>
    <string>upload.glif</string>
    <key>upload_alt</key>
    <string>upload_alt.glif</string>
    <key>usd</key>
    <string>usd.glif</string>
    <key>user</key>
    <string>user.glif</string>
    <key>user_md</key>
    <string>user_md.glif</string>
    <key>venus</key>
    <string>venus.glif</string>
    <key>vimeo_square</key>
    <string>vimeo_square.glif</string>
    <key>vk</key>
    <string>vk.glif</string>
    <key>volume_down</key>
    <string>volume_down.glif</string>
    <key>volume_off</key>
    <string>volume_off.glif</string>
    <key>volume_up</key>
    <string>volume_up.glif</string>
    <key>warning_sign</key>
    <string>warning_sign.glif</string>
    <key>weibo</key>
    <string>weibo.glif</string>
    <key>windows</key>
    <string>windows.glif</string>
    <key>wrench</key>
    <string>wrench.glif</string>
    <key>xing</key>
    <string>xing.glif</string>
    <key>xing_sign</key>
    <string>xing_sign.glif</string>
    <key>youtube</key>
    <string>youtube.glif</string>
    <key>youtube_play</key>
    <string>youtube_play.glif</string>
    <key>youtube_sign</key>
    <string>youtube_sign.glif</string>
    <key>zoom_in</key>
    <string>zoom_in.glif</string>
    <key>zoom_out</key>
    <string>zoom_out.glif</string>
  </dict>
</plist>
