<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>uniE0B4</key>
    <string>uniE_0B_4.glif</string>
    <key>uniE0B6</key>
    <string>uniE_0B_6.glif</string>
    <key>uniE0C0</key>
    <string>uniE_0C_0.glif</string>
    <key>uniE0C0.stypo</key>
    <string>uniE_0C_0.stypo.glif</string>
    <key>uniE0C8.stypo</key>
    <string>uniE_0C_8.stypo.glif</string>
    <key>uniE0CA</key>
    <string>uniE_0C_A_.glif</string>
  </dict>
</plist>
