<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>819</integer>
    <key>capHeight</key>
    <integer>0</integer>
    <key>copyright</key>
    <string>Nerd Fonts</string>
    <key>descender</key>
    <integer>-205</integer>
    <key>familyName</key>
    <string>Nerd Font File Types</string>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2023/11/22 16:13:24</string>
    <key>openTypeHheaAscender</key>
    <integer>900</integer>
    <key>openTypeHheaDescender</key>
    <integer>0</integer>
    <key>openTypeNameManufacturerURL</key>
    <string>https://github.com/ryanoasis/nerd-fonts</string>
    <key>openTypeNamePreferredSubfamilyName</key>
    <string>Regular</string>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>2</integer>
      <integer>0</integer>
      <integer>5</integer>
      <integer>3</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>265</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>51</integer>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>819</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-205</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>92</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>0</integer>
      <integer>60</integer>
    </array>
    <key>openTypeOS2VendorID</key>
    <string>PfEd</string>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>900</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>0</integer>
    <key>postscriptBlueShift</key>
    <integer>12</integer>
    <key>postscriptFontName</key>
    <string>NerdFontFileTypes-Regular</string>
    <key>postscriptUnderlinePosition</key>
    <integer>-102</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>51</integer>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Regular</string>
    <key>unitsPerEm</key>
    <integer>1024</integer>
    <key>versionMajor</key>
    <integer>3</integer>
    <key>versionMinor</key>
    <integer>100</integer>
    <key>xHeight</key>
    <integer>0</integer>
  </dict>
</plist>
