<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>3241</string>
    <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>m01</string>
    <key>com.schriftgestaltung.formatVersion</key>
    <integer>3</integer>
    <key>com.schriftgestaltung.useGlyphOrder</key>
    <true/>
    <key>com.schriftgestaltung.useNiceNames</key>
    <false/>
    <key>public.glyphOrder</key>
    <array>
      <string>i_custom_folder_npm</string>
      <string>i_custom_folder_git</string>
      <string>i_custom_folder_config</string>
      <string>i_custom_folder_github</string>
      <string>i_custom_folder_open</string>
      <string>i_custom_folder</string>
      <string>i_seti_stylus</string>
      <string>i_seti_project</string>
      <string>i_custom_play_arrow</string>
      <string>i_seti_sass</string>
      <string>i_seti_rails</string>
      <string>i_seti_ruby</string>
      <string>i_seti_python</string>
      <string>i_seti_heroku</string>
      <string>i_seti_php</string>
      <string>i_seti_markdown</string>
      <string>i_seti_license</string>
      <string>i_seti_json</string>
      <string>i_seti_javascript</string>
      <string>i_seti_image</string>
      <string>i_seti_html</string>
      <string>i_seti_mustache</string>
      <string>i_seti_gulp</string>
      <string>i_seti_grunt</string>
      <string>i_custom_default</string>
      <string>i_seti_folder</string>
      <string>i_seti_css</string>
      <string>i_seti_config</string>
      <string>i_seti_npm</string>
      <string>i_custom_home</string>
      <string>i_seti_ejs</string>
      <string>i_seti_xml</string>
      <string>i_seti_bower</string>
      <string>i_seti_coffee</string>
      <string>i_seti_twig</string>
      <string>i_custom_cpp</string>
      <string>i_custom_c</string>
      <string>i_seti_haskell</string>
      <string>i_seti_lua</string>
      <string>i_indent_line</string>
      <string>i_seti_karma</string>
      <string>i_seti_favicon</string>
      <string>i_seti_julia</string>
      <string>i_seti_react</string>
      <string>i_custom_go</string>
      <string>i_seti_go</string>
      <string>i_seti_typescript</string>
      <string>i_custom_msdos</string>
      <string>i_custom_windows</string>
      <string>i_custom_vim</string>
      <string>i_custom_elm</string>
      <string>i_custom_elixir</string>
      <string>i_custom_electron</string>
      <string>i_custom_crystal</string>
      <string>i_custom_purescript</string>
      <string>i_seti_puppet</string>
      <string>i_custom_emacs</string>
      <string>i_custom_orgmode</string>
      <string>i_custom_kotlin</string>
      <string>i_seti_apple</string>
      <string>i_seti_argdown</string>
      <string>i_seti_asm</string>
      <string>i_seti_audio</string>
      <string>i_seti_babel</string>
      <string>i_seti_bazel</string>
      <string>i_seti_bicep</string>
      <string>i_seti_bsl</string>
      <string>i_seti_cake_php</string>
      <string>i_seti_cake</string>
      <string>i_seti_checkbox</string>
      <string>i_seti_checkbox_unchecked</string>
      <string>i_seti_clock</string>
      <string>i_seti_clojure</string>
      <string>i_seti_code_climate</string>
      <string>i_seti_code_search</string>
      <string>i_seti_coldfusion</string>
      <string>i_seti_cpp</string>
      <string>i_seti_crystal_embedded</string>
      <string>i_seti_c_sharp</string>
      <string>i_seti_c</string>
      <string>i_seti_csv</string>
      <string>i_seti_cu</string>
      <string>i_seti_dart</string>
      <string>i_seti_db</string>
      <string>i_seti_default</string>
      <string>i_seti_deprecation_cop</string>
      <string>i_seti_docker</string>
      <string>i_seti_d</string>
      <string>i_seti_editorconfig</string>
      <string>i_seti_elixir_script</string>
      <string>i_seti_error</string>
      <string>i_seti_eslint</string>
      <string>i_seti_ethereum</string>
      <string>i_seti_firebase</string>
      <string>i_seti_firefox</string>
      <string>i_seti_font</string>
      <string>i_seti_f_sharp</string>
      <string>i_seti_github</string>
      <string>i_seti_gitlab</string>
      <string>i_seti_git</string>
      <string>i_seti_go2</string>
      <string>i_seti_godot</string>
      <string>i_seti_gradle</string>
      <string>i_seti_grails</string>
      <string>i_seti_graphql</string>
      <string>i_seti_hacklang</string>
      <string>i_seti_haml</string>
      <string>i_seti_happenings</string>
      <string>i_seti_haxe</string>
      <string>i_seti_hex</string>
      <string>i_seti_ignored</string>
      <string>i_seti_illustrator</string>
      <string>i_seti_info</string>
      <string>i_seti_ionic</string>
      <string>i_seti_jade</string>
      <string>i_seti_java</string>
      <string>i_seti_jenkins</string>
      <string>i_seti_jinja</string>
      <string>i_seti_liquid</string>
      <string>i_seti_livescript</string>
      <string>i_seti_lock</string>
      <string>i_seti_makefile</string>
      <string>i_seti_maven</string>
      <string>i_seti_mdo</string>
      <string>i_seti_new_file</string>
      <string>i_seti_nim</string>
      <string>i_seti_notebook</string>
      <string>i_seti_nunjucks</string>
      <string>i_seti_ocaml</string>
      <string>i_seti_odata</string>
      <string>i_seti_pddl</string>
      <string>i_seti_pdf</string>
      <string>i_seti_perl</string>
      <string>i_seti_photoshop</string>
      <string>i_seti_pipeline</string>
      <string>i_seti_plan</string>
      <string>i_seti_platformio</string>
      <string>i_seti_powershell</string>
      <string>i_seti_prisma</string>
      <string>i_seti_prolog</string>
      <string>i_seti_pug</string>
      <string>i_seti_reasonml</string>
      <string>i_seti_rescript</string>
      <string>i_seti_rollup</string>
      <string>i_seti_r</string>
      <string>i_seti_rust</string>
      <string>i_seti_salesforce</string>
      <string>i_seti_sbt</string>
      <string>i_seti_scala</string>
      <string>i_seti_search</string>
      <string>i_seti_settings</string>
      <string>i_seti_shell</string>
      <string>i_seti_slim</string>
      <string>i_seti_smarty</string>
      <string>i_seti_spring</string>
      <string>i_seti_stylelint</string>
      <string>i_seti_sublime</string>
      <string>i_seti_svelte</string>
      <string>i_seti_svg</string>
      <string>i_seti_swift</string>
      <string>i_seti_terraform</string>
      <string>i_seti_tex</string>
      <string>i_seti_todo</string>
      <string>i_seti_tsconfig</string>
      <string>i_seti_vala</string>
      <string>i_seti_video</string>
      <string>i_seti_vue</string>
      <string>i_seti_wasm</string>
      <string>i_seti_wat</string>
      <string>i_seti_webpack</string>
      <string>i_seti_wgt</string>
      <string>i_seti_word</string>
      <string>i_seti_xls</string>
      <string>i_seti_yarn</string>
      <string>i_seti_yml</string>
      <string>i_seti_zig</string>
      <string>i_seti_zip</string>
      <string>i_custom_asm</string>
      <string>i_custom_v_lang</string>
      <string>i_custom_folder_oct</string>
      <string>i_custom_neovim</string>
      <string>i_custom_fennel</string>
      <string>i_custom_common_lisp</string>
      <string>i_custom_scheme</string>
      <string>i_custom_toml</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>i_custom_asm</key>
      <string>uniE5AB</string>
      <key>i_custom_c</key>
      <string>uniE51E</string>
      <key>i_custom_common_lisp</key>
      <string>uniE5B0</string>
      <key>i_custom_cpp</key>
      <string>uniE51D</string>
      <key>i_custom_crystal</key>
      <string>uniE52F</string>
      <key>i_custom_default</key>
      <string>uniE512</string>
      <key>i_custom_electron</key>
      <string>uniE52E</string>
      <key>i_custom_elixir</key>
      <string>uniE52D</string>
      <key>i_custom_elm</key>
      <string>uniE52C</string>
      <key>i_custom_emacs</key>
      <string>uniE532</string>
      <key>i_custom_fennel</key>
      <string>uniE5AF</string>
      <key>i_custom_folder</key>
      <string>uniE4FF</string>
      <key>i_custom_folder_config</key>
      <string>uniE4FC</string>
      <key>i_custom_folder_git</key>
      <string>uniE4FB</string>
      <key>i_custom_folder_github</key>
      <string>uniE4FD</string>
      <key>i_custom_folder_npm</key>
      <string>uniE4FA</string>
      <key>i_custom_folder_oct</key>
      <string>uniE5AD</string>
      <key>i_custom_folder_open</key>
      <string>uniE4FE</string>
      <key>i_custom_go</key>
      <string>uniE526</string>
      <key>i_custom_home</key>
      <string>uniE517</string>
      <key>i_custom_kotlin</key>
      <string>uniE534</string>
      <key>i_custom_msdos</key>
      <string>uniE529</string>
      <key>i_custom_neovim</key>
      <string>uniE5AE</string>
      <key>i_custom_orgmode</key>
      <string>uniE533</string>
      <key>i_custom_play_arrow</key>
      <string>uniE502</string>
      <key>i_custom_purescript</key>
      <string>uniE530</string>
      <key>i_custom_scheme</key>
      <string>uniE5B1</string>
      <key>i_custom_toml</key>
      <string>uniE5B2</string>
      <key>i_custom_v_lang</key>
      <string>uniE5AC</string>
      <key>i_custom_vim</key>
      <string>uniE52B</string>
      <key>i_custom_windows</key>
      <string>uniE52A</string>
      <key>i_indent_line</key>
      <string>uniE521</string>
      <key>i_seti_apple</key>
      <string>uniE535</string>
      <key>i_seti_argdown</key>
      <string>uniE536</string>
      <key>i_seti_asm</key>
      <string>uniE537</string>
      <key>i_seti_audio</key>
      <string>uniE538</string>
      <key>i_seti_babel</key>
      <string>uniE539</string>
      <key>i_seti_bazel</key>
      <string>uniE53A</string>
      <key>i_seti_bicep</key>
      <string>uniE53B</string>
      <key>i_seti_bower</key>
      <string>uniE51A</string>
      <key>i_seti_bsl</key>
      <string>uniE53C</string>
      <key>i_seti_c</key>
      <string>uniE549</string>
      <key>i_seti_c_sharp</key>
      <string>uniE548</string>
      <key>i_seti_cake</key>
      <string>uniE53E</string>
      <key>i_seti_cake_php</key>
      <string>uniE53D</string>
      <key>i_seti_checkbox</key>
      <string>uniE53F</string>
      <key>i_seti_checkbox_unchecked</key>
      <string>uniE540</string>
      <key>i_seti_clock</key>
      <string>uniE541</string>
      <key>i_seti_clojure</key>
      <string>uniE542</string>
      <key>i_seti_code_climate</key>
      <string>uniE543</string>
      <key>i_seti_code_search</key>
      <string>uniE544</string>
      <key>i_seti_coffee</key>
      <string>uniE51B</string>
      <key>i_seti_coldfusion</key>
      <string>uniE545</string>
      <key>i_seti_config</key>
      <string>uniE515</string>
      <key>i_seti_cpp</key>
      <string>uniE546</string>
      <key>i_seti_crystal_embedded</key>
      <string>uniE547</string>
      <key>i_seti_css</key>
      <string>uniE514</string>
      <key>i_seti_csv</key>
      <string>uniE54A</string>
      <key>i_seti_cu</key>
      <string>uniE54B</string>
      <key>i_seti_d</key>
      <string>uniE551</string>
      <key>i_seti_dart</key>
      <string>uniE54C</string>
      <key>i_seti_db</key>
      <string>uniE54D</string>
      <key>i_seti_default</key>
      <string>uniE54E</string>
      <key>i_seti_deprecation_cop</key>
      <string>uniE54F</string>
      <key>i_seti_docker</key>
      <string>uniE550</string>
      <key>i_seti_editorconfig</key>
      <string>uniE552</string>
      <key>i_seti_ejs</key>
      <string>uniE518</string>
      <key>i_seti_elixir_script</key>
      <string>uniE553</string>
      <key>i_seti_error</key>
      <string>uniE554</string>
      <key>i_seti_eslint</key>
      <string>uniE555</string>
      <key>i_seti_ethereum</key>
      <string>uniE556</string>
      <key>i_seti_f_sharp</key>
      <string>uniE55A</string>
      <key>i_seti_favicon</key>
      <string>uniE523</string>
      <key>i_seti_firebase</key>
      <string>uniE557</string>
      <key>i_seti_firefox</key>
      <string>uniE558</string>
      <key>i_seti_folder</key>
      <string>uniE513</string>
      <key>i_seti_font</key>
      <string>uniE559</string>
      <key>i_seti_git</key>
      <string>uniE55D</string>
      <key>i_seti_github</key>
      <string>uniE55B</string>
      <key>i_seti_gitlab</key>
      <string>uniE55C</string>
      <key>i_seti_go</key>
      <string>uniE527</string>
      <key>i_seti_go2</key>
      <string>uniE55E</string>
      <key>i_seti_godot</key>
      <string>uniE55F</string>
      <key>i_seti_gradle</key>
      <string>uniE560</string>
      <key>i_seti_grails</key>
      <string>uniE561</string>
      <key>i_seti_graphql</key>
      <string>uniE562</string>
      <key>i_seti_grunt</key>
      <string>uniE511</string>
      <key>i_seti_gulp</key>
      <string>uniE510</string>
      <key>i_seti_hacklang</key>
      <string>uniE563</string>
      <key>i_seti_haml</key>
      <string>uniE564</string>
      <key>i_seti_happenings</key>
      <string>uniE565</string>
      <key>i_seti_haskell</key>
      <string>uniE51F</string>
      <key>i_seti_haxe</key>
      <string>uniE566</string>
      <key>i_seti_heroku</key>
      <string>uniE507</string>
      <key>i_seti_hex</key>
      <string>uniE567</string>
      <key>i_seti_html</key>
      <string>uniE50E</string>
      <key>i_seti_ignored</key>
      <string>uniE568</string>
      <key>i_seti_illustrator</key>
      <string>uniE569</string>
      <key>i_seti_image</key>
      <string>uniE50D</string>
      <key>i_seti_info</key>
      <string>uniE56A</string>
      <key>i_seti_ionic</key>
      <string>uniE56B</string>
      <key>i_seti_jade</key>
      <string>uniE56C</string>
      <key>i_seti_java</key>
      <string>uniE56D</string>
      <key>i_seti_javascript</key>
      <string>uniE50C</string>
      <key>i_seti_jenkins</key>
      <string>uniE56E</string>
      <key>i_seti_jinja</key>
      <string>uniE56F</string>
      <key>i_seti_json</key>
      <string>uniE50B</string>
      <key>i_seti_julia</key>
      <string>uniE524</string>
      <key>i_seti_karma</key>
      <string>uniE522</string>
      <key>i_seti_license</key>
      <string>uniE50A</string>
      <key>i_seti_liquid</key>
      <string>uniE570</string>
      <key>i_seti_livescript</key>
      <string>uniE571</string>
      <key>i_seti_lock</key>
      <string>uniE572</string>
      <key>i_seti_lua</key>
      <string>uniE520</string>
      <key>i_seti_makefile</key>
      <string>uniE573</string>
      <key>i_seti_markdown</key>
      <string>uniE509</string>
      <key>i_seti_maven</key>
      <string>uniE574</string>
      <key>i_seti_mdo</key>
      <string>uniE575</string>
      <key>i_seti_mustache</key>
      <string>uniE50F</string>
      <key>i_seti_new_file</key>
      <string>uniE576</string>
      <key>i_seti_nim</key>
      <string>uniE577</string>
      <key>i_seti_notebook</key>
      <string>uniE578</string>
      <key>i_seti_npm</key>
      <string>uniE516</string>
      <key>i_seti_nunjucks</key>
      <string>uniE579</string>
      <key>i_seti_ocaml</key>
      <string>uniE57A</string>
      <key>i_seti_odata</key>
      <string>uniE57B</string>
      <key>i_seti_pddl</key>
      <string>uniE57C</string>
      <key>i_seti_pdf</key>
      <string>uniE57D</string>
      <key>i_seti_perl</key>
      <string>uniE57E</string>
      <key>i_seti_photoshop</key>
      <string>uniE57F</string>
      <key>i_seti_php</key>
      <string>uniE508</string>
      <key>i_seti_pipeline</key>
      <string>uniE580</string>
      <key>i_seti_plan</key>
      <string>uniE581</string>
      <key>i_seti_platformio</key>
      <string>uniE582</string>
      <key>i_seti_powershell</key>
      <string>uniE583</string>
      <key>i_seti_prisma</key>
      <string>uniE584</string>
      <key>i_seti_project</key>
      <string>uniE501</string>
      <key>i_seti_prolog</key>
      <string>uniE585</string>
      <key>i_seti_pug</key>
      <string>uniE586</string>
      <key>i_seti_puppet</key>
      <string>uniE531</string>
      <key>i_seti_python</key>
      <string>uniE506</string>
      <key>i_seti_r</key>
      <string>uniE58A</string>
      <key>i_seti_rails</key>
      <string>uniE504</string>
      <key>i_seti_react</key>
      <string>uniE525</string>
      <key>i_seti_reasonml</key>
      <string>uniE587</string>
      <key>i_seti_rescript</key>
      <string>uniE588</string>
      <key>i_seti_rollup</key>
      <string>uniE589</string>
      <key>i_seti_ruby</key>
      <string>uniE505</string>
      <key>i_seti_rust</key>
      <string>uniE58B</string>
      <key>i_seti_salesforce</key>
      <string>uniE58C</string>
      <key>i_seti_sass</key>
      <string>uniE503</string>
      <key>i_seti_sbt</key>
      <string>uniE58D</string>
      <key>i_seti_scala</key>
      <string>uniE58E</string>
      <key>i_seti_search</key>
      <string>uniE58F</string>
      <key>i_seti_settings</key>
      <string>uniE590</string>
      <key>i_seti_shell</key>
      <string>uniE591</string>
      <key>i_seti_slim</key>
      <string>uniE592</string>
      <key>i_seti_smarty</key>
      <string>uniE593</string>
      <key>i_seti_spring</key>
      <string>uniE594</string>
      <key>i_seti_stylelint</key>
      <string>uniE595</string>
      <key>i_seti_stylus</key>
      <string>uniE500</string>
      <key>i_seti_sublime</key>
      <string>uniE596</string>
      <key>i_seti_svelte</key>
      <string>uniE597</string>
      <key>i_seti_svg</key>
      <string>uniE598</string>
      <key>i_seti_swift</key>
      <string>uniE599</string>
      <key>i_seti_terraform</key>
      <string>uniE59A</string>
      <key>i_seti_tex</key>
      <string>uniE59B</string>
      <key>i_seti_todo</key>
      <string>uniE59C</string>
      <key>i_seti_tsconfig</key>
      <string>uniE59D</string>
      <key>i_seti_twig</key>
      <string>uniE51C</string>
      <key>i_seti_typescript</key>
      <string>uniE528</string>
      <key>i_seti_vala</key>
      <string>uniE59E</string>
      <key>i_seti_video</key>
      <string>uniE59F</string>
      <key>i_seti_vue</key>
      <string>uniE5A0</string>
      <key>i_seti_wasm</key>
      <string>uniE5A1</string>
      <key>i_seti_wat</key>
      <string>uniE5A2</string>
      <key>i_seti_webpack</key>
      <string>uniE5A3</string>
      <key>i_seti_wgt</key>
      <string>uniE5A4</string>
      <key>i_seti_word</key>
      <string>uniE5A5</string>
      <key>i_seti_xls</key>
      <string>uniE5A6</string>
      <key>i_seti_xml</key>
      <string>uniE519</string>
      <key>i_seti_yarn</key>
      <string>uniE5A7</string>
      <key>i_seti_yml</key>
      <string>uniE5A8</string>
      <key>i_seti_zig</key>
      <string>uniE5A9</string>
      <key>i_seti_zip</key>
      <string>uniE5AA</string>
    </dict>
  </dict>
</plist>
