<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1271</string>
    <key>com.schriftgestaltung.customName</key>
    <string>Book</string>
    <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>400</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>5</integer>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>F8C3375C-B372-4BAE-A3FB-5A8DC7FA7AB9</string>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.glyphOrder</key>
    <false/>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>400</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>5</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>uniE0A0</string>
      <string>uniE0A1</string>
      <string>uniE0A2</string>
      <string>uniE0B0</string>
      <string>uniE0B1</string>
      <string>uniE0B2</string>
      <string>uniE0B3</string>
      <string>uniE5FA</string>
      <string>uniE5FB</string>
      <string>uniE5FC</string>
      <string>uniE5FD</string>
      <string>uniE5FE</string>
      <string>uniE5FF</string>
      <string>uniE600</string>
      <string>uniE601</string>
      <string>uniE602</string>
      <string>uniE603</string>
      <string>uniE604</string>
      <string>uniE605</string>
      <string>uniE606</string>
      <string>uniE607</string>
      <string>uniE608</string>
      <string>uniE609</string>
      <string>uniE60A</string>
      <string>uniE60B</string>
      <string>uniE60C</string>
      <string>uniE60D</string>
      <string>uniE60E</string>
      <string>uniE60F</string>
      <string>uniE610</string>
      <string>uniE611</string>
      <string>uniE612</string>
      <string>uniE613</string>
      <string>uniE614</string>
      <string>uniE615</string>
      <string>uniE616</string>
      <string>uniE617</string>
      <string>uniE618</string>
      <string>uniE619</string>
      <string>uniE61A</string>
      <string>uniE61B</string>
      <string>uniE61C</string>
      <string>uniE61D</string>
      <string>uniE61E</string>
      <string>uniE61F</string>
      <string>uniE620</string>
      <string>uniE621</string>
      <string>uniE622</string>
      <string>uniE623</string>
      <string>uniE624</string>
      <string>uniE625</string>
      <string>uniE626</string>
      <string>uniE627</string>
      <string>uniE628</string>
      <string>uniE629</string>
      <string>uniE62A</string>
      <string>uniE62B</string>
      <string>uniE62C</string>
      <string>uniE62D</string>
      <string>uniE62E</string>
      <string>uniE700</string>
      <string>uniE701</string>
      <string>uniE702</string>
      <string>uniE703</string>
      <string>uniE704</string>
      <string>uniE705</string>
      <string>uniE706</string>
      <string>uniE707</string>
      <string>uniE708</string>
      <string>uniE709</string>
      <string>uniE70A</string>
      <string>uniE70B</string>
      <string>uniE70C</string>
      <string>uniE70D</string>
      <string>uniE70E</string>
      <string>uniE70F</string>
      <string>uniE710</string>
      <string>uniE711</string>
      <string>uniE712</string>
      <string>uniE713</string>
      <string>uniE714</string>
      <string>uniE715</string>
      <string>uniE716</string>
      <string>uniE717</string>
      <string>uniE718</string>
      <string>uniE719</string>
      <string>uniE71A</string>
      <string>uniE71B</string>
      <string>uniE71C</string>
      <string>uniE71D</string>
      <string>uniE71E</string>
      <string>uniE71F</string>
      <string>uniE720</string>
      <string>uniE721</string>
      <string>uniE722</string>
      <string>uniE723</string>
      <string>uniE724</string>
      <string>uniE725</string>
      <string>uniE726</string>
      <string>uniE727</string>
      <string>uniE728</string>
      <string>uniE729</string>
      <string>uniE72A</string>
      <string>uniE72B</string>
      <string>uniE72C</string>
      <string>uniE72D</string>
      <string>uniE72E</string>
      <string>uniE72F</string>
      <string>uniE730</string>
      <string>uniE731</string>
      <string>uniE732</string>
      <string>uniE733</string>
      <string>uniE734</string>
      <string>uniE735</string>
      <string>uniE736</string>
      <string>uniE737</string>
      <string>uniE738</string>
      <string>uniE739</string>
      <string>uniE73A</string>
      <string>uniE73B</string>
      <string>uniE73C</string>
      <string>uniE73D</string>
      <string>uniE73E</string>
      <string>uniE73F</string>
      <string>uniE740</string>
      <string>uniE741</string>
      <string>uniE742</string>
      <string>uniE743</string>
      <string>uniE744</string>
      <string>uniE745</string>
      <string>uniE746</string>
      <string>uniE747</string>
      <string>uniE748</string>
      <string>uniE749</string>
      <string>uniE74A</string>
      <string>uniE74B</string>
      <string>uniE74C</string>
      <string>uniE74D</string>
      <string>uniE74E</string>
      <string>uniE74F</string>
      <string>uniE750</string>
      <string>uniE751</string>
      <string>uniE752</string>
      <string>uniE753</string>
      <string>uniE754</string>
      <string>uniE755</string>
      <string>uniE756</string>
      <string>uniE757</string>
      <string>uniE758</string>
      <string>uniE759</string>
      <string>uniE75A</string>
      <string>uniE75B</string>
      <string>uniE75C</string>
      <string>uniE75D</string>
      <string>uniE75E</string>
      <string>uniE75F</string>
      <string>uniE760</string>
      <string>uniE761</string>
      <string>uniE762</string>
      <string>uniE763</string>
      <string>uniE764</string>
      <string>uniE765</string>
      <string>uniE766</string>
      <string>uniE767</string>
      <string>uniE768</string>
      <string>uniE769</string>
      <string>uniE76A</string>
      <string>uniE76B</string>
      <string>uniE76C</string>
      <string>uniE76D</string>
      <string>uniE76E</string>
      <string>uniE76F</string>
      <string>uniE770</string>
      <string>uniE771</string>
      <string>uniE772</string>
      <string>uniE773</string>
      <string>uniE774</string>
      <string>uniE775</string>
      <string>uniE776</string>
      <string>uniE777</string>
      <string>uniE778</string>
      <string>uniE779</string>
      <string>uniE77A</string>
      <string>uniE77B</string>
      <string>uniE77C</string>
      <string>uniE77D</string>
      <string>uniE77E</string>
      <string>uniE77F</string>
      <string>uniE780</string>
      <string>uniE781</string>
      <string>uniE782</string>
      <string>uniE783</string>
      <string>uniE784</string>
      <string>uniE785</string>
      <string>uniE786</string>
      <string>uniE787</string>
      <string>uniE788</string>
      <string>uniE789</string>
      <string>uniE78A</string>
      <string>uniE78B</string>
      <string>uniE78C</string>
      <string>uniE78D</string>
      <string>uniE78E</string>
      <string>uniE78F</string>
      <string>uniE790</string>
      <string>uniE791</string>
      <string>uniE792</string>
      <string>uniE793</string>
      <string>uniE794</string>
      <string>uniE795</string>
      <string>uniE796</string>
      <string>uniE797</string>
      <string>uniE798</string>
      <string>uniE799</string>
      <string>uniE79A</string>
      <string>uniE79B</string>
      <string>uniE79C</string>
      <string>uniE79D</string>
      <string>uniE79E</string>
      <string>uniE79F</string>
      <string>uniE7A0</string>
      <string>uniE7A1</string>
      <string>uniE7A2</string>
      <string>uniE7A3</string>
      <string>uniE7A4</string>
      <string>uniE7A5</string>
      <string>uniE7A6</string>
      <string>uniE7A7</string>
      <string>uniE7A8</string>
      <string>uniE7A9</string>
      <string>uniE7AA</string>
      <string>uniE7AB</string>
      <string>uniE7AC</string>
      <string>uniE7AD</string>
      <string>uniE7AE</string>
      <string>uniE7AF</string>
      <string>uniE7B0</string>
      <string>uniE7B1</string>
      <string>uniE7B2</string>
      <string>uniE7B3</string>
      <string>uniE7B4</string>
      <string>uniE7B5</string>
      <string>uniE7B6</string>
      <string>uniE7B7</string>
      <string>uniE7B8</string>
      <string>uniE7B9</string>
      <string>uniE7BA</string>
      <string>uniE7BB</string>
      <string>uniE7BC</string>
      <string>uniE7BD</string>
      <string>uniE7BE</string>
      <string>uniE7BF</string>
      <string>uniE7C0</string>
      <string>uniE7C1</string>
      <string>uniE7C2</string>
      <string>uniE7C3</string>
      <string>uniE7C4</string>
      <string>uniE7C5</string>
    </array>
  </dict>
</plist>
