<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E5E851FC-909D-4887-8C88-6F4BBA9FBEF7</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ayin-hb</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
