<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.eight-ar.inferior</key>
    <array>
      <string>eight-arinferior</string>
      <string>eight-arsuperior</string>
      <string>eight-persianinferior</string>
      <string>eight-persiansuperior</string>
    </array>
    <key>public.kern1.five-ar.inferior</key>
    <array>
      <string>five-arinferior</string>
      <string>five-arsuperior</string>
    </array>
    <key>public.kern1.four-persian.urdu.inferior</key>
    <array>
      <string>four-persian.urduinferior</string>
      <string>four-persian.urdusuperior</string>
    </array>
    <key>public.kern1.seven-ar.inferior</key>
    <array>
      <string>seven-arinferior</string>
      <string>seven-arsuperior</string>
      <string>seven-persianinferior</string>
      <string>seven-persiansuperior</string>
    </array>
    <key>public.kern2.dot_below</key>
    <array>
      <string>pehMeemabove-ar.init</string>
    </array>
    <key>public.kern2.eight-ar.inferior</key>
    <array>
      <string>eight-arinferior</string>
      <string>eight-arsuperior</string>
      <string>eight-persianinferior</string>
      <string>eight-persiansuperior</string>
    </array>
    <key>public.kern2.nine-ar.inferior</key>
    <array>
      <string>nine-arinferior</string>
      <string>nine-arsuperior</string>
      <string>nine-persianinferior</string>
      <string>nine-persiansuperior</string>
    </array>
    <key>public.kern2.seven-ar.inferior</key>
    <array>
      <string>seven-arinferior</string>
      <string>seven-arsuperior</string>
      <string>seven-persianinferior</string>
      <string>seven-persiansuperior</string>
    </array>
    <key>public.kern2.seven-persian.urdu.inferior</key>
    <array>
      <string>seven-persian.urduinferior</string>
      <string>seven-persian.urdusuperior</string>
    </array>
    <key>public.kern2.six-ar.inferior</key>
    <array>
      <string>six-arinferior</string>
      <string>six-arsuperior</string>
    </array>
  </dict>
</plist>
