<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>Feb 7 21, 18:10</string>
      <string>glyphs.F_eb 7 21, 18_10</string>
    </array>
    <array>
      <string>Jan 20 21, 19:08</string>
      <string>glyphs.J_an 20 21, 19_08</string>
    </array>
    <array>
      <string>-10</string>
      <string>glyphs.-10</string>
    </array>
    <array>
      <string>Feb 24 21, 12:17</string>
      <string>glyphs.F_eb 24 21, 12_17</string>
    </array>
    <array>
      <string>Dec 27 20, 10:37</string>
      <string>glyphs.D_ec 27 20, 10_37</string>
    </array>
    <array>
      <string>Feb 24 21, 12:23</string>
      <string>glyphs.F_eb 24 21, 12_23</string>
    </array>
    <array>
      <string>Feb 24 21, 12:24</string>
      <string>glyphs.F_eb 24 21, 12_24</string>
    </array>
    <array>
      <string>Feb 24 21, 13:11</string>
      <string>glyphs.F_eb 24 21, 13_11</string>
    </array>
    <array>
      <string>Feb 24 21, 13:14</string>
      <string>glyphs.F_eb 24 21, 13_14</string>
    </array>
    <array>
      <string>[450]</string>
      <string>glyphs._450_</string>
    </array>
    <array>
      <string>Feb 24 21, 13:54</string>
      <string>glyphs.F_eb 24 21, 13_54</string>
    </array>
    <array>
      <string>Feb 24 21, 14:25</string>
      <string>glyphs.F_eb 24 21, 14_25</string>
    </array>
    <array>
      <string>Feb 24 21, 12:25</string>
      <string>glyphs.F_eb 24 21, 12_25</string>
    </array>
    <array>
      <string>Feb 24 21, 12:54</string>
      <string>glyphs.F_eb 24 21, 12_54</string>
    </array>
    <array>
      <string>Dec 27 20, 11:44</string>
      <string>glyphs.D_ec 27 20, 11_44</string>
    </array>
    <array>
      <string>Dec 27 20, 21:25</string>
      <string>glyphs.D_ec 27 20, 21_25</string>
    </array>
  </array>
</plist>
