<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>dollar_greater.liga.BRACKET.600</key>
    <string>dollar_greater.liga.B_R_A_C_K_E_T_.600.glif</string>
    <key>less_dollar_greater.liga.BRACKET.600</key>
    <string>less_dollar_greater.liga.B_R_A_C_K_E_T_.600.glif</string>
  </dict>
</plist>
