<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>53BD0BB0-1E2C-4ABD-9CB9-6C3B93832FBA</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.shin-hb</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
