<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1568</integer>
    <key>capHeight</key>
    <integer>1420</integer>
    <key>copyright</key>
    <string>© 2021 Microsoft Corporation. All Rights Reserved.</string>
    <key>descender</key>
    <integer>-480</integer>
    <key>familyName</key>
    <string>Cascadia Code</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string> [locked]</string>
        <key>x</key>
        <integer>1013</integer>
        <key>y</key>
        <integer>1133</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string> [locked]</string>
        <key>x</key>
        <integer>849</integer>
        <key>y</key>
        <integer>1440</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string> [locked]</string>
        <key>x</key>
        <integer>1107</integer>
        <key>y</key>
        <integer>1234</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string> [locked]</string>
        <key>x</key>
        <integer>440</integer>
        <key>y</key>
        <integer>-460</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>name</key>
        <string> [locked]</string>
        <key>x</key>
        <integer>280</integer>
        <key>y</key>
        <integer>416</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>name</key>
        <string> [locked]</string>
        <key>x</key>
        <integer>2160</integer>
        <key>y</key>
        <integer>332</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>name</key>
        <string> [locked]</string>
        <key>x</key>
        <integer>2090</integer>
        <key>y</key>
        <integer>250</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>name</key>
        <string> [locked]</string>
        <key>x</key>
        <integer>240</integer>
        <key>y</key>
        <integer>390</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>name</key>
        <string> [locked]</string>
        <key>x</key>
        <integer>392</integer>
        <key>y</key>
        <integer>408</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>name</key>
        <string> [locked]</string>
        <key>x</key>
        <integer>2004</integer>
        <key>y</key>
        <integer>52</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string> [locked]</string>
        <key>x</key>
        <integer>3360</integer>
        <key>y</key>
        <integer>466</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>name</key>
        <string> [locked]</string>
        <key>x</key>
        <integer>3320</integer>
        <key>y</key>
        <integer>306</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>name</key>
        <string> [locked]</string>
        <key>x</key>
        <integer>3208</integer>
        <key>y</key>
        <integer>146</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>786</integer>
        <key>y</key>
        <integer>2226</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>810</integer>
        <key>y</key>
        <integer>-20</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>1100</integer>
        <key>y</key>
        <integer>1052</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>1100</integer>
        <key>y</key>
        <integer>866</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>1100</integer>
        <key>y</key>
        <integer>552</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string> [locked]</string>
        <key>x</key>
        <integer>1013</integer>
        <key>y</key>
        <integer>1133</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string> [locked]</string>
        <key>x</key>
        <integer>1013</integer>
        <key>y</key>
        <integer>1133</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string> [locked]</string>
        <key>x</key>
        <integer>1013</integer>
        <key>y</key>
        <integer>1133</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2019/04/07 17:18:29</string>
    <key>openTypeNameDesigner</key>
    <string>Aaron Bell</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://sajatypeworks.com</string>
    <key>openTypeNameLicense</key>
    <string>Microsoft supplied font. You may use this font to create, display, and print content as permitted by the license terms or terms of use, of the Microsoft product, service, or content in which this font was included. You may only (i) embed this font in content as permitted by the embedding restrictions included in this font; and (ii) temporarily download this font to a printer or other output device to help print content. Any other use is prohibited.
 
The following license, based on the SIL Open Font license (https://scripts.sil.org/OFL), applies to this font. Additional license terms may be found on the GitHub repository for this font (https://github.com/microsoft/cascadia-code/blob/main/LICENSE).
 
Permission is hereby granted, free of charge, to any person obtaining a copy of the Font Software, to use, study, copy, merge, embed, modify, redistribute, and sell modified and unmodified copies of the Font Software, subject to the following conditions:
 
1) Neither the Font Software nor any of its individual components, in Original or Modified Versions, may be sold by itself.
 
2) Original or Modified Versions of the Font Software may be bundled, redistributed and/or sold with any software, provided that each copy contains the above copyright notice and this license. These can be included either as stand-alone text files, human-readable headers or in the appropriate machine-readable metadata fields within text or binary files as long as those fields can be easily viewed by the user.
 
3) No Modified Version of the Font Software may use the Reserved Font Name(s) unless explicit written permission is granted by the corresponding Copyright Holder. This restriction only applies to the primary font name as presented to the users.
 
4) The name(s) of the Copyright Holder(s) or the Author(s) of the Font Software shall not be used to promote, endorse or advertise any Modified Version, except to acknowledge the contribution(s) of the Copyright Holder(s) and the Author(s) or with their explicit written permission.
 
5) The Font Software, modified or unmodified, in part or in whole, must be distributed entirely under this license, and must not be distributed under any other license. The requirement for fonts to remain under this license does not apply to any document created using the Font Software.
 
THE FONT SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT OF COPYRIGHT, PATENT, TRADEMARK, OR OTHER RIGHT. IN NO EVENT SHALL THE COPYRIGHT HOLDER BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, INCLUDING ANY GENERAL, SPECIAL, INDIRECT, INCIDENTAL, OR CONSEQUENTIAL DAMAGES, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF THE USE OR INABILITY TO USE THE FONT SOFTWARE OR FROM OTHER DEALINGS IN THE FONT SOFTWARE.</string>
    <key>openTypeNameLicenseURL</key>
    <string>https://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Saja Typeworks</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://sajatypeworks.com</string>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>2</integer>
      <integer>11</integer>
      <integer>6</integer>
      <integer>9</integer>
      <integer>2</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>2</integer>
      <integer>0</integer>
      <integer>4</integer>
    </array>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2VendorID</key>
    <string>SAJA</string>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-20</integer>
      <integer>0</integer>
      <integer>1060</integer>
      <integer>1080</integer>
      <integer>1420</integer>
      <integer>1440</integer>
      <integer>1500</integer>
      <integer>1520</integer>
    </array>
    <key>postscriptIsFixedPitch</key>
    <true/>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-480</integer>
      <integer>-460</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>200</integer>
      <integer>210</integer>
      <integer>212</integer>
      <integer>220</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>190</integer>
      <integer>180</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>100</integer>
    <key>styleName</key>
    <string>Regular</string>
    <key>trademark</key>
    <string>Cascadia Code is a trademark of the Microsoft group of companies.</string>
    <key>unitsPerEm</key>
    <integer>2048</integer>
    <key>versionMajor</key>
    <integer>4</integer>
    <key>versionMinor</key>
    <integer>300</integer>
    <key>xHeight</key>
    <integer>1060</integer>
  </dict>
</plist>
