<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>option 2</string>
      <string>glyphs.option 2</string>
    </array>
    <array>
      <string>option 2.background</string>
      <string>glyphs.option 2.background</string>
    </array>
    <array>
      <string>Nov 9 19, 21:18</string>
      <string>glyphs.N_ov 9 19, 21_18</string>
    </array>
    <array>
      <string>Nov 9 19, 21:18.background</string>
      <string>glyphs.N_ov 9 19, 21_18.background</string>
    </array>
    <array>
      <string>Nov 11 19, 14:05</string>
      <string>glyphs.N_ov 11 19, 14_05</string>
    </array>
    <array>
      <string>Nov 11 19, 14:05.background</string>
      <string>glyphs.N_ov 11 19, 14_05.background</string>
    </array>
    <array>
      <string>Nov 9 19, 21:57</string>
      <string>glyphs.N_ov 9 19, 21_57</string>
    </array>
    <array>
      <string>Nov 9 19, 21:57.background</string>
      <string>glyphs.N_ov 9 19, 21_57.background</string>
    </array>
    <array>
      <string>Nov 7 19, 12:09</string>
      <string>glyphs.N_ov 7 19, 12_09</string>
    </array>
    <array>
      <string>Nov 7 19, 12:09.background</string>
      <string>glyphs.N_ov 7 19, 12_09.background</string>
    </array>
    <array>
      <string>Nov 8 19, 23:34</string>
      <string>glyphs.N_ov 8 19, 23_34</string>
    </array>
    <array>
      <string>Nov 9 19, 20:42</string>
      <string>glyphs.N_ov 9 19, 20_42</string>
    </array>
    <array>
      <string>Nov 9 19, 20:42.background</string>
      <string>glyphs.N_ov 9 19, 20_42.background</string>
    </array>
    <array>
      <string>Nov 11 19, 10:20</string>
      <string>glyphs.N_ov 11 19, 10_20</string>
    </array>
    <array>
      <string>Nov 11 19, 10:20.background</string>
      <string>glyphs.N_ov 11 19, 10_20.background</string>
    </array>
    <array>
      <string>option 4 variant</string>
      <string>glyphs.option 4 variant</string>
    </array>
    <array>
      <string>option 4 variant.background</string>
      <string>glyphs.option 4 variant.background</string>
    </array>
    <array>
      <string>option 3 variant</string>
      <string>glyphs.option 3 variant</string>
    </array>
    <array>
      <string>option 3 variant.background</string>
      <string>glyphs.option 3 variant.background</string>
    </array>
    <array>
      <string>Oct 21 19, 14:24</string>
      <string>glyphs.O_ct 21 19, 14_24</string>
    </array>
    <array>
      <string>Oct 21 19, 14:24.background</string>
      <string>glyphs.O_ct 21 19, 14_24.background</string>
    </array>
    <array>
      <string>Nov 8 19, 23:13</string>
      <string>glyphs.N_ov 8 19, 23_13</string>
    </array>
    <array>
      <string>Nov 8 19, 23:13.background</string>
      <string>glyphs.N_ov 8 19, 23_13.background</string>
    </array>
    <array>
      <string>Nov 11 19, 14:07</string>
      <string>glyphs.N_ov 11 19, 14_07</string>
    </array>
    <array>
      <string>Nov 11 19, 14:07.background</string>
      <string>glyphs.N_ov 11 19, 14_07.background</string>
    </array>
    <array>
      <string>Nov 11 19, 14:14</string>
      <string>glyphs.N_ov 11 19, 14_14</string>
    </array>
    <array>
      <string>Nov 11 19, 14:14.background</string>
      <string>glyphs.N_ov 11 19, 14_14.background</string>
    </array>
    <array>
      <string>Nov 11 19, 09:06</string>
      <string>glyphs.N_ov 11 19, 09_06</string>
    </array>
    <array>
      <string>Nov 11 19, 09:06.background</string>
      <string>glyphs.N_ov 11 19, 09_06.background</string>
    </array>
    <array>
      <string>Nov 11 19, 10:21</string>
      <string>glyphs.N_ov 11 19, 10_21</string>
    </array>
    <array>
      <string>Nov 11 19, 10:21.background</string>
      <string>glyphs.N_ov 11 19, 10_21.background</string>
    </array>
    <array>
      <string>Nov 11 19, 09:07</string>
      <string>glyphs.N_ov 11 19, 09_07</string>
    </array>
    <array>
      <string>Nov 11 19, 09:07.background</string>
      <string>glyphs.N_ov 11 19, 09_07.background</string>
    </array>
    <array>
      <string>Nov 11 19, 10:26</string>
      <string>glyphs.N_ov 11 19, 10_26</string>
    </array>
    <array>
      <string>Nov 11 19, 10:26.background</string>
      <string>glyphs.N_ov 11 19, 10_26.background</string>
    </array>
    <array>
      <string>Oct 22 19, 09:05</string>
      <string>glyphs.O_ct 22 19, 09_05</string>
    </array>
    <array>
      <string>Oct 22 19, 09:05.background</string>
      <string>glyphs.O_ct 22 19, 09_05.background</string>
    </array>
    <array>
      <string>Oct 22 19, 12:13</string>
      <string>glyphs.O_ct 22 19, 12_13</string>
    </array>
    <array>
      <string>Oct 22 19, 12:13.background</string>
      <string>glyphs.O_ct 22 19, 12_13.background</string>
    </array>
    <array>
      <string>Oct 22 19, 09:15</string>
      <string>glyphs.O_ct 22 19, 09_15</string>
    </array>
    <array>
      <string>Oct 22 19, 09:15.background</string>
      <string>glyphs.O_ct 22 19, 09_15.background</string>
    </array>
    <array>
      <string>Nov 3 19, 22:12</string>
      <string>glyphs.N_ov 3 19, 22_12</string>
    </array>
    <array>
      <string>Nov 3 19, 22:12.background</string>
      <string>glyphs.N_ov 3 19, 22_12.background</string>
    </array>
    <array>
      <string>Oct 21 19, 14:12</string>
      <string>glyphs.O_ct 21 19, 14_12</string>
    </array>
    <array>
      <string>Oct 21 19, 14:12.background</string>
      <string>glyphs.O_ct 21 19, 14_12.background</string>
    </array>
    <array>
      <string>Nov 11 19, 23:29</string>
      <string>glyphs.N_ov 11 19, 23_29</string>
    </array>
    <array>
      <string>Nov 11 19, 23:29.background</string>
      <string>glyphs.N_ov 11 19, 23_29.background</string>
    </array>
    <array>
      <string>Oct 22 19, 11:36</string>
      <string>glyphs.O_ct 22 19, 11_36</string>
    </array>
    <array>
      <string>Oct 22 19, 11:36.background</string>
      <string>glyphs.O_ct 22 19, 11_36.background</string>
    </array>
    <array>
      <string>Oct 22 19, 23:52</string>
      <string>glyphs.O_ct 22 19, 23_52</string>
    </array>
    <array>
      <string>Oct 22 19, 23:52.background</string>
      <string>glyphs.O_ct 22 19, 23_52.background</string>
    </array>
  </array>
</plist>
