<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Oct 21 19, 14:24</string>
      <string>glyphs.O_ct 21 19, 14_24</string>
    </array>
    <array>
      <string>Oct 21 19, 14:24.background</string>
      <string>glyphs.O_ct 21 19, 14_24.background</string>
    </array>
    <array>
      <string>Oct 22 19, 09:05</string>
      <string>glyphs.O_ct 22 19, 09_05</string>
    </array>
    <array>
      <string>Oct 22 19, 09:05.background</string>
      <string>glyphs.O_ct 22 19, 09_05.background</string>
    </array>
    <array>
      <string>Oct 22 19, 12:13</string>
      <string>glyphs.O_ct 22 19, 12_13</string>
    </array>
    <array>
      <string>Oct 22 19, 12:13.background</string>
      <string>glyphs.O_ct 22 19, 12_13.background</string>
    </array>
    <array>
      <string>Oct 22 19, 09:15</string>
      <string>glyphs.O_ct 22 19, 09_15</string>
    </array>
    <array>
      <string>Oct 22 19, 09:15.background</string>
      <string>glyphs.O_ct 22 19, 09_15.background</string>
    </array>
    <array>
      <string>Nov 3 19, 22:12</string>
      <string>glyphs.N_ov 3 19, 22_12</string>
    </array>
    <array>
      <string>Nov 3 19, 22:12.background</string>
      <string>glyphs.N_ov 3 19, 22_12.background</string>
    </array>
    <array>
      <string>Oct 21 19, 14:12</string>
      <string>glyphs.O_ct 21 19, 14_12</string>
    </array>
    <array>
      <string>Oct 21 19, 14:12.background</string>
      <string>glyphs.O_ct 21 19, 14_12.background</string>
    </array>
    <array>
      <string>Oct 22 19, 11:36</string>
      <string>glyphs.O_ct 22 19, 11_36</string>
    </array>
    <array>
      <string>Oct 22 19, 11:36.background</string>
      <string>glyphs.O_ct 22 19, 11_36.background</string>
    </array>
    <array>
      <string>Oct 22 19, 23:52</string>
      <string>glyphs.O_ct 22 19, 23_52</string>
    </array>
    <array>
      <string>Oct 22 19, 23:52.background</string>
      <string>glyphs.O_ct 22 19, 23_52.background</string>
    </array>
  </array>
</plist>
