<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1264</string>
    <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
    <array>
      <string>0&lt;/greater_equal.liga 0/less_equal.liga</string>
    </array>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.customParameter.GSFont.note</key>
    <string>#Macro to convert the ligatures from editable to production mode

def ligatureProcess(production):
	for glyph in Glyphs.font.glyphs:
		if glyph.color == 3: #2 width
			if production == True:
				glyph.layers[0].LSB = glyph.layers[0].LSB - 1200
			if production == False:
				glyph.layers[0].LSB = glyph.layers[0].LSB + 1200

		elif glyph.color == 4: #3 width
			if production == True:
				glyph.layers[0].LSB = glyph.layers[0].LSB - 2400
			if production == False:
				glyph.layers[0].LSB = glyph.layers[0].LSB + 2400

		elif glyph.color == 9: #4 width
			if production == True:
				glyph.layers[0].LSB = glyph.layers[0].LSB - 3600
			if production == False:
				glyph.layers[0].LSB = glyph.layers[0].LSB + 3600		
		

ligatureProcess(True) #True for production mode, False for editable</string>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>BBAB2DB2-7554-4FB8-925D-17003E4845F8</string>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.glyphOrder</key>
    <false/>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>A</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>a</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>o</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>x.multiply</string>
      <string>w_w_w.liga</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>period</string>
      <string>comma</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>exclam</string>
      <string>question</string>
      <string>asterisk</string>
      <string>numbersign</string>
      <string>slash</string>
      <string>backslash</string>
      <string>asterisk.lc</string>
      <string>colon.uc</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>braceleft</string>
      <string>braceright</string>
      <string>bracketleft</string>
      <string>bracketright</string>
      <string>hyphen</string>
      <string>underscore</string>
      <string>hyphen.lc</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
      <string>hyphen_hyphen.liga</string>
      <string>hyphen_hyphen_hyphen.liga</string>
      <string>hyphen_hyphen_greater.liga</string>
      <string>hyphen_bar.liga</string>
      <string>hyphen_greater.liga</string>
      <string>hyphen_greater_greater.liga</string>
      <string>hyphen_less.liga</string>
      <string>hyphen_less_less.liga</string>
      <string>hyphen_asciitilde.liga</string>
      <string>braceleft_bar.liga</string>
      <string>braceright_numbersign.liga</string>
      <string>bracketleft_bar.liga</string>
      <string>bracketright_numbersign.liga</string>
      <string>period_hyphen.liga</string>
      <string>period_period.liga</string>
      <string>period_period_period.liga</string>
      <string>period_period_equal.liga</string>
      <string>period_period_less.liga</string>
      <string>period_question.liga</string>
      <string>period_equal.liga</string>
      <string>colon_colon.liga</string>
      <string>colon_colon_colon.liga</string>
      <string>colon_colon_equal.liga</string>
      <string>colon_equal.liga</string>
      <string>colon_greater.liga</string>
      <string>colon_less.liga</string>
      <string>semicolon_semicolon.liga</string>
      <string>exclam_exclam.liga</string>
      <string>exclam_exclam_period.liga</string>
      <string>exclam_equal.liga</string>
      <string>exclam_equal_equal.liga</string>
      <string>question_period.liga</string>
      <string>question_colon.liga</string>
      <string>question_question.liga</string>
      <string>question_equal.liga</string>
      <string>asterisk_asterisk.liga</string>
      <string>asterisk_asterisk_asterisk.liga</string>
      <string>asterisk_greater.liga</string>
      <string>asterisk_slash.liga</string>
      <string>numbersign_parenleft.liga</string>
      <string>numbersign_braceleft.liga</string>
      <string>numbersign_bracketleft.liga</string>
      <string>numbersign_colon.liga</string>
      <string>numbersign_exclam.liga</string>
      <string>numbersign_question.liga</string>
      <string>numbersign_numbersign.liga</string>
      <string>numbersign_numbersign_numbersign.liga</string>
      <string>numbersign_numbersign_numbersign_numbersign.liga</string>
      <string>numbersign_equal.liga</string>
      <string>numbersign_underscore.liga</string>
      <string>numbersign_underscore_parenleft.liga</string>
      <string>slash_asterisk.liga</string>
      <string>slash_equal.liga</string>
      <string>slash_equal_equal.liga</string>
      <string>slash_greater.liga</string>
      <string>slash_slash.liga</string>
      <string>slash_slash_slash.liga</string>
      <string>underscore_bar_underscore.liga</string>
      <string>underscore_underscore.liga</string>
      <string>space</string>
      <string>.notdef</string>
      <string>dollar</string>
      <string>plus</string>
      <string>minus</string>
      <string>multiply</string>
      <string>divide</string>
      <string>equal</string>
      <string>greater</string>
      <string>less</string>
      <string>asciitilde</string>
      <string>asciicircum</string>
      <string>percent</string>
      <string>plus.lc</string>
      <string>at</string>
      <string>ampersand</string>
      <string>bar</string>
      <string>at.lc</string>
      <string>ampersand_ampersand.liga</string>
      <string>bar_hyphen.liga</string>
      <string>bar_braceright.liga</string>
      <string>bar_bracketright.liga</string>
      <string>bar_bar.liga</string>
      <string>bar_bar_bar_greater.liga</string>
      <string>bar_bar_equal.liga</string>
      <string>bar_bar_greater.liga</string>
      <string>bar_equal.liga</string>
      <string>bar_greater.liga</string>
      <string>dollar_greater.liga</string>
      <string>plus_plus.liga</string>
      <string>plus_plus_plus.liga</string>
      <string>plus_greater.liga</string>
      <string>equal_colon_equal.liga</string>
      <string>equal_exclam_equal.liga</string>
      <string>equal_equal.liga</string>
      <string>equal_equal_equal.liga</string>
      <string>equal_equal_greater.liga</string>
      <string>equal_greater.liga</string>
      <string>equal_greater_greater.liga</string>
      <string>equal_less_less.liga</string>
      <string>equal_slash_equal.liga</string>
      <string>greater_hyphen.liga</string>
      <string>greater_hyphen_greater.liga</string>
      <string>greater_colon.liga</string>
      <string>greater_equal.liga</string>
      <string>greater_equal_greater.liga</string>
      <string>greater_greater.liga</string>
      <string>greater_greater_hyphen.liga</string>
      <string>greater_greater_equal.liga</string>
      <string>greater_greater_greater.liga</string>
      <string>less_hyphen.liga</string>
      <string>less_hyphen_hyphen.liga</string>
      <string>less_hyphen_greater.liga</string>
      <string>less_hyphen_less.liga</string>
      <string>less_colon.liga</string>
      <string>less_exclam_hyphen_hyphen.liga</string>
      <string>less_asterisk.liga</string>
      <string>less_asterisk_greater.liga</string>
      <string>less_bar.liga</string>
      <string>less_bar_bar.liga</string>
      <string>less_bar_bar_bar.liga</string>
      <string>less_bar_greater.liga</string>
      <string>less_dollar.liga</string>
      <string>less_dollar_greater.liga</string>
      <string>less_plus.liga</string>
      <string>less_plus_greater.liga</string>
      <string>less_equal.liga</string>
      <string>less_equal_equal.liga</string>
      <string>less_equal_equal_greater.liga</string>
      <string>less_equal_greater.liga</string>
      <string>less_equal_less.liga</string>
      <string>less_greater.liga</string>
      <string>less_less.liga</string>
      <string>less_less_hyphen.liga</string>
      <string>less_less_equal.liga</string>
      <string>less_less_less.liga</string>
      <string>less_asciitilde.liga</string>
      <string>less_asciitilde_greater.liga</string>
      <string>less_asciitilde_asciitilde.liga</string>
      <string>less_slash.liga</string>
      <string>less_slash_greater.liga</string>
      <string>asciitilde_hyphen.liga</string>
      <string>asciitilde_at.liga</string>
      <string>asciitilde_equal.liga</string>
      <string>asciitilde_greater.liga</string>
      <string>asciitilde_asciitilde.liga</string>
      <string>asciitilde_asciitilde_greater.liga</string>
      <string>asciicircum_equal.liga</string>
      <string>percent_percent.liga</string>
      <string>grave</string>
      <string>LIG</string>
    </array>
  </dict>
</plist>
