<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.DisplayStrings</key>
    <array>
      <string>/soup</string>
    </array>
    <key>com.schriftgestaltung.appVersion</key>
    <string>3241</string>
    <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>m01</string>
    <key>com.schriftgestaltung.formatVersion</key>
    <integer>3</integer>
    <key>com.schriftgestaltung.master.name</key>
    <string>awesome-extension</string>
    <key>com.schriftgestaltung.useGlyphOrder</key>
    <true/>
    <key>com.schriftgestaltung.useNiceNames</key>
    <false/>
    <key>public.glyphOrder</key>
    <array>
      <string>smaller</string>
      <string>snowing</string>
      <string>soda</string>
      <string>sofa</string>
      <string>soup</string>
      <string>spermatozoon</string>
      <string>spin-double</string>
      <string>stomach</string>
      <string>storm</string>
      <string>telescope</string>
      <string>thermometer</string>
      <string>thermometer-high</string>
      <string>thermometer-low</string>
      <string>thin-close</string>
      <string>toilet</string>
      <string>tools</string>
      <string>tooth</string>
      <string>uterus</string>
      <string>w3c</string>
      <string>walking</string>
      <string>virus</string>
      <string>telegram-circle</string>
      <string>slash</string>
      <string>telegram</string>
      <string>shirt</string>
      <string>tacos</string>
      <string>sushi</string>
      <string>triangle-ruler</string>
      <string>tree</string>
      <string>sun-cloud</string>
      <string>ruby-o</string>
      <string>ruler</string>
      <string>umbrella</string>
      <string>medicine</string>
      <string>microscope</string>
      <string>milk-bottle</string>
      <string>minimize</string>
      <string>molecule</string>
      <string>moon-cloud</string>
      <string>mushroom</string>
      <string>mustache</string>
      <string>mysql</string>
      <string>nintendo</string>
      <string>palette-color</string>
      <string>pi</string>
      <string>pizza</string>
      <string>planet</string>
      <string>plant</string>
      <string>playstation</string>
      <string>poison</string>
      <string>popcorn</string>
      <string>popsicle</string>
      <string>pulse</string>
      <string>python</string>
      <string>quora-circle</string>
      <string>quora-square</string>
      <string>radioactive</string>
      <string>raining</string>
      <string>real-heart</string>
      <string>refrigerator</string>
      <string>restore</string>
      <string>ring</string>
      <string>ruby</string>
      <string>fingerprint</string>
      <string>floppy</string>
      <string>footprint</string>
      <string>freecodecamp</string>
      <string>galaxy</string>
      <string>galery</string>
      <string>glass</string>
      <string>google-drive</string>
      <string>google-play</string>
      <string>gps</string>
      <string>grav</string>
      <string>guitar</string>
      <string>gut</string>
      <string>halter</string>
      <string>hamburger</string>
      <string>hat</string>
      <string>hexagon</string>
      <string>high-heel</string>
      <string>hotdog</string>
      <string>ice-cream</string>
      <string>id-card</string>
      <string>imdb</string>
      <string>infinity</string>
      <string>java</string>
      <string>layers</string>
      <string>lips</string>
      <string>lipstick</string>
      <string>liver</string>
      <string>lung</string>
      <string>makeup-brushes</string>
      <string>maximize</string>
      <string>wallet</string>
      <string>chess-horse</string>
      <string>chess-king</string>
      <string>chess-pawn</string>
      <string>chess-queen</string>
      <string>chess-tower</string>
      <string>chesse</string>
      <string>chilli</string>
      <string>chip</string>
      <string>cicling</string>
      <string>cloud</string>
      <string>cockroach</string>
      <string>coffe-beans</string>
      <string>coins</string>
      <string>comb</string>
      <string>comet</string>
      <string>crown</string>
      <string>cup-coffe</string>
      <string>dice</string>
      <string>disco</string>
      <string>dna</string>
      <string>donut</string>
      <string>dress</string>
      <string>drop</string>
      <string>ello</string>
      <string>envelope-open</string>
      <string>envelope-open-o</string>
      <string>equal</string>
      <string>equal-bigger</string>
      <string>feedly</string>
      <string>file-export</string>
      <string>file-import</string>
      <string>wind</string>
      <string>atom</string>
      <string>bacteria</string>
      <string>banana</string>
      <string>bath</string>
      <string>bed</string>
      <string>benzene</string>
      <string>bigger</string>
      <string>biohazard</string>
      <string>blogger-circle</string>
      <string>blogger-square</string>
      <string>bones</string>
      <string>book-open</string>
      <string>book-open-o</string>
      <string>brain</string>
      <string>bread</string>
      <string>butterfly</string>
      <string>carot</string>
      <string>cc-by</string>
      <string>cc-cc</string>
      <string>cc-nc</string>
      <string>cc-nc-eu</string>
      <string>cc-nc-jp</string>
      <string>cc-nd</string>
      <string>cc-remix</string>
      <string>cc-sa</string>
      <string>cc-share</string>
      <string>cc-zero</string>
      <string>checklist-o</string>
      <string>cherry</string>
      <string>chess-bishop</string>
      <string>xbox</string>
      <string>apple-fruit</string>
      <string>chicken-thigh</string>
      <string>gift-card</string>
      <string>injection</string>
      <string>isle</string>
      <string>lollipop</string>
      <string>loyalty-card</string>
      <string>meat</string>
      <string>mountains</string>
      <string>orange</string>
      <string>peach</string>
      <string>pear</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>apple-fruit</key>
      <string>uniE09E</string>
      <key>atom</key>
      <string>uniE07F</string>
      <key>bacteria</key>
      <string>uniE080</string>
      <key>banana</key>
      <string>uniE081</string>
      <key>bath</key>
      <string>uniE082</string>
      <key>bed</key>
      <string>uniE083</string>
      <key>benzene</key>
      <string>uniE084</string>
      <key>bigger</key>
      <string>uniE085</string>
      <key>biohazard</key>
      <string>uniE086</string>
      <key>blogger-circle</key>
      <string>uniE087</string>
      <key>blogger-square</key>
      <string>uniE088</string>
      <key>bones</key>
      <string>uniE089</string>
      <key>book-open</key>
      <string>uniE08A</string>
      <key>book-open-o</key>
      <string>uniE08B</string>
      <key>brain</key>
      <string>uniE08C</string>
      <key>bread</key>
      <string>uniE08D</string>
      <key>butterfly</key>
      <string>uniE08E</string>
      <key>carot</key>
      <string>uniE08F</string>
      <key>cc-by</key>
      <string>uniE090</string>
      <key>cc-cc</key>
      <string>uniE091</string>
      <key>cc-nc</key>
      <string>uniE092</string>
      <key>cc-nc-eu</key>
      <string>uniE093</string>
      <key>cc-nc-jp</key>
      <string>uniE094</string>
      <key>cc-nd</key>
      <string>uniE095</string>
      <key>cc-remix</key>
      <string>uniE096</string>
      <key>cc-sa</key>
      <string>uniE097</string>
      <key>cc-share</key>
      <string>uniE098</string>
      <key>cc-zero</key>
      <string>uniE099</string>
      <key>checklist-o</key>
      <string>uniE09A</string>
      <key>cherry</key>
      <string>uniE09B</string>
      <key>chess-bishop</key>
      <string>uniE09C</string>
      <key>chess-horse</key>
      <string>uniE05F</string>
      <key>chess-king</key>
      <string>uniE060</string>
      <key>chess-pawn</key>
      <string>uniE061</string>
      <key>chess-queen</key>
      <string>uniE062</string>
      <key>chess-tower</key>
      <string>uniE063</string>
      <key>chesse</key>
      <string>uniE064</string>
      <key>chicken-thigh</key>
      <string>uniE09F</string>
      <key>chilli</key>
      <string>uniE065</string>
      <key>chip</key>
      <string>uniE066</string>
      <key>cicling</key>
      <string>uniE067</string>
      <key>cloud</key>
      <string>uniE068</string>
      <key>cockroach</key>
      <string>uniE069</string>
      <key>coffe-beans</key>
      <string>uniE06A</string>
      <key>coins</key>
      <string>uniE06B</string>
      <key>comb</key>
      <string>uniE06C</string>
      <key>comet</key>
      <string>uniE06D</string>
      <key>crown</key>
      <string>uniE06E</string>
      <key>cup-coffe</key>
      <string>uniE06F</string>
      <key>dice</key>
      <string>uniE070</string>
      <key>disco</key>
      <string>uniE071</string>
      <key>dna</key>
      <string>uniE072</string>
      <key>donut</key>
      <string>uniE073</string>
      <key>dress</key>
      <string>uniE074</string>
      <key>drop</key>
      <string>uniE075</string>
      <key>ello</key>
      <string>uniE076</string>
      <key>envelope-open</key>
      <string>uniE077</string>
      <key>envelope-open-o</key>
      <string>uniE078</string>
      <key>equal</key>
      <string>uniE079</string>
      <key>equal-bigger</key>
      <string>uniE07A</string>
      <key>feedly</key>
      <string>uniE07B</string>
      <key>file-export</key>
      <string>uniE07C</string>
      <key>file-import</key>
      <string>uniE07D</string>
      <key>fingerprint</key>
      <string>uniE03F</string>
      <key>floppy</key>
      <string>uniE040</string>
      <key>footprint</key>
      <string>uniE041</string>
      <key>freecodecamp</key>
      <string>uniE042</string>
      <key>galaxy</key>
      <string>uniE043</string>
      <key>galery</key>
      <string>uniE044</string>
      <key>gift-card</key>
      <string>uniE0A0</string>
      <key>glass</key>
      <string>uniE045</string>
      <key>google-drive</key>
      <string>uniE046</string>
      <key>google-play</key>
      <string>uniE047</string>
      <key>gps</key>
      <string>uniE048</string>
      <key>grav</key>
      <string>uniE049</string>
      <key>guitar</key>
      <string>uniE04A</string>
      <key>gut</key>
      <string>uniE04B</string>
      <key>halter</key>
      <string>uniE04C</string>
      <key>hamburger</key>
      <string>uniE04D</string>
      <key>hat</key>
      <string>uniE04E</string>
      <key>hexagon</key>
      <string>uniE04F</string>
      <key>high-heel</key>
      <string>uniE050</string>
      <key>hotdog</key>
      <string>uniE051</string>
      <key>ice-cream</key>
      <string>uniE052</string>
      <key>id-card</key>
      <string>uniE053</string>
      <key>imdb</key>
      <string>uniE054</string>
      <key>infinity</key>
      <string>uniE055</string>
      <key>injection</key>
      <string>uniE0A1</string>
      <key>isle</key>
      <string>uniE0A2</string>
      <key>java</key>
      <string>uniE056</string>
      <key>layers</key>
      <string>uniE057</string>
      <key>lips</key>
      <string>uniE058</string>
      <key>lipstick</key>
      <string>uniE059</string>
      <key>liver</key>
      <string>uniE05A</string>
      <key>lollipop</key>
      <string>uniE0A3</string>
      <key>loyalty-card</key>
      <string>uniE0A4</string>
      <key>lung</key>
      <string>uniE05B</string>
      <key>makeup-brushes</key>
      <string>uniE05C</string>
      <key>maximize</key>
      <string>uniE05D</string>
      <key>meat</key>
      <string>uniE0A5</string>
      <key>medicine</key>
      <string>uniE021</string>
      <key>microscope</key>
      <string>uniE022</string>
      <key>milk-bottle</key>
      <string>uniE023</string>
      <key>minimize</key>
      <string>uniE024</string>
      <key>molecule</key>
      <string>uniE025</string>
      <key>moon-cloud</key>
      <string>uniE026</string>
      <key>mountains</key>
      <string>uniE0A6</string>
      <key>mushroom</key>
      <string>uniE027</string>
      <key>mustache</key>
      <string>uniE028</string>
      <key>mysql</key>
      <string>uniE029</string>
      <key>nintendo</key>
      <string>uniE02A</string>
      <key>orange</key>
      <string>uniE0A7</string>
      <key>palette-color</key>
      <string>uniE02B</string>
      <key>peach</key>
      <string>uniE0A8</string>
      <key>pear</key>
      <string>uniE0A9</string>
      <key>pi</key>
      <string>uniE02C</string>
      <key>pizza</key>
      <string>uniE02D</string>
      <key>planet</key>
      <string>uniE02E</string>
      <key>plant</key>
      <string>uniE02F</string>
      <key>playstation</key>
      <string>uniE030</string>
      <key>poison</key>
      <string>uniE031</string>
      <key>popcorn</key>
      <string>uniE032</string>
      <key>popsicle</key>
      <string>uniE033</string>
      <key>pulse</key>
      <string>uniE034</string>
      <key>python</key>
      <string>uniE035</string>
      <key>quora-circle</key>
      <string>uniE036</string>
      <key>quora-square</key>
      <string>uniE037</string>
      <key>radioactive</key>
      <string>uniE038</string>
      <key>raining</key>
      <string>uniE039</string>
      <key>real-heart</key>
      <string>uniE03A</string>
      <key>refrigerator</key>
      <string>uniE03B</string>
      <key>restore</key>
      <string>uniE03C</string>
      <key>ring</key>
      <string>uniE03D</string>
      <key>ruby</key>
      <string>uniE03E</string>
      <key>ruby-o</key>
      <string>uniE01E</string>
      <key>ruler</key>
      <string>uniE01F</string>
      <key>shirt</key>
      <string>uniE018</string>
      <key>slash</key>
      <string>uniE016</string>
      <key>smaller</key>
      <string>uniE000</string>
      <key>snowing</key>
      <string>uniE001</string>
      <key>soda</key>
      <string>uniE002</string>
      <key>sofa</key>
      <string>uniE003</string>
      <key>soup</key>
      <string>uniE004</string>
      <key>spermatozoon</key>
      <string>uniE005</string>
      <key>spin-double</key>
      <string>uniE006</string>
      <key>stomach</key>
      <string>uniE007</string>
      <key>storm</key>
      <string>uniE008</string>
      <key>sun-cloud</key>
      <string>uniE01D</string>
      <key>sushi</key>
      <string>uniE01A</string>
      <key>tacos</key>
      <string>uniE019</string>
      <key>telegram</key>
      <string>uniE017</string>
      <key>telegram-circle</key>
      <string>uniE015</string>
      <key>telescope</key>
      <string>uniE009</string>
      <key>thermometer</key>
      <string>uniE00A</string>
      <key>thermometer-high</key>
      <string>uniE00B</string>
      <key>thermometer-low</key>
      <string>uniE00C</string>
      <key>thin-close</key>
      <string>uniE00D</string>
      <key>toilet</key>
      <string>uniE00E</string>
      <key>tools</key>
      <string>uniE00F</string>
      <key>tooth</key>
      <string>uniE010</string>
      <key>tree</key>
      <string>uniE01C</string>
      <key>triangle-ruler</key>
      <string>uniE01B</string>
      <key>umbrella</key>
      <string>uniE020</string>
      <key>uterus</key>
      <string>uniE011</string>
      <key>virus</key>
      <string>uniE014</string>
      <key>w3c</key>
      <string>uniE012</string>
      <key>walking</key>
      <string>uniE013</string>
      <key>wallet</key>
      <string>uniE05E</string>
      <key>wind</key>
      <string>uniE07E</string>
      <key>xbox</key>
      <string>uniE09D</string>
    </dict>
  </dict>
</plist>
