<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F168F906-67B5-4D5E-B779-A73A3FB66CC5</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
