<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>0CA676F1-FD20-479C-AAEF-0C24EB85FBE8</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.d</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
