<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>545A902F-7771-43BD-AB8C-254B4CA36A70</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.three</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
