<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>91B72C07-69C5-4A5C-A10F-E4094CA85261</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.three</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
