<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>9C8AC1AA-5402-498B-8128-0886BA1921E4</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.beh-ar.fina</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
