<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>m01</string>
    <key>com.schriftgestaltung.formatVersion</key>
    <integer>3</integer>
    <key>com.schriftgestaltung.useGlyphOrder</key>
    <true/>
    <key>com.schriftgestaltung.useNiceNames</key>
    <false/>
    <key>public.glyphOrder</key>
    <array>
      <string>account</string>
      <string>activate-breakpoints</string>
      <string>add</string>
      <string>archive</string>
      <string>arrow-both</string>
      <string>arrow-down</string>
      <string>arrow-left</string>
      <string>arrow-right</string>
      <string>arrow-small-down</string>
      <string>arrow-small-left</string>
      <string>arrow-small-right</string>
      <string>arrow-small-up</string>
      <string>arrow-swap</string>
      <string>arrow-up</string>
      <string>azure-devops</string>
      <string>azure</string>
      <string>beaker-stop</string>
      <string>beaker</string>
      <string>bell-dot</string>
      <string>bell</string>
      <string>bold</string>
      <string>book</string>
      <string>bookmark</string>
      <string>bracket-dot</string>
      <string>bracket-error</string>
      <string>briefcase</string>
      <string>broadcast</string>
      <string>browser</string>
      <string>bug</string>
      <string>calendar</string>
      <string>call-incoming</string>
      <string>call-outgoing</string>
      <string>case-sensitive</string>
      <string>check-all</string>
      <string>check</string>
      <string>checklist</string>
      <string>chevron-down</string>
      <string>chevron-left</string>
      <string>chevron-right</string>
      <string>chevron-up</string>
      <string>chrome-close</string>
      <string>chrome-maximize</string>
      <string>chrome-minimize</string>
      <string>chrome-restore</string>
      <string>circle-filled</string>
      <string>circle-large-filled</string>
      <string>circle-large-outline</string>
      <string>circle-outline</string>
      <string>circle-slash</string>
      <string>circuit-board</string>
      <string>clear-all</string>
      <string>clippy</string>
      <string>close-all</string>
      <string>close</string>
      <string>cloud-download</string>
      <string>cloud-upload</string>
      <string>cloud</string>
      <string>code</string>
      <string>collapse-all</string>
      <string>color-mode</string>
      <string>combine</string>
      <string>comment-discussion</string>
      <string>comment</string>
      <string>compass-active</string>
      <string>compass-dot</string>
      <string>compass</string>
      <string>copy</string>
      <string>credit-card</string>
      <string>dash</string>
      <string>dashboard</string>
      <string>database</string>
      <string>debug-all</string>
      <string>debug-alt-small</string>
      <string>debug-alt</string>
      <string>debug-breakpoint-conditional-unverified</string>
      <string>debug-breakpoint-conditional</string>
      <string>debug-breakpoint-data-unverified</string>
      <string>debug-breakpoint-data</string>
      <string>debug-breakpoint-function-unverified</string>
      <string>debug-breakpoint-function</string>
      <string>debug-breakpoint-log-unverified</string>
      <string>debug-breakpoint-log</string>
      <string>debug-breakpoint-unsupported</string>
      <string>debug-console</string>
      <string>debug-continue-small</string>
      <string>debug-continue</string>
      <string>debug-coverage</string>
      <string>debug-disconnect</string>
      <string>debug-line-by-line</string>
      <string>debug-pause</string>
      <string>debug-rerun</string>
      <string>debug-restart-frame</string>
      <string>debug-restart</string>
      <string>debug-reverse-continue</string>
      <string>debug-stackframe-active</string>
      <string>debug-stackframe-dot</string>
      <string>debug-stackframe</string>
      <string>debug-start</string>
      <string>debug-step-back</string>
      <string>debug-step-into</string>
      <string>debug-step-out</string>
      <string>debug-step-over</string>
      <string>debug-stop</string>
      <string>debug</string>
      <string>desktop-download</string>
      <string>device-camera-video</string>
      <string>device-camera</string>
      <string>device-mobile</string>
      <string>diff-added</string>
      <string>diff-ignored</string>
      <string>diff-modified</string>
      <string>diff-removed</string>
      <string>diff-renamed</string>
      <string>diff</string>
      <string>discard</string>
      <string>edit</string>
      <string>editor-layout</string>
      <string>ellipsis</string>
      <string>empty-window</string>
      <string>error</string>
      <string>exclude</string>
      <string>expand-all</string>
      <string>export</string>
      <string>extensions</string>
      <string>eye-closed</string>
      <string>eye</string>
      <string>feedback</string>
      <string>file-binary</string>
      <string>file-code</string>
      <string>file-media</string>
      <string>file-pdf</string>
      <string>file-submodule</string>
      <string>file-symlink-directory</string>
      <string>file-symlink-file</string>
      <string>file-zip</string>
      <string>file</string>
      <string>files</string>
      <string>filter-filled</string>
      <string>filter</string>
      <string>flame</string>
      <string>fold-down</string>
      <string>fold-up</string>
      <string>fold</string>
      <string>folder-active</string>
      <string>folder-library</string>
      <string>folder-opened</string>
      <string>folder</string>
      <string>gear</string>
      <string>gift</string>
      <string>gist-secret</string>
      <string>git-commit</string>
      <string>git-compare</string>
      <string>git-merge</string>
      <string>git-pull-request-closed</string>
      <string>git-pull-request-create</string>
      <string>git-pull-request-draft</string>
      <string>git-pull-request</string>
      <string>github-action</string>
      <string>github-alt</string>
      <string>github-inverted</string>
      <string>github</string>
      <string>globe</string>
      <string>go-to-file</string>
      <string>grabber</string>
      <string>graph-left</string>
      <string>graph-line</string>
      <string>graph-scatter</string>
      <string>graph</string>
      <string>gripper</string>
      <string>group-by-ref-type</string>
      <string>heart</string>
      <string>history</string>
      <string>home</string>
      <string>horizontal-rule</string>
      <string>hubot</string>
      <string>inbox</string>
      <string>info</string>
      <string>inspect</string>
      <string>issue-draft</string>
      <string>issue-reopened</string>
      <string>issues</string>
      <string>italic</string>
      <string>jersey</string>
      <string>json</string>
      <string>kebab-vertical</string>
      <string>key</string>
      <string>law</string>
      <string>layers-active</string>
      <string>layers-dot</string>
      <string>layers</string>
      <string>layout</string>
      <string>library</string>
      <string>lightbulb-autofix</string>
      <string>lightbulb</string>
      <string>link-external</string>
      <string>link</string>
      <string>list-filter</string>
      <string>list-flat</string>
      <string>list-ordered</string>
      <string>list-selection</string>
      <string>list-tree</string>
      <string>list-unordered</string>
      <string>live-share</string>
      <string>loading</string>
      <string>location</string>
      <string>lock-small</string>
      <string>lock</string>
      <string>magnet</string>
      <string>mail-read</string>
      <string>mail</string>
      <string>markdown</string>
      <string>megaphone</string>
      <string>mention</string>
      <string>menu</string>
      <string>merge</string>
      <string>milestone</string>
      <string>mirror</string>
      <string>mortar-board</string>
      <string>move</string>
      <string>multiple-windows</string>
      <string>mute</string>
      <string>new-file</string>
      <string>new-folder</string>
      <string>newline</string>
      <string>no-newline</string>
      <string>note</string>
      <string>notebook-template</string>
      <string>notebook</string>
      <string>octoface</string>
      <string>open-preview</string>
      <string>organization</string>
      <string>output</string>
      <string>package</string>
      <string>paintcan</string>
      <string>pass-filled</string>
      <string>pass</string>
      <string>person-add</string>
      <string>person</string>
      <string>pie-chart</string>
      <string>pin</string>
      <string>pinned-dirty</string>
      <string>pinned</string>
      <string>play-circle</string>
      <string>play</string>
      <string>plug</string>
      <string>preserve-case</string>
      <string>preview</string>
      <string>primitive-square</string>
      <string>project</string>
      <string>pulse</string>
      <string>question</string>
      <string>quote</string>
      <string>radio-tower</string>
      <string>reactions</string>
      <string>record-keys</string>
      <string>record</string>
      <string>redo</string>
      <string>references</string>
      <string>refresh</string>
      <string>regex</string>
      <string>remote-explorer</string>
      <string>remote</string>
      <string>remove</string>
      <string>replace-all</string>
      <string>replace</string>
      <string>reply</string>
      <string>repo-clone</string>
      <string>repo-force-push</string>
      <string>repo-forked</string>
      <string>repo-pull</string>
      <string>repo-push</string>
      <string>repo</string>
      <string>report</string>
      <string>request-changes</string>
      <string>rocket</string>
      <string>root-folder-opened</string>
      <string>root-folder</string>
      <string>rss</string>
      <string>ruby</string>
      <string>run-above</string>
      <string>run-all</string>
      <string>run-below</string>
      <string>run-errors</string>
      <string>save-all</string>
      <string>save-as</string>
      <string>save</string>
      <string>screen-full</string>
      <string>screen-normal</string>
      <string>search-stop</string>
      <string>search</string>
      <string>server-environment</string>
      <string>server-process</string>
      <string>server</string>
      <string>settings-gear</string>
      <string>settings</string>
      <string>shield</string>
      <string>sign-in</string>
      <string>sign-out</string>
      <string>smiley</string>
      <string>sort-precedence</string>
      <string>source-control</string>
      <string>split-horizontal</string>
      <string>split-vertical</string>
      <string>squirrel</string>
      <string>star-empty</string>
      <string>star-full</string>
      <string>star-half</string>
      <string>stop-circle</string>
      <string>symbol-array</string>
      <string>symbol-boolean</string>
      <string>symbol-class</string>
      <string>symbol-color</string>
      <string>symbol-constant</string>
      <string>symbol-enum-member</string>
      <string>symbol-enum</string>
      <string>symbol-event</string>
      <string>symbol-field</string>
      <string>symbol-file</string>
      <string>symbol-interface</string>
      <string>symbol-key</string>
      <string>symbol-keyword</string>
      <string>symbol-method</string>
      <string>symbol-misc</string>
      <string>symbol-namespace</string>
      <string>symbol-numeric</string>
      <string>symbol-operator</string>
      <string>symbol-parameter</string>
      <string>symbol-property</string>
      <string>symbol-ruler</string>
      <string>symbol-snippet</string>
      <string>symbol-string</string>
      <string>symbol-structure</string>
      <string>symbol-variable</string>
      <string>sync-ignored</string>
      <string>sync</string>
      <string>table</string>
      <string>tag</string>
      <string>tasklist</string>
      <string>telescope</string>
      <string>terminal-bash</string>
      <string>terminal-cmd</string>
      <string>terminal-debian</string>
      <string>terminal-linux</string>
      <string>terminal-powershell</string>
      <string>terminal-tmux</string>
      <string>terminal-ubuntu</string>
      <string>terminal</string>
      <string>text-size</string>
      <string>three-bars</string>
      <string>thumbsdown</string>
      <string>thumbsup</string>
      <string>tools</string>
      <string>trash</string>
      <string>triangle-down</string>
      <string>triangle-left</string>
      <string>triangle-right</string>
      <string>triangle-up</string>
      <string>twitter</string>
      <string>type-hierarchy-sub</string>
      <string>type-hierarchy-super</string>
      <string>type-hierarchy</string>
      <string>unfold</string>
      <string>ungroup-by-ref-type</string>
      <string>unlock</string>
      <string>unmute</string>
      <string>unverified</string>
      <string>variable-group</string>
      <string>verified-filled</string>
      <string>verified</string>
      <string>versions</string>
      <string>vm-active</string>
      <string>vm-connect</string>
      <string>vm-outline</string>
      <string>vm-running</string>
      <string>vm</string>
      <string>wand</string>
      <string>warning</string>
      <string>watch</string>
      <string>whitespace</string>
      <string>whole-word</string>
      <string>window</string>
      <string>word-wrap</string>
      <string>workspace-trusted</string>
      <string>workspace-unknown</string>
      <string>workspace-untrusted</string>
      <string>zoom-in</string>
      <string>zoom-out</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>account</key>
      <string>uniEB99</string>
      <key>activate-breakpoints</key>
      <string>uniEA97</string>
      <key>add</key>
      <string>uniEA60</string>
      <key>archive</key>
      <string>uniEA98</string>
      <key>arrow-both</key>
      <string>uniEA99</string>
      <key>arrow-down</key>
      <string>uniEA9A</string>
      <key>arrow-left</key>
      <string>uniEA9B</string>
      <key>arrow-right</key>
      <string>uniEA9C</string>
      <key>arrow-small-down</key>
      <string>uniEA9D</string>
      <key>arrow-small-left</key>
      <string>uniEA9E</string>
      <key>arrow-small-right</key>
      <string>uniEA9F</string>
      <key>arrow-small-up</key>
      <string>uniEAA0</string>
      <key>arrow-swap</key>
      <string>uniEBCB</string>
      <key>arrow-up</key>
      <string>uniEAA1</string>
      <key>azure</key>
      <string>uniEBD8</string>
      <key>azure-devops</key>
      <string>uniEBE8</string>
      <key>beaker</key>
      <string>uniEA79</string>
      <key>beaker-stop</key>
      <string>uniEBE1</string>
      <key>bell</key>
      <string>uniEAA2</string>
      <key>bell-dot</key>
      <string>uniEB9A</string>
      <key>bold</key>
      <string>uniEAA3</string>
      <key>book</key>
      <string>uniEAA4</string>
      <key>bookmark</key>
      <string>uniEAA5</string>
      <key>bracket-dot</key>
      <string>uniEBE5</string>
      <key>bracket-error</key>
      <string>uniEBE6</string>
      <key>briefcase</key>
      <string>uniEAAC</string>
      <key>broadcast</key>
      <string>uniEAAD</string>
      <key>browser</key>
      <string>uniEAAE</string>
      <key>bug</key>
      <string>uniEAAF</string>
      <key>calendar</key>
      <string>uniEAB0</string>
      <key>call-incoming</key>
      <string>uniEB92</string>
      <key>call-outgoing</key>
      <string>uniEB93</string>
      <key>case-sensitive</key>
      <string>uniEAB1</string>
      <key>check</key>
      <string>uniEAB2</string>
      <key>check-all</key>
      <string>uniEBB1</string>
      <key>checklist</key>
      <string>uniEAB3</string>
      <key>chevron-down</key>
      <string>uniEAB4</string>
      <key>chevron-left</key>
      <string>uniEAB5</string>
      <key>chevron-right</key>
      <string>uniEAB6</string>
      <key>chevron-up</key>
      <string>uniEAB7</string>
      <key>chrome-close</key>
      <string>uniEAB8</string>
      <key>chrome-maximize</key>
      <string>uniEAB9</string>
      <key>chrome-minimize</key>
      <string>uniEABA</string>
      <key>chrome-restore</key>
      <string>uniEABB</string>
      <key>circle-filled</key>
      <string>uniEA71</string>
      <key>circle-large-filled</key>
      <string>uniEBB4</string>
      <key>circle-large-outline</key>
      <string>uniEBB5</string>
      <key>circle-outline</key>
      <string>uniEABC</string>
      <key>circle-slash</key>
      <string>uniEABD</string>
      <key>circuit-board</key>
      <string>uniEABE</string>
      <key>clear-all</key>
      <string>uniEABF</string>
      <key>clippy</key>
      <string>uniEAC0</string>
      <key>close</key>
      <string>uniEA76</string>
      <key>close-all</key>
      <string>uniEAC1</string>
      <key>cloud</key>
      <string>uniEBAA</string>
      <key>cloud-download</key>
      <string>uniEAC2</string>
      <key>cloud-upload</key>
      <string>uniEAC3</string>
      <key>code</key>
      <string>uniEAC4</string>
      <key>collapse-all</key>
      <string>uniEAC5</string>
      <key>color-mode</key>
      <string>uniEAC6</string>
      <key>combine</key>
      <string>uniEBB6</string>
      <key>comment</key>
      <string>uniEA6B</string>
      <key>comment-discussion</key>
      <string>uniEAC7</string>
      <key>compass</key>
      <string>uniEBD5</string>
      <key>compass-active</key>
      <string>uniEBD7</string>
      <key>compass-dot</key>
      <string>uniEBD6</string>
      <key>copy</key>
      <string>uniEBCC</string>
      <key>credit-card</key>
      <string>uniEAC9</string>
      <key>dash</key>
      <string>uniEACC</string>
      <key>dashboard</key>
      <string>uniEACD</string>
      <key>database</key>
      <string>uniEACE</string>
      <key>debug</key>
      <string>uniEAD8</string>
      <key>debug-all</key>
      <string>uniEBDC</string>
      <key>debug-alt</key>
      <string>uniEB91</string>
      <key>debug-alt-small</key>
      <string>uniEBA8</string>
      <key>debug-breakpoint-conditional</key>
      <string>uniEAA7</string>
      <key>debug-breakpoint-conditional-unverified</key>
      <string>uniEAA6</string>
      <key>debug-breakpoint-data</key>
      <string>uniEAA9</string>
      <key>debug-breakpoint-data-unverified</key>
      <string>uniEAA8</string>
      <key>debug-breakpoint-function</key>
      <string>uniEB88</string>
      <key>debug-breakpoint-function-unverified</key>
      <string>uniEB87</string>
      <key>debug-breakpoint-log</key>
      <string>uniEAAB</string>
      <key>debug-breakpoint-log-unverified</key>
      <string>uniEAAA</string>
      <key>debug-breakpoint-unsupported</key>
      <string>uniEB8C</string>
      <key>debug-console</key>
      <string>uniEB9B</string>
      <key>debug-continue</key>
      <string>uniEACF</string>
      <key>debug-continue-small</key>
      <string>uniEBE0</string>
      <key>debug-coverage</key>
      <string>uniEBDD</string>
      <key>debug-disconnect</key>
      <string>uniEAD0</string>
      <key>debug-line-by-line</key>
      <string>uniEBD0</string>
      <key>debug-pause</key>
      <string>uniEAD1</string>
      <key>debug-rerun</key>
      <string>uniEBC0</string>
      <key>debug-restart</key>
      <string>uniEAD2</string>
      <key>debug-restart-frame</key>
      <string>uniEB90</string>
      <key>debug-reverse-continue</key>
      <string>uniEB8E</string>
      <key>debug-stackframe</key>
      <string>uniEB8B</string>
      <key>debug-stackframe-active</key>
      <string>uniEB89</string>
      <key>debug-stackframe-dot</key>
      <string>uniEB8A</string>
      <key>debug-start</key>
      <string>uniEAD3</string>
      <key>debug-step-back</key>
      <string>uniEB8F</string>
      <key>debug-step-into</key>
      <string>uniEAD4</string>
      <key>debug-step-out</key>
      <string>uniEAD5</string>
      <key>debug-step-over</key>
      <string>uniEAD6</string>
      <key>debug-stop</key>
      <string>uniEAD7</string>
      <key>desktop-download</key>
      <string>uniEA78</string>
      <key>device-camera</key>
      <string>uniEADA</string>
      <key>device-camera-video</key>
      <string>uniEAD9</string>
      <key>device-mobile</key>
      <string>uniEADB</string>
      <key>diff</key>
      <string>uniEAE1</string>
      <key>diff-added</key>
      <string>uniEADC</string>
      <key>diff-ignored</key>
      <string>uniEADD</string>
      <key>diff-modified</key>
      <string>uniEADE</string>
      <key>diff-removed</key>
      <string>uniEADF</string>
      <key>diff-renamed</key>
      <string>uniEAE0</string>
      <key>discard</key>
      <string>uniEAE2</string>
      <key>edit</key>
      <string>uniEA73</string>
      <key>editor-layout</key>
      <string>uniEAE3</string>
      <key>ellipsis</key>
      <string>uniEA7C</string>
      <key>empty-window</key>
      <string>uniEAE4</string>
      <key>error</key>
      <string>uniEA87</string>
      <key>exclude</key>
      <string>uniEAE5</string>
      <key>expand-all</key>
      <string>uniEB95</string>
      <key>export</key>
      <string>uniEBAC</string>
      <key>extensions</key>
      <string>uniEAE6</string>
      <key>eye</key>
      <string>uniEA70</string>
      <key>eye-closed</key>
      <string>uniEAE7</string>
      <key>feedback</key>
      <string>uniEB96</string>
      <key>file</key>
      <string>uniEA7B</string>
      <key>file-binary</key>
      <string>uniEAE8</string>
      <key>file-code</key>
      <string>uniEAE9</string>
      <key>file-media</key>
      <string>uniEAEA</string>
      <key>file-pdf</key>
      <string>uniEAEB</string>
      <key>file-submodule</key>
      <string>uniEAEC</string>
      <key>file-symlink-directory</key>
      <string>uniEAED</string>
      <key>file-symlink-file</key>
      <string>uniEAEE</string>
      <key>file-zip</key>
      <string>uniEAEF</string>
      <key>files</key>
      <string>uniEAF0</string>
      <key>filter</key>
      <string>uniEAF1</string>
      <key>filter-filled</key>
      <string>uniEBCE</string>
      <key>flame</key>
      <string>uniEAF2</string>
      <key>fold</key>
      <string>uniEAF5</string>
      <key>fold-down</key>
      <string>uniEAF3</string>
      <key>fold-up</key>
      <string>uniEAF4</string>
      <key>folder</key>
      <string>uniEA83</string>
      <key>folder-active</key>
      <string>uniEAF6</string>
      <key>folder-library</key>
      <string>uniEBDF</string>
      <key>folder-opened</key>
      <string>uniEAF7</string>
      <key>gear</key>
      <string>uniEAF8</string>
      <key>gift</key>
      <string>uniEAF9</string>
      <key>gist-secret</key>
      <string>uniEAFA</string>
      <key>git-commit</key>
      <string>uniEAFC</string>
      <key>git-compare</key>
      <string>uniEAFD</string>
      <key>git-merge</key>
      <string>uniEAFE</string>
      <key>git-pull-request</key>
      <string>uniEA64</string>
      <key>git-pull-request-closed</key>
      <string>uniEBDA</string>
      <key>git-pull-request-create</key>
      <string>uniEBBC</string>
      <key>git-pull-request-draft</key>
      <string>uniEBDB</string>
      <key>github</key>
      <string>uniEA84</string>
      <key>github-action</key>
      <string>uniEAFF</string>
      <key>github-alt</key>
      <string>uniEB00</string>
      <key>github-inverted</key>
      <string>uniEBA1</string>
      <key>globe</key>
      <string>uniEB01</string>
      <key>go-to-file</key>
      <string>uniEA94</string>
      <key>grabber</key>
      <string>uniEB02</string>
      <key>graph</key>
      <string>uniEB03</string>
      <key>graph-left</key>
      <string>uniEBAD</string>
      <key>graph-line</key>
      <string>uniEBE2</string>
      <key>graph-scatter</key>
      <string>uniEBE3</string>
      <key>gripper</key>
      <string>uniEB04</string>
      <key>group-by-ref-type</key>
      <string>uniEB97</string>
      <key>heart</key>
      <string>uniEB05</string>
      <key>history</key>
      <string>uniEA82</string>
      <key>home</key>
      <string>uniEB06</string>
      <key>horizontal-rule</key>
      <string>uniEB07</string>
      <key>hubot</key>
      <string>uniEB08</string>
      <key>inbox</key>
      <string>uniEB09</string>
      <key>info</key>
      <string>uniEA74</string>
      <key>inspect</key>
      <string>uniEBD1</string>
      <key>issue-draft</key>
      <string>uniEBD9</string>
      <key>issue-reopened</key>
      <string>uniEB0B</string>
      <key>issues</key>
      <string>uniEB0C</string>
      <key>italic</key>
      <string>uniEB0D</string>
      <key>jersey</key>
      <string>uniEB0E</string>
      <key>json</key>
      <string>uniEB0F</string>
      <key>kebab-vertical</key>
      <string>uniEB10</string>
      <key>key</key>
      <string>uniEB11</string>
      <key>law</key>
      <string>uniEB12</string>
      <key>layers</key>
      <string>uniEBD2</string>
      <key>layers-active</key>
      <string>uniEBD4</string>
      <key>layers-dot</key>
      <string>uniEBD3</string>
      <key>layout</key>
      <string>uniEBEB</string>
      <key>library</key>
      <string>uniEB9C</string>
      <key>lightbulb</key>
      <string>uniEA61</string>
      <key>lightbulb-autofix</key>
      <string>uniEB13</string>
      <key>link</key>
      <string>uniEB15</string>
      <key>link-external</key>
      <string>uniEB14</string>
      <key>list-filter</key>
      <string>uniEB83</string>
      <key>list-flat</key>
      <string>uniEB84</string>
      <key>list-ordered</key>
      <string>uniEB16</string>
      <key>list-selection</key>
      <string>uniEB85</string>
      <key>list-tree</key>
      <string>uniEB86</string>
      <key>list-unordered</key>
      <string>uniEB17</string>
      <key>live-share</key>
      <string>uniEB18</string>
      <key>loading</key>
      <string>uniEB19</string>
      <key>location</key>
      <string>uniEB1A</string>
      <key>lock</key>
      <string>uniEA75</string>
      <key>lock-small</key>
      <string>uniEBE7</string>
      <key>magnet</key>
      <string>uniEBAE</string>
      <key>mail</key>
      <string>uniEB1C</string>
      <key>mail-read</key>
      <string>uniEB1B</string>
      <key>markdown</key>
      <string>uniEB1D</string>
      <key>megaphone</key>
      <string>uniEB1E</string>
      <key>mention</key>
      <string>uniEB1F</string>
      <key>menu</key>
      <string>uniEB94</string>
      <key>merge</key>
      <string>uniEBAB</string>
      <key>milestone</key>
      <string>uniEB20</string>
      <key>mirror</key>
      <string>uniEA69</string>
      <key>mortar-board</key>
      <string>uniEB21</string>
      <key>move</key>
      <string>uniEB22</string>
      <key>multiple-windows</key>
      <string>uniEB23</string>
      <key>mute</key>
      <string>uniEB24</string>
      <key>new-file</key>
      <string>uniEA7F</string>
      <key>new-folder</key>
      <string>uniEA80</string>
      <key>newline</key>
      <string>uniEBEA</string>
      <key>no-newline</key>
      <string>uniEB25</string>
      <key>note</key>
      <string>uniEB26</string>
      <key>notebook</key>
      <string>uniEBAF</string>
      <key>notebook-template</key>
      <string>uniEBBF</string>
      <key>octoface</key>
      <string>uniEB27</string>
      <key>open-preview</key>
      <string>uniEB28</string>
      <key>organization</key>
      <string>uniEA7E</string>
      <key>output</key>
      <string>uniEB9D</string>
      <key>package</key>
      <string>uniEB29</string>
      <key>paintcan</key>
      <string>uniEB2A</string>
      <key>pass</key>
      <string>uniEBA4</string>
      <key>pass-filled</key>
      <string>uniEBB3</string>
      <key>person</key>
      <string>uniEA67</string>
      <key>person-add</key>
      <string>uniEBCD</string>
      <key>pie-chart</key>
      <string>uniEBE4</string>
      <key>pin</key>
      <string>uniEB2B</string>
      <key>pinned</key>
      <string>uniEBA0</string>
      <key>pinned-dirty</key>
      <string>uniEBB2</string>
      <key>play</key>
      <string>uniEB2C</string>
      <key>play-circle</key>
      <string>uniEBA6</string>
      <key>plug</key>
      <string>uniEB2D</string>
      <key>preserve-case</key>
      <string>uniEB2E</string>
      <key>preview</key>
      <string>uniEB2F</string>
      <key>primitive-square</key>
      <string>uniEA72</string>
      <key>project</key>
      <string>uniEB30</string>
      <key>pulse</key>
      <string>uniEB31</string>
      <key>question</key>
      <string>uniEB32</string>
      <key>quote</key>
      <string>uniEB33</string>
      <key>radio-tower</key>
      <string>uniEB34</string>
      <key>reactions</key>
      <string>uniEB35</string>
      <key>record</key>
      <string>uniEBA7</string>
      <key>record-keys</key>
      <string>uniEA65</string>
      <key>redo</key>
      <string>uniEBB0</string>
      <key>references</key>
      <string>uniEB36</string>
      <key>refresh</key>
      <string>uniEB37</string>
      <key>regex</key>
      <string>uniEB38</string>
      <key>remote</key>
      <string>uniEB3A</string>
      <key>remote-explorer</key>
      <string>uniEB39</string>
      <key>remove</key>
      <string>uniEB3B</string>
      <key>replace</key>
      <string>uniEB3D</string>
      <key>replace-all</key>
      <string>uniEB3C</string>
      <key>reply</key>
      <string>uniEA7D</string>
      <key>repo</key>
      <string>uniEA62</string>
      <key>repo-clone</key>
      <string>uniEB3E</string>
      <key>repo-force-push</key>
      <string>uniEB3F</string>
      <key>repo-forked</key>
      <string>uniEA63</string>
      <key>repo-pull</key>
      <string>uniEB40</string>
      <key>repo-push</key>
      <string>uniEB41</string>
      <key>report</key>
      <string>uniEB42</string>
      <key>request-changes</key>
      <string>uniEB43</string>
      <key>rocket</key>
      <string>uniEB44</string>
      <key>root-folder</key>
      <string>uniEB46</string>
      <key>root-folder-opened</key>
      <string>uniEB45</string>
      <key>rss</key>
      <string>uniEB47</string>
      <key>ruby</key>
      <string>uniEB48</string>
      <key>run-above</key>
      <string>uniEBBD</string>
      <key>run-all</key>
      <string>uniEB9E</string>
      <key>run-below</key>
      <string>uniEBBE</string>
      <key>run-errors</key>
      <string>uniEBDE</string>
      <key>save</key>
      <string>uniEB4B</string>
      <key>save-all</key>
      <string>uniEB49</string>
      <key>save-as</key>
      <string>uniEB4A</string>
      <key>screen-full</key>
      <string>uniEB4C</string>
      <key>screen-normal</key>
      <string>uniEB4D</string>
      <key>search</key>
      <string>uniEA6D</string>
      <key>search-stop</key>
      <string>uniEB4E</string>
      <key>server</key>
      <string>uniEB50</string>
      <key>server-environment</key>
      <string>uniEBA3</string>
      <key>server-process</key>
      <string>uniEBA2</string>
      <key>settings</key>
      <string>uniEB52</string>
      <key>settings-gear</key>
      <string>uniEB51</string>
      <key>shield</key>
      <string>uniEB53</string>
      <key>sign-in</key>
      <string>uniEA6F</string>
      <key>sign-out</key>
      <string>uniEA6E</string>
      <key>smiley</key>
      <string>uniEB54</string>
      <key>sort-precedence</key>
      <string>uniEB55</string>
      <key>source-control</key>
      <string>uniEA68</string>
      <key>split-horizontal</key>
      <string>uniEB56</string>
      <key>split-vertical</key>
      <string>uniEB57</string>
      <key>squirrel</key>
      <string>uniEB58</string>
      <key>star-empty</key>
      <string>uniEA6A</string>
      <key>star-full</key>
      <string>uniEB59</string>
      <key>star-half</key>
      <string>uniEB5A</string>
      <key>stop-circle</key>
      <string>uniEBA5</string>
      <key>symbol-array</key>
      <string>uniEA8A</string>
      <key>symbol-boolean</key>
      <string>uniEA8F</string>
      <key>symbol-class</key>
      <string>uniEB5B</string>
      <key>symbol-color</key>
      <string>uniEB5C</string>
      <key>symbol-constant</key>
      <string>uniEB5D</string>
      <key>symbol-enum</key>
      <string>uniEA95</string>
      <key>symbol-enum-member</key>
      <string>uniEB5E</string>
      <key>symbol-event</key>
      <string>uniEA86</string>
      <key>symbol-field</key>
      <string>uniEB5F</string>
      <key>symbol-file</key>
      <string>uniEB60</string>
      <key>symbol-interface</key>
      <string>uniEB61</string>
      <key>symbol-key</key>
      <string>uniEA93</string>
      <key>symbol-keyword</key>
      <string>uniEB62</string>
      <key>symbol-method</key>
      <string>uniEA8C</string>
      <key>symbol-misc</key>
      <string>uniEB63</string>
      <key>symbol-namespace</key>
      <string>uniEA8B</string>
      <key>symbol-numeric</key>
      <string>uniEA90</string>
      <key>symbol-operator</key>
      <string>uniEB64</string>
      <key>symbol-parameter</key>
      <string>uniEA92</string>
      <key>symbol-property</key>
      <string>uniEB65</string>
      <key>symbol-ruler</key>
      <string>uniEA96</string>
      <key>symbol-snippet</key>
      <string>uniEB66</string>
      <key>symbol-string</key>
      <string>uniEB8D</string>
      <key>symbol-structure</key>
      <string>uniEA91</string>
      <key>symbol-variable</key>
      <string>uniEA88</string>
      <key>sync</key>
      <string>uniEA77</string>
      <key>sync-ignored</key>
      <string>uniEB9F</string>
      <key>table</key>
      <string>uniEBB7</string>
      <key>tag</key>
      <string>uniEA66</string>
      <key>tasklist</key>
      <string>uniEB67</string>
      <key>telescope</key>
      <string>uniEB68</string>
      <key>terminal</key>
      <string>uniEA85</string>
      <key>terminal-bash</key>
      <string>uniEBCA</string>
      <key>terminal-cmd</key>
      <string>uniEBC4</string>
      <key>terminal-debian</key>
      <string>uniEBC5</string>
      <key>terminal-linux</key>
      <string>uniEBC6</string>
      <key>terminal-powershell</key>
      <string>uniEBC7</string>
      <key>terminal-tmux</key>
      <string>uniEBC8</string>
      <key>terminal-ubuntu</key>
      <string>uniEBC9</string>
      <key>text-size</key>
      <string>uniEB69</string>
      <key>three-bars</key>
      <string>uniEB6A</string>
      <key>thumbsdown</key>
      <string>uniEB6B</string>
      <key>thumbsup</key>
      <string>uniEB6C</string>
      <key>tools</key>
      <string>uniEB6D</string>
      <key>trash</key>
      <string>uniEA81</string>
      <key>triangle-down</key>
      <string>uniEB6E</string>
      <key>triangle-left</key>
      <string>uniEB6F</string>
      <key>triangle-right</key>
      <string>uniEB70</string>
      <key>triangle-up</key>
      <string>uniEB71</string>
      <key>twitter</key>
      <string>uniEB72</string>
      <key>type-hierarchy</key>
      <string>uniEBB9</string>
      <key>type-hierarchy-sub</key>
      <string>uniEBBA</string>
      <key>type-hierarchy-super</key>
      <string>uniEBBB</string>
      <key>unfold</key>
      <string>uniEB73</string>
      <key>ungroup-by-ref-type</key>
      <string>uniEB98</string>
      <key>unlock</key>
      <string>uniEB74</string>
      <key>unmute</key>
      <string>uniEB75</string>
      <key>unverified</key>
      <string>uniEB76</string>
      <key>variable-group</key>
      <string>uniEBB8</string>
      <key>verified</key>
      <string>uniEB77</string>
      <key>verified-filled</key>
      <string>uniEBE9</string>
      <key>versions</key>
      <string>uniEB78</string>
      <key>vm</key>
      <string>uniEA7A</string>
      <key>vm-active</key>
      <string>uniEB79</string>
      <key>vm-connect</key>
      <string>uniEBA9</string>
      <key>vm-outline</key>
      <string>uniEB7A</string>
      <key>vm-running</key>
      <string>uniEB7B</string>
      <key>wand</key>
      <string>uniEBCF</string>
      <key>warning</key>
      <string>uniEA6C</string>
      <key>watch</key>
      <string>uniEB7C</string>
      <key>whitespace</key>
      <string>uniEB7D</string>
      <key>whole-word</key>
      <string>uniEB7E</string>
      <key>window</key>
      <string>uniEB7F</string>
      <key>word-wrap</key>
      <string>uniEB80</string>
      <key>workspace-trusted</key>
      <string>uniEBC1</string>
      <key>workspace-unknown</key>
      <string>uniEBC3</string>
      <key>workspace-untrusted</key>
      <string>uniEBC2</string>
      <key>zoom-in</key>
      <string>uniEB81</string>
      <key>zoom-out</key>
      <string>uniEB82</string>
    </dict>
  </dict>
</plist>
