<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>6024EA6F-04B6-4814-8699-28B4014BFEF5</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.c</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
