<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>3875A9F5-7E2D-4DEF-9E78-912BB2867058</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.quoteleft</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
