<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B0A5AC55-84BB-4956-8A24-454B9F6E3C52</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.m</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
