<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B9176D0F-6179-4095-8864-811630B579BB</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ayin-hb</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
