<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E1EC138A-A437-417A-93FF-A4D1FD10721C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.m</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
