<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D7F66CDD-96BB-4619-9797-3FD5EDA459BE</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.R</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
