<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E5C955C8-F661-4960-B659-F2A3D2582D0D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.allah-ar</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
