<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>48415DFD-1BEF-4D7E-8CDE-CBBAEE4C1274</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.hah-ar.init</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
