<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>Jun 16 20, 20:48</string>
      <string>glyphs.J_un 16 20, 20_48</string>
    </array>
    <array>
      <string>Jun 16 20, 20:48.background</string>
      <string>glyphs.J_un 16 20, 20_48.background</string>
    </array>
  </array>
</plist>
