<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>ExtraCondensed Black</string>
      <string>glyphs.E_xtraC_ondensed B_lack</string>
    </array>
    <array>
      <string>ExtraCondensed Thin</string>
      <string>glyphs.E_xtraC_ondensed T_hin</string>
    </array>
    <array>
      <string>ExtraCondensed Regular</string>
      <string>glyphs.E_xtraC_ondensed R_egular</string>
    </array>
    <array>
      <string>[450]</string>
      <string>glyphs._450_</string>
    </array>
    <array>
      <string>Bold</string>
      <string>glyphs.B_old</string>
    </array>
    <array>
      <string>Black</string>
      <string>glyphs.B_lack</string>
    </array>
    <array>
      <string>Apr 25 21, 16:18</string>
      <string>glyphs.A_pr 25 21, 16_18</string>
    </array>
  </array>
</plist>
