<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>55ABD2ED-C562-4ECA-9B70-447CC8BD6824</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.question</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
