<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Dje-cy</key>
    <string>D_je-cy.glif</string>
    <key>Ze-cy</key>
    <string>Z_e-cy.glif</string>
    <key>anoteleia</key>
    <string>anoteleia.glif</string>
    <key>be-cy</key>
    <string>be-cy.glif</string>
    <key>de-cy</key>
    <string>de-cy.glif</string>
    <key>ef-cy.loclBGR</key>
    <string>ef-cy.loclB_G_R_.glif</string>
    <key>florin</key>
    <string>florin.glif</string>
    <key>hehDoachashmee-ar</key>
    <string>hehD_oachashmee-ar.glif</string>
    <key>ve-cy.loclBGR</key>
    <string>ve-cy.loclB_G_R_.glif</string>
    <key>ze-cy.loclBGR</key>
    <string>ze-cy.loclB_G_R_.glif</string>
  </dict>
</plist>
