<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7782EBE0-E092-4DF6-9910-F482B286235F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.het-hb</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
