<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1536</integer>
    <key>capHeight</key>
    <integer>0</integer>
    <key>copyright</key>
    <string>Copyright Dave Gandy 2016. All rights reserved.</string>
    <key>descender</key>
    <integer>-256</integer>
    <key>familyName</key>
    <string>FontAwesome</string>
    <key>guidelines</key>
    <array/>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2012/02/01 19:00:00</string>
    <key>openTypeHheaAscender</key>
    <integer>1536</integer>
    <key>openTypeHheaDescender</key>
    <integer>-256</integer>
    <key>openTypeNameDesigner</key>
    <string>Dave Gandy</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://fontawesome.io/license/</string>
    <key>openTypeNameManufacturer</key>
    <string>Fort Awesome</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://fontawesome.io</string>
    <key>openTypeNamePreferredSubfamilyName</key>
    <string>Regular</string>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>394</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>0</integer>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1536</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-256</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1536</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>256</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-27</integer>
      <integer>0</integer>
      <integer>1344</integer>
      <integer>1371</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptFontName</key>
    <string>FontAwesome</string>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>128</integer>
      <integer>256</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>128</integer>
      <integer>256</integer>
    </array>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Regular</string>
    <key>trademark</key>
    <string>Please refer to the Copyright section for the font trademark attribution notices.</string>
    <key>unitsPerEm</key>
    <integer>2048</integer>
    <key>versionMajor</key>
    <integer>4</integer>
    <key>versionMinor</key>
    <integer>7</integer>
    <key>xHeight</key>
    <integer>0</integer>
  </dict>
</plist>
