<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>761C2563-5F42-4049-9EE7-C3CAF25ABB3D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ampersand</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
