<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>1B961748-34CF-416A-82C0-47FACA8A0C81</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.at</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.at.lc</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
