<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>1EF6D4A8-9BAA-4C8A-9AE2-475ED31208E5</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.five</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
