<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Che-cy</key>
    <string>C_he-cy.glif</string>
    <key>De-cy</key>
    <string>D_e-cy.glif</string>
    <key>De-cy.loclBGR</key>
    <string>D_e-cy.loclB_G_R_.glif</string>
    <key>Dje-cy</key>
    <string>D_je-cy.glif</string>
    <key>Dzhe-cy</key>
    <string>D_zhe-cy.glif</string>
    <key>El-cy</key>
    <string>E_l-cy.glif</string>
    <key>El-cy.loclBGR</key>
    <string>E_l-cy.loclB_G_R_.glif</string>
    <key>Iishort-cy</key>
    <string>I_ishort-cy.glif</string>
    <key>Iu-cy</key>
    <string>I_u-cy.glif</string>
    <key>Ka-cy</key>
    <string>K_a-cy.glif</string>
    <key>Shcha-cy</key>
    <string>S_hcha-cy.glif</string>
    <key>Softsign-cy</key>
    <string>S_oftsign-cy.glif</string>
    <key>Tse-cy</key>
    <string>T_se-cy.glif</string>
    <key>Ze-cy</key>
    <string>Z_e-cy.glif</string>
    <key>Zhe-cy</key>
    <string>Z_he-cy.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>alpha</key>
    <string>alpha.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>bar_greater.liga</key>
    <string>bar_greater.liga.glif</string>
    <key>be-cy</key>
    <string>be-cy.glif</string>
    <key>che-cy</key>
    <string>che-cy.glif</string>
    <key>chedescender-cy</key>
    <string>chedescender-cy.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>de-cy</key>
    <string>de-cy.glif</string>
    <key>dje-cy</key>
    <string>dje-cy.glif</string>
    <key>ef-cy</key>
    <string>ef-cy.glif</string>
    <key>el-cy</key>
    <string>el-cy.glif</string>
    <key>en-cy</key>
    <string>en-cy.glif</string>
    <key>gamma</key>
    <string>gamma.glif</string>
    <key>ge-cy</key>
    <string>ge-cy.glif</string>
    <key>ghestroke-cy</key>
    <string>ghestroke-cy.glif</string>
    <key>gheupturn-cy</key>
    <string>gheupturn-cy.glif</string>
    <key>hardsign-cy</key>
    <string>hardsign-cy.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>idotless</key>
    <string>idotless.glif</string>
    <key>iishort-cy</key>
    <string>iishort-cy.glif</string>
    <key>iu-cy</key>
    <string>iu-cy.glif</string>
    <key>iu-cy.loclBGR</key>
    <string>iu-cy.loclB_G_R_.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>jdotless</key>
    <string>jdotless.glif</string>
    <key>ka-cy.loclBGR.alt</key>
    <string>ka-cy.loclB_G_R_.alt.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>less_bar.liga</key>
    <string>less_bar.liga.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>pi</key>
    <string>pi.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>sha-cy</key>
    <string>sha-cy.glif</string>
    <key>sigma</key>
    <string>sigma.glif</string>
    <key>sigmafinal</key>
    <string>sigmafinal.glif</string>
    <key>softsign-cy</key>
    <string>softsign-cy.glif</string>
    <key>tesh</key>
    <string>tesh.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>ve-cy</key>
    <string>ve-cy.glif</string>
    <key>yeru-cy</key>
    <string>yeru-cy.glif</string>
    <key>ze-cy</key>
    <string>ze-cy.glif</string>
    <key>ze-cy.loclBGR</key>
    <string>ze-cy.loclB_G_R_.glif</string>
    <key>ze-cy.salt</key>
    <string>ze-cy.salt.glif</string>
    <key>zhe-cy</key>
    <string>zhe-cy.glif</string>
    <key>zhe-cy.loclBGR</key>
    <string>zhe-cy.loclB_G_R_.glif</string>
  </dict>
</plist>
