<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>seen-ar</key>
    <string>seen-ar.glif</string>
    <key>seen-ar.alt</key>
    <string>seen-ar.alt.glif</string>
  </dict>
</plist>
