<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>HEAVY CIRCLE</key>
    <string>H_E_A_V_Y_ C_I_R_C_L_E_.glif</string>
    <key>POWER ON SYMBOL</key>
    <string>P_O_W_E_R_ O_N_ S_Y_M_B_O_L_.glif</string>
    <key>POWER ON-OFF SYMBOL</key>
    <string>P_O_W_E_R_ O_N_-O_F_F_ S_Y_M_B_O_L_.glif</string>
    <key>POWER SLEEP SYMBOL</key>
    <string>P_O_W_E_R_ S_L_E_E_P_ S_Y_M_B_O_L_.glif</string>
    <key>POWER SYMBOL</key>
    <string>P_O_W_E_R_ S_Y_M_B_O_L_.glif</string>
  </dict>
</plist>
