<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>867A5E08-EDF5-4572-AC3E-3EDB74236F56</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.C</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.G</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.S</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.c</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
