<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>6D474A03-3D92-4EFA-9F63-B09AD4772F38</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.he-hb</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.het-hb</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kaf-hb</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lamed-hb</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.shin-hb</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tav-hb</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yod-hb</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
