<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F1C03781-1695-4B33-9CFE-79FAD36C8370</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.K</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.k</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
