<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>257A9851-A137-44EF-B639-FE427F030DC7</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.C</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
