<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>649B52A8-8D5B-4732-8663-EE57F1A09DFA</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.r</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
