<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C7E23947-973B-4344-BD07-4FCFF54D4242</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.kaf-hb</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
