<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>uniE0A0</key>
    <string>uniE_0A_0.glif</string>
    <key>uniE0A1</key>
    <string>uniE_0A_1.glif</string>
    <key>uniE0A2</key>
    <string>uniE_0A_2.glif</string>
    <key>uniE0B0</key>
    <string>uniE_0B_0.glif</string>
    <key>uniE0B1</key>
    <string>uniE_0B_1.glif</string>
    <key>uniE0B2</key>
    <string>uniE_0B_2.glif</string>
    <key>uniE0B3</key>
    <string>uniE_0B_3.glif</string>
    <key>uniE5FA</key>
    <string>uniE_5F_A_.glif</string>
    <key>uniE5FB</key>
    <string>uniE_5F_B_.glif</string>
    <key>uniE5FC</key>
    <string>uniE_5F_C_.glif</string>
    <key>uniE5FD</key>
    <string>uniE_5F_D_.glif</string>
    <key>uniE5FE</key>
    <string>uniE_5F_E_.glif</string>
    <key>uniE5FF</key>
    <string>uniE_5F_F_.glif</string>
    <key>uniE600</key>
    <string>uniE_600.glif</string>
    <key>uniE601</key>
    <string>uniE_601.glif</string>
    <key>uniE602</key>
    <string>uniE_602.glif</string>
    <key>uniE603</key>
    <string>uniE_603.glif</string>
    <key>uniE604</key>
    <string>uniE_604.glif</string>
    <key>uniE605</key>
    <string>uniE_605.glif</string>
    <key>uniE606</key>
    <string>uniE_606.glif</string>
    <key>uniE607</key>
    <string>uniE_607.glif</string>
    <key>uniE608</key>
    <string>uniE_608.glif</string>
    <key>uniE609</key>
    <string>uniE_609.glif</string>
    <key>uniE60A</key>
    <string>uniE_60A_.glif</string>
    <key>uniE60B</key>
    <string>uniE_60B_.glif</string>
    <key>uniE60C</key>
    <string>uniE_60C_.glif</string>
    <key>uniE60D</key>
    <string>uniE_60D_.glif</string>
    <key>uniE60E</key>
    <string>uniE_60E_.glif</string>
    <key>uniE60F</key>
    <string>uniE_60F_.glif</string>
    <key>uniE610</key>
    <string>uniE_610.glif</string>
    <key>uniE611</key>
    <string>uniE_611.glif</string>
    <key>uniE612</key>
    <string>uniE_612.glif</string>
    <key>uniE613</key>
    <string>uniE_613.glif</string>
    <key>uniE614</key>
    <string>uniE_614.glif</string>
    <key>uniE615</key>
    <string>uniE_615.glif</string>
    <key>uniE616</key>
    <string>uniE_616.glif</string>
    <key>uniE617</key>
    <string>uniE_617.glif</string>
    <key>uniE618</key>
    <string>uniE_618.glif</string>
    <key>uniE619</key>
    <string>uniE_619.glif</string>
    <key>uniE61A</key>
    <string>uniE_61A_.glif</string>
    <key>uniE61B</key>
    <string>uniE_61B_.glif</string>
    <key>uniE61C</key>
    <string>uniE_61C_.glif</string>
    <key>uniE61D</key>
    <string>uniE_61D_.glif</string>
    <key>uniE61E</key>
    <string>uniE_61E_.glif</string>
    <key>uniE61F</key>
    <string>uniE_61F_.glif</string>
    <key>uniE620</key>
    <string>uniE_620.glif</string>
    <key>uniE621</key>
    <string>uniE_621.glif</string>
    <key>uniE622</key>
    <string>uniE_622.glif</string>
    <key>uniE623</key>
    <string>uniE_623.glif</string>
    <key>uniE624</key>
    <string>uniE_624.glif</string>
    <key>uniE625</key>
    <string>uniE_625.glif</string>
    <key>uniE626</key>
    <string>uniE_626.glif</string>
    <key>uniE627</key>
    <string>uniE_627.glif</string>
    <key>uniE628</key>
    <string>uniE_628.glif</string>
    <key>uniE629</key>
    <string>uniE_629.glif</string>
    <key>uniE62A</key>
    <string>uniE_62A_.glif</string>
    <key>uniE62B</key>
    <string>uniE_62B_.glif</string>
    <key>uniE62C</key>
    <string>uniE_62C_.glif</string>
    <key>uniE62D</key>
    <string>uniE_62D_.glif</string>
    <key>uniE62E</key>
    <string>uniE_62E_.glif</string>
    <key>uniE700</key>
    <string>uniE_700.glif</string>
    <key>uniE701</key>
    <string>uniE_701.glif</string>
    <key>uniE702</key>
    <string>uniE_702.glif</string>
    <key>uniE703</key>
    <string>uniE_703.glif</string>
    <key>uniE704</key>
    <string>uniE_704.glif</string>
    <key>uniE705</key>
    <string>uniE_705.glif</string>
    <key>uniE706</key>
    <string>uniE_706.glif</string>
    <key>uniE707</key>
    <string>uniE_707.glif</string>
    <key>uniE708</key>
    <string>uniE_708.glif</string>
    <key>uniE709</key>
    <string>uniE_709.glif</string>
    <key>uniE70A</key>
    <string>uniE_70A_.glif</string>
    <key>uniE70B</key>
    <string>uniE_70B_.glif</string>
    <key>uniE70C</key>
    <string>uniE_70C_.glif</string>
    <key>uniE70D</key>
    <string>uniE_70D_.glif</string>
    <key>uniE70E</key>
    <string>uniE_70E_.glif</string>
    <key>uniE70F</key>
    <string>uniE_70F_.glif</string>
    <key>uniE710</key>
    <string>uniE_710.glif</string>
    <key>uniE711</key>
    <string>uniE_711.glif</string>
    <key>uniE712</key>
    <string>uniE_712.glif</string>
    <key>uniE713</key>
    <string>uniE_713.glif</string>
    <key>uniE714</key>
    <string>uniE_714.glif</string>
    <key>uniE715</key>
    <string>uniE_715.glif</string>
    <key>uniE716</key>
    <string>uniE_716.glif</string>
    <key>uniE717</key>
    <string>uniE_717.glif</string>
    <key>uniE718</key>
    <string>uniE_718.glif</string>
    <key>uniE719</key>
    <string>uniE_719.glif</string>
    <key>uniE71A</key>
    <string>uniE_71A_.glif</string>
    <key>uniE71B</key>
    <string>uniE_71B_.glif</string>
    <key>uniE71C</key>
    <string>uniE_71C_.glif</string>
    <key>uniE71D</key>
    <string>uniE_71D_.glif</string>
    <key>uniE71E</key>
    <string>uniE_71E_.glif</string>
    <key>uniE71F</key>
    <string>uniE_71F_.glif</string>
    <key>uniE720</key>
    <string>uniE_720.glif</string>
    <key>uniE721</key>
    <string>uniE_721.glif</string>
    <key>uniE722</key>
    <string>uniE_722.glif</string>
    <key>uniE723</key>
    <string>uniE_723.glif</string>
    <key>uniE724</key>
    <string>uniE_724.glif</string>
    <key>uniE725</key>
    <string>uniE_725.glif</string>
    <key>uniE726</key>
    <string>uniE_726.glif</string>
    <key>uniE727</key>
    <string>uniE_727.glif</string>
    <key>uniE728</key>
    <string>uniE_728.glif</string>
    <key>uniE729</key>
    <string>uniE_729.glif</string>
    <key>uniE72A</key>
    <string>uniE_72A_.glif</string>
    <key>uniE72B</key>
    <string>uniE_72B_.glif</string>
    <key>uniE72C</key>
    <string>uniE_72C_.glif</string>
    <key>uniE72D</key>
    <string>uniE_72D_.glif</string>
    <key>uniE72E</key>
    <string>uniE_72E_.glif</string>
    <key>uniE72F</key>
    <string>uniE_72F_.glif</string>
    <key>uniE730</key>
    <string>uniE_730.glif</string>
    <key>uniE731</key>
    <string>uniE_731.glif</string>
    <key>uniE732</key>
    <string>uniE_732.glif</string>
    <key>uniE733</key>
    <string>uniE_733.glif</string>
    <key>uniE734</key>
    <string>uniE_734.glif</string>
    <key>uniE735</key>
    <string>uniE_735.glif</string>
    <key>uniE736</key>
    <string>uniE_736.glif</string>
    <key>uniE737</key>
    <string>uniE_737.glif</string>
    <key>uniE738</key>
    <string>uniE_738.glif</string>
    <key>uniE739</key>
    <string>uniE_739.glif</string>
    <key>uniE73A</key>
    <string>uniE_73A_.glif</string>
    <key>uniE73B</key>
    <string>uniE_73B_.glif</string>
    <key>uniE73C</key>
    <string>uniE_73C_.glif</string>
    <key>uniE73D</key>
    <string>uniE_73D_.glif</string>
    <key>uniE73E</key>
    <string>uniE_73E_.glif</string>
    <key>uniE73F</key>
    <string>uniE_73F_.glif</string>
    <key>uniE740</key>
    <string>uniE_740.glif</string>
    <key>uniE741</key>
    <string>uniE_741.glif</string>
    <key>uniE742</key>
    <string>uniE_742.glif</string>
    <key>uniE743</key>
    <string>uniE_743.glif</string>
    <key>uniE744</key>
    <string>uniE_744.glif</string>
    <key>uniE745</key>
    <string>uniE_745.glif</string>
    <key>uniE746</key>
    <string>uniE_746.glif</string>
    <key>uniE747</key>
    <string>uniE_747.glif</string>
    <key>uniE748</key>
    <string>uniE_748.glif</string>
    <key>uniE749</key>
    <string>uniE_749.glif</string>
    <key>uniE74A</key>
    <string>uniE_74A_.glif</string>
    <key>uniE74B</key>
    <string>uniE_74B_.glif</string>
    <key>uniE74C</key>
    <string>uniE_74C_.glif</string>
    <key>uniE74D</key>
    <string>uniE_74D_.glif</string>
    <key>uniE74E</key>
    <string>uniE_74E_.glif</string>
    <key>uniE74F</key>
    <string>uniE_74F_.glif</string>
    <key>uniE750</key>
    <string>uniE_750.glif</string>
    <key>uniE751</key>
    <string>uniE_751.glif</string>
    <key>uniE752</key>
    <string>uniE_752.glif</string>
    <key>uniE753</key>
    <string>uniE_753.glif</string>
    <key>uniE754</key>
    <string>uniE_754.glif</string>
    <key>uniE755</key>
    <string>uniE_755.glif</string>
    <key>uniE756</key>
    <string>uniE_756.glif</string>
    <key>uniE757</key>
    <string>uniE_757.glif</string>
    <key>uniE758</key>
    <string>uniE_758.glif</string>
    <key>uniE759</key>
    <string>uniE_759.glif</string>
    <key>uniE75A</key>
    <string>uniE_75A_.glif</string>
    <key>uniE75B</key>
    <string>uniE_75B_.glif</string>
    <key>uniE75C</key>
    <string>uniE_75C_.glif</string>
    <key>uniE75D</key>
    <string>uniE_75D_.glif</string>
    <key>uniE75E</key>
    <string>uniE_75E_.glif</string>
    <key>uniE75F</key>
    <string>uniE_75F_.glif</string>
    <key>uniE760</key>
    <string>uniE_760.glif</string>
    <key>uniE761</key>
    <string>uniE_761.glif</string>
    <key>uniE762</key>
    <string>uniE_762.glif</string>
    <key>uniE763</key>
    <string>uniE_763.glif</string>
    <key>uniE764</key>
    <string>uniE_764.glif</string>
    <key>uniE765</key>
    <string>uniE_765.glif</string>
    <key>uniE766</key>
    <string>uniE_766.glif</string>
    <key>uniE767</key>
    <string>uniE_767.glif</string>
    <key>uniE768</key>
    <string>uniE_768.glif</string>
    <key>uniE769</key>
    <string>uniE_769.glif</string>
    <key>uniE76A</key>
    <string>uniE_76A_.glif</string>
    <key>uniE76B</key>
    <string>uniE_76B_.glif</string>
    <key>uniE76C</key>
    <string>uniE_76C_.glif</string>
    <key>uniE76D</key>
    <string>uniE_76D_.glif</string>
    <key>uniE76E</key>
    <string>uniE_76E_.glif</string>
    <key>uniE76F</key>
    <string>uniE_76F_.glif</string>
    <key>uniE770</key>
    <string>uniE_770.glif</string>
    <key>uniE771</key>
    <string>uniE_771.glif</string>
    <key>uniE772</key>
    <string>uniE_772.glif</string>
    <key>uniE773</key>
    <string>uniE_773.glif</string>
    <key>uniE774</key>
    <string>uniE_774.glif</string>
    <key>uniE775</key>
    <string>uniE_775.glif</string>
    <key>uniE776</key>
    <string>uniE_776.glif</string>
    <key>uniE777</key>
    <string>uniE_777.glif</string>
    <key>uniE778</key>
    <string>uniE_778.glif</string>
    <key>uniE779</key>
    <string>uniE_779.glif</string>
    <key>uniE77A</key>
    <string>uniE_77A_.glif</string>
    <key>uniE77B</key>
    <string>uniE_77B_.glif</string>
    <key>uniE77C</key>
    <string>uniE_77C_.glif</string>
    <key>uniE77D</key>
    <string>uniE_77D_.glif</string>
    <key>uniE77E</key>
    <string>uniE_77E_.glif</string>
    <key>uniE77F</key>
    <string>uniE_77F_.glif</string>
    <key>uniE780</key>
    <string>uniE_780.glif</string>
    <key>uniE781</key>
    <string>uniE_781.glif</string>
    <key>uniE782</key>
    <string>uniE_782.glif</string>
    <key>uniE783</key>
    <string>uniE_783.glif</string>
    <key>uniE784</key>
    <string>uniE_784.glif</string>
    <key>uniE785</key>
    <string>uniE_785.glif</string>
    <key>uniE786</key>
    <string>uniE_786.glif</string>
    <key>uniE787</key>
    <string>uniE_787.glif</string>
    <key>uniE788</key>
    <string>uniE_788.glif</string>
    <key>uniE789</key>
    <string>uniE_789.glif</string>
    <key>uniE78A</key>
    <string>uniE_78A_.glif</string>
    <key>uniE78B</key>
    <string>uniE_78B_.glif</string>
    <key>uniE78C</key>
    <string>uniE_78C_.glif</string>
    <key>uniE78D</key>
    <string>uniE_78D_.glif</string>
    <key>uniE78E</key>
    <string>uniE_78E_.glif</string>
    <key>uniE78F</key>
    <string>uniE_78F_.glif</string>
    <key>uniE790</key>
    <string>uniE_790.glif</string>
    <key>uniE791</key>
    <string>uniE_791.glif</string>
    <key>uniE792</key>
    <string>uniE_792.glif</string>
    <key>uniE793</key>
    <string>uniE_793.glif</string>
    <key>uniE794</key>
    <string>uniE_794.glif</string>
    <key>uniE795</key>
    <string>uniE_795.glif</string>
    <key>uniE796</key>
    <string>uniE_796.glif</string>
    <key>uniE797</key>
    <string>uniE_797.glif</string>
    <key>uniE798</key>
    <string>uniE_798.glif</string>
    <key>uniE799</key>
    <string>uniE_799.glif</string>
    <key>uniE79A</key>
    <string>uniE_79A_.glif</string>
    <key>uniE79B</key>
    <string>uniE_79B_.glif</string>
    <key>uniE79C</key>
    <string>uniE_79C_.glif</string>
    <key>uniE79D</key>
    <string>uniE_79D_.glif</string>
    <key>uniE79E</key>
    <string>uniE_79E_.glif</string>
    <key>uniE79F</key>
    <string>uniE_79F_.glif</string>
    <key>uniE7A0</key>
    <string>uniE_7A_0.glif</string>
    <key>uniE7A1</key>
    <string>uniE_7A_1.glif</string>
    <key>uniE7A2</key>
    <string>uniE_7A_2.glif</string>
    <key>uniE7A3</key>
    <string>uniE_7A_3.glif</string>
    <key>uniE7A4</key>
    <string>uniE_7A_4.glif</string>
    <key>uniE7A5</key>
    <string>uniE_7A_5.glif</string>
    <key>uniE7A6</key>
    <string>uniE_7A_6.glif</string>
    <key>uniE7A7</key>
    <string>uniE_7A_7.glif</string>
    <key>uniE7A8</key>
    <string>uniE_7A_8.glif</string>
    <key>uniE7A9</key>
    <string>uniE_7A_9.glif</string>
    <key>uniE7AA</key>
    <string>uniE_7A_A_.glif</string>
    <key>uniE7AB</key>
    <string>uniE_7A_B_.glif</string>
    <key>uniE7AC</key>
    <string>uniE_7A_C_.glif</string>
    <key>uniE7AD</key>
    <string>uniE_7A_D_.glif</string>
    <key>uniE7AE</key>
    <string>uniE_7A_E_.glif</string>
    <key>uniE7AF</key>
    <string>uniE_7A_F_.glif</string>
    <key>uniE7B0</key>
    <string>uniE_7B_0.glif</string>
    <key>uniE7B1</key>
    <string>uniE_7B_1.glif</string>
    <key>uniE7B2</key>
    <string>uniE_7B_2.glif</string>
    <key>uniE7B3</key>
    <string>uniE_7B_3.glif</string>
    <key>uniE7B4</key>
    <string>uniE_7B_4.glif</string>
    <key>uniE7B5</key>
    <string>uniE_7B_5.glif</string>
    <key>uniE7B6</key>
    <string>uniE_7B_6.glif</string>
    <key>uniE7B7</key>
    <string>uniE_7B_7.glif</string>
    <key>uniE7B8</key>
    <string>uniE_7B_8.glif</string>
    <key>uniE7B9</key>
    <string>uniE_7B_9.glif</string>
    <key>uniE7BA</key>
    <string>uniE_7B_A_.glif</string>
    <key>uniE7BB</key>
    <string>uniE_7B_B_.glif</string>
    <key>uniE7BC</key>
    <string>uniE_7B_C_.glif</string>
    <key>uniE7BD</key>
    <string>uniE_7B_D_.glif</string>
    <key>uniE7BE</key>
    <string>uniE_7B_E_.glif</string>
    <key>uniE7BF</key>
    <string>uniE_7B_F_.glif</string>
    <key>uniE7C0</key>
    <string>uniE_7C_0.glif</string>
    <key>uniE7C1</key>
    <string>uniE_7C_1.glif</string>
    <key>uniE7C2</key>
    <string>uniE_7C_2.glif</string>
    <key>uniE7C3</key>
    <string>uniE_7C_3.glif</string>
    <key>uniE7C4</key>
    <string>uniE_7C_4.glif</string>
    <key>uniE7C5</key>
    <string>uniE_7C_5.glif</string>
  </dict>
</plist>
