<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F8C3375C-B372-4BAE-A3FB-5A8DC7FA7AB9</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE0A0</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE0A1</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE0A2</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE0A3</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE0B0</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE0B1</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE0B2</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE0B3</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE0B4</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE0B5</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE0B6</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE0B7</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE0B8</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE0B9</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE0BA</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE0BB</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE0BC</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE0BD</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE0BE</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE0BF</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE0C0</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE0C1</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE0C2</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE0C3</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE0C4</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE0C5</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE0C6</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE0C7</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE0C8</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE0CA</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE0CC</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE0CD</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE0CE</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE0CF</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE0D0</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE0D1</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE0D2</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE0D4</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
