<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F8C3375C-B372-4BAE-A3FB-5A8DC7FA7AB9</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE0A0</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE0A1</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE0A2</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE0B0</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE0B1</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE0B2</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE0B3</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE5FA</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE5FB</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE5FC</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE5FD</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE5FE</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE5FF</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE600</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE601</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE602</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE603</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE604</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE605</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE606</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE607</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE608</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE609</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE60A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE60B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE60C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE60D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE60E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE60F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE610</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE611</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE612</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE613</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE614</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE615</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE616</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE617</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE618</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE619</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE61A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE61B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE61C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE61D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE61E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE61F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE620</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE621</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE622</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE623</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE624</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE625</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE626</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE627</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE628</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE629</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE62A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE62B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE62C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE62D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE62E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE700</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE701</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE702</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE703</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE704</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE705</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE706</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE707</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE708</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE709</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE70A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE70B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE70C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE70D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE70E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE70F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE710</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE711</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE712</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE713</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE714</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE715</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE716</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE717</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE718</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE719</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE71A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE71B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE71C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE71D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE71E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE71F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE720</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE721</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE722</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE723</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE724</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE725</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE726</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE727</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE728</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE729</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE72A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE72B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE72C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE72D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE72E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE72F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE730</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE731</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE732</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE733</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE734</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE735</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE736</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE737</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE738</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE739</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE73A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE73B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE73C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE73D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE73E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE73F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE740</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE741</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE742</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE743</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE744</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE745</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE746</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE747</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE748</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE749</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE74A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE74B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE74C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE74D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE74E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE74F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE750</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE751</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE752</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE753</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE754</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE755</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE756</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE757</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE758</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE759</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE75A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE75B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE75C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE75D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE75E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE75F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE760</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE761</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE762</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE763</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE764</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE765</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE766</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE767</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE768</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE769</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE76A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE76B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE76C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE76D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE76E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE76F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE770</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE771</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE772</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE773</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE774</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE775</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE776</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE777</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE778</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE779</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE77A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE77B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE77C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE77D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE77E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE77F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE780</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE781</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE782</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE783</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE784</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE785</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE786</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE787</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE788</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE789</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE78A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE78B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE78C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE78D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE78E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE78F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE790</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE791</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE792</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE793</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE794</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE795</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE796</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE797</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE798</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE799</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE79A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE79B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE79C</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE79D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE79E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE79F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE7A0</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE7A1</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE7A2</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE7A3</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE7A4</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE7A5</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE7A6</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE7A7</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE7A8</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE7A9</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE7AA</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE7AB</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE7AC</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE7AD</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE7AE</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE7AF</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE7B0</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE7B1</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE7B2</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE7B3</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE7B4</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE7B5</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE7B6</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE7B7</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE7B8</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE7B9</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE7BA</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE7BB</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE7BC</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE7BD</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE7BE</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE7BF</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE7C0</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE7C1</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE7C2</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE7C3</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE7C4</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uniE7C5</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
