<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>m01</string>
    <key>com.schriftgestaltung.formatVersion</key>
    <integer>3</integer>
    <key>com.schriftgestaltung.useGlyphOrder</key>
    <true/>
    <key>com.schriftgestaltung.useNiceNames</key>
    <false/>
    <key>public.glyphOrder</key>
    <array>
      <string>uniE600</string>
      <string>uniE601</string>
      <string>uniE602</string>
      <string>uniE603</string>
      <string>uniE604</string>
      <string>uniE605</string>
      <string>uniE606</string>
      <string>uniE607</string>
      <string>uniE608</string>
      <string>uniE609</string>
      <string>uniE60A</string>
      <string>uniE60B</string>
      <string>uniE60C</string>
      <string>uniE60D</string>
      <string>uniE60E</string>
      <string>uniE60F</string>
      <string>uniE610</string>
      <string>uniE611</string>
      <string>uniE612</string>
      <string>uniE613</string>
      <string>uniE614</string>
      <string>uniE615</string>
      <string>uniE616</string>
      <string>uniE617</string>
      <string>uniE618</string>
      <string>uniE619</string>
      <string>uniE61A</string>
      <string>uniE61B</string>
      <string>uniE61C</string>
      <string>uniE61D</string>
      <string>uniE61E</string>
      <string>uniE61F</string>
      <string>uniE620</string>
      <string>uniE621</string>
      <string>uniE622</string>
      <string>uniE623</string>
      <string>uniE624</string>
      <string>uniE625</string>
      <string>uniE626</string>
      <string>uniE627</string>
      <string>uniE628</string>
      <string>uniE629</string>
      <string>uniE62A</string>
      <string>uniE62B</string>
      <string>uniE62C</string>
      <string>uniE62D</string>
      <string>uniE62E</string>
      <string>uniE62F</string>
      <string>uniE630</string>
      <string>uniE631</string>
      <string>uniE632</string>
      <string>uniE633</string>
      <string>uniE634</string>
      <string>uniE635</string>
      <string>uniE636</string>
      <string>uniE637</string>
      <string>uniE638</string>
      <string>uniE639</string>
      <string>uniE63A</string>
      <string>uniE63B</string>
      <string>uniE63C</string>
      <string>uniE63D</string>
      <string>uniE63E</string>
      <string>uniE63F</string>
      <string>uniE640</string>
      <string>uniE641</string>
      <string>uniE642</string>
      <string>uniE643</string>
      <string>uniE644</string>
      <string>uniE645</string>
      <string>uniE646</string>
      <string>uniE647</string>
      <string>uniE648</string>
      <string>uniE649</string>
      <string>uniE64A</string>
      <string>uniE64B</string>
      <string>uniE64C</string>
      <string>uniE64D</string>
      <string>uniE64E</string>
      <string>uniE64F</string>
      <string>uniE650</string>
      <string>uniE651</string>
      <string>uniE652</string>
      <string>uniE653</string>
      <string>uniE654</string>
      <string>uniE655</string>
      <string>uniE656</string>
      <string>uniE657</string>
      <string>uniE658</string>
      <string>uniE659</string>
      <string>uniE65A</string>
      <string>uniE65B</string>
      <string>uniE65C</string>
      <string>uniE65D</string>
      <string>uniE65E</string>
      <string>uniE65F</string>
      <string>uniE660</string>
      <string>uniE661</string>
      <string>uniE662</string>
      <string>uniE663</string>
      <string>uniE664</string>
      <string>uniE665</string>
      <string>uniE666</string>
      <string>uniE667</string>
      <string>uniE668</string>
      <string>uniE669</string>
      <string>uniE66A</string>
      <string>uniE66B</string>
      <string>uniE66C</string>
      <string>uniE66D</string>
      <string>uniE66E</string>
      <string>uniE66F</string>
      <string>uniE670</string>
      <string>uniE671</string>
      <string>uniE672</string>
      <string>uniE673</string>
      <string>uniE674</string>
      <string>uniE675</string>
      <string>uniE676</string>
      <string>uniE677</string>
      <string>uniE678</string>
      <string>uniE679</string>
      <string>uniE67A</string>
      <string>uniE67B</string>
      <string>uniE67C</string>
      <string>uniE67D</string>
      <string>uniE67E</string>
      <string>uniE67F</string>
      <string>uniE680</string>
      <string>uniE681</string>
      <string>uniE682</string>
      <string>uniE683</string>
      <string>uniE684</string>
      <string>uniE685</string>
      <string>uniE686</string>
      <string>uniE687</string>
      <string>uniE688</string>
      <string>uniE689</string>
      <string>uniE68A</string>
      <string>uniE68B</string>
      <string>uniE68C</string>
      <string>uniE68D</string>
      <string>uniE68E</string>
      <string>uniE68F</string>
      <string>uniE690</string>
      <string>uniE691</string>
      <string>uniE692</string>
      <string>uniE693</string>
      <string>uniE694</string>
      <string>uniE695</string>
      <string>uniE696</string>
      <string>uniE697</string>
      <string>uniE698</string>
      <string>uniE699</string>
      <string>uniE69A</string>
      <string>uniE69B</string>
      <string>uniE69C</string>
      <string>uniE69D</string>
      <string>uniE69E</string>
      <string>uniE69F</string>
      <string>uniE6A0</string>
      <string>uniE6A1</string>
      <string>uniE6A2</string>
      <string>uniE6A3</string>
      <string>uniE6A4</string>
      <string>uniE6A5</string>
      <string>uniE6A6</string>
      <string>uniE6A7</string>
      <string>uniE6A8</string>
      <string>uniE6A9</string>
      <string>uniE6AA</string>
      <string>uniE6AB</string>
      <string>uniE6AC</string>
      <string>uniE6AD</string>
      <string>uniE6AE</string>
      <string>uniE6AF</string>
      <string>uniE6B0</string>
      <string>uniE6B1</string>
      <string>uniE6B2</string>
      <string>uniE6B3</string>
      <string>uniE6B4</string>
      <string>uniE6B5</string>
      <string>uniE6B6</string>
      <string>uniE6B7</string>
      <string>uniE6B8</string>
      <string>uniE6B9</string>
      <string>uniE6BA</string>
      <string>uniE6BB</string>
      <string>uniE6BC</string>
      <string>uniE6BD</string>
      <string>uniE6BE</string>
      <string>uniE6BF</string>
      <string>uniE6C0</string>
      <string>uniE6C1</string>
      <string>uniE6C2</string>
      <string>uniE6C3</string>
      <string>uniE6C4</string>
      <string>uniE6C5</string>
    </array>
  </dict>
</plist>
