<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>eight-arinferior</key>
    <string>eight-arinferior.glif</string>
    <key>eight-arsuperior</key>
    <string>eight-arsuperior.glif</string>
    <key>eight-persianinferior</key>
    <string>eight-persianinferior.glif</string>
    <key>eight-persiansuperior</key>
    <string>eight-persiansuperior.glif</string>
    <key>five-arsuperior</key>
    <string>five-arsuperior.glif</string>
    <key>five-persiansuperior</key>
    <string>five-persiansuperior.glif</string>
    <key>four-arsuperior</key>
    <string>four-arsuperior.glif</string>
    <key>four-persian.urdusuperior</key>
    <string>four-persian.urdusuperior.glif</string>
    <key>four-persiansuperior</key>
    <string>four-persiansuperior.glif</string>
    <key>nine-arinferior</key>
    <string>nine-arinferior.glif</string>
    <key>nine-arsuperior</key>
    <string>nine-arsuperior.glif</string>
    <key>nine-persianinferior</key>
    <string>nine-persianinferior.glif</string>
    <key>nine-persiansuperior</key>
    <string>nine-persiansuperior.glif</string>
    <key>one-arinferior</key>
    <string>one-arinferior.glif</string>
    <key>one-arsuperior</key>
    <string>one-arsuperior.glif</string>
    <key>one-persianinferior</key>
    <string>one-persianinferior.glif</string>
    <key>one-persiansuperior</key>
    <string>one-persiansuperior.glif</string>
    <key>seven-arinferior</key>
    <string>seven-arinferior.glif</string>
    <key>seven-arsuperior</key>
    <string>seven-arsuperior.glif</string>
    <key>seven-persian.urdusuperior</key>
    <string>seven-persian.urdusuperior.glif</string>
    <key>seven-persianinferior</key>
    <string>seven-persianinferior.glif</string>
    <key>seven-persiansuperior</key>
    <string>seven-persiansuperior.glif</string>
    <key>six-arinferior</key>
    <string>six-arinferior.glif</string>
    <key>six-arsuperior</key>
    <string>six-arsuperior.glif</string>
    <key>six-persianinferior</key>
    <string>six-persianinferior.glif</string>
    <key>six-persiansuperior</key>
    <string>six-persiansuperior.glif</string>
    <key>three-arsuperior</key>
    <string>three-arsuperior.glif</string>
    <key>three-persianinferior</key>
    <string>three-persianinferior.glif</string>
    <key>three-persiansuperior</key>
    <string>three-persiansuperior.glif</string>
    <key>two-arsuperior</key>
    <string>two-arsuperior.glif</string>
    <key>two-persianinferior</key>
    <string>two-persianinferior.glif</string>
    <key>two-persiansuperior</key>
    <string>two-persiansuperior.glif</string>
    <key>zero-arinferior</key>
    <string>zero-arinferior.glif</string>
    <key>zero-arsuperior</key>
    <string>zero-arsuperior.glif</string>
    <key>zero-persianinferior</key>
    <string>zero-persianinferior.glif</string>
    <key>zero-persiansuperior</key>
    <string>zero-persiansuperior.glif</string>
  </dict>
</plist>
