<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>305CAA67-F33B-4033-BC97-EF608C462EC6</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight-arinferior</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight-arsuperior</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight-persianinferior</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight-persiansuperior</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.five-arsuperior</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.five-persiansuperior</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.four-arsuperior</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.four-persian.urdusuperior</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.four-persiansuperior</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nine-arinferior</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nine-arsuperior</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nine-persianinferior</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nine-persiansuperior</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.one-arinferior</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.one-arsuperior</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.one-persianinferior</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.one-persiansuperior</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seven-arinferior</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seven-arsuperior</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seven-persian.urdusuperior</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seven-persianinferior</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seven-persiansuperior</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.six-arinferior</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.six-arsuperior</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.six-persianinferior</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.six-persiansuperior</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.three-arsuperior</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.three-persianinferior</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.three-persiansuperior</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.two-arsuperior</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.two-persianinferior</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.two-persiansuperior</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero-arinferior</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero-arsuperior</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero-persianinferior</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero-persiansuperior</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
