<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>LIG</key>
    <string>L_I_G_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>ampersand_ampersand.liga</key>
    <string>ampersand_ampersand.liga.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asciicircum_equal.liga</key>
    <string>asciicircum_equal.liga.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>asciitilde_asciitilde.liga</key>
    <string>asciitilde_asciitilde.liga.glif</string>
    <key>asciitilde_asciitilde_greater.liga</key>
    <string>asciitilde_asciitilde_greater.liga.glif</string>
    <key>asciitilde_at.liga</key>
    <string>asciitilde_at.liga.glif</string>
    <key>asciitilde_equal.liga</key>
    <string>asciitilde_equal.liga.glif</string>
    <key>asciitilde_greater.liga</key>
    <string>asciitilde_greater.liga.glif</string>
    <key>asciitilde_hyphen.liga</key>
    <string>asciitilde_hyphen.liga.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>asterisk.lc</key>
    <string>asterisk.lc.glif</string>
    <key>asterisk_asterisk.liga</key>
    <string>asterisk_asterisk.liga.glif</string>
    <key>asterisk_asterisk_asterisk.liga</key>
    <string>asterisk_asterisk_asterisk.liga.glif</string>
    <key>asterisk_greater.liga</key>
    <string>asterisk_greater.liga.glif</string>
    <key>asterisk_slash.liga</key>
    <string>asterisk_slash.liga.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>at.lc</key>
    <string>at.lc.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>bar_bar.liga</key>
    <string>bar_bar.liga.glif</string>
    <key>bar_bar_bar_greater.liga</key>
    <string>bar_bar_bar_greater.liga.glif</string>
    <key>bar_bar_equal.liga</key>
    <string>bar_bar_equal.liga.glif</string>
    <key>bar_bar_greater.liga</key>
    <string>bar_bar_greater.liga.glif</string>
    <key>bar_braceright.liga</key>
    <string>bar_braceright.liga.glif</string>
    <key>bar_bracketright.liga</key>
    <string>bar_bracketright.liga.glif</string>
    <key>bar_equal.liga</key>
    <string>bar_equal.liga.glif</string>
    <key>bar_greater.liga</key>
    <string>bar_greater.liga.glif</string>
    <key>bar_hyphen.liga</key>
    <string>bar_hyphen.liga.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceleft_bar.liga</key>
    <string>braceleft_bar.liga.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>braceright_numbersign.liga</key>
    <string>braceright_numbersign.liga.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketleft_bar.liga</key>
    <string>bracketleft_bar.liga.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>bracketright_numbersign.liga</key>
    <string>bracketright_numbersign.liga.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>colon.uc</key>
    <string>colon.uc.glif</string>
    <key>colon_colon.liga</key>
    <string>colon_colon.liga.glif</string>
    <key>colon_colon_colon.liga</key>
    <string>colon_colon_colon.liga.glif</string>
    <key>colon_colon_equal.liga</key>
    <string>colon_colon_equal.liga.glif</string>
    <key>colon_equal.liga</key>
    <string>colon_equal.liga.glif</string>
    <key>colon_greater.liga</key>
    <string>colon_greater.liga.glif</string>
    <key>colon_less.liga</key>
    <string>colon_less.liga.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dollar_greater.liga</key>
    <string>dollar_greater.liga.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>emdash.lc</key>
    <string>emdash.lc.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>endash.lc</key>
    <string>endash.lc.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>equal_colon_equal.liga</key>
    <string>equal_colon_equal.liga.glif</string>
    <key>equal_equal.liga</key>
    <string>equal_equal.liga.glif</string>
    <key>equal_equal_equal.liga</key>
    <string>equal_equal_equal.liga.glif</string>
    <key>equal_equal_greater.liga</key>
    <string>equal_equal_greater.liga.glif</string>
    <key>equal_exclam_equal.liga</key>
    <string>equal_exclam_equal.liga.glif</string>
    <key>equal_greater.liga</key>
    <string>equal_greater.liga.glif</string>
    <key>equal_greater_greater.liga</key>
    <string>equal_greater_greater.liga.glif</string>
    <key>equal_less_less.liga</key>
    <string>equal_less_less.liga.glif</string>
    <key>equal_slash_equal.liga</key>
    <string>equal_slash_equal.liga.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>exclam_equal.liga</key>
    <string>exclam_equal.liga.glif</string>
    <key>exclam_equal_equal.liga</key>
    <string>exclam_equal_equal.liga.glif</string>
    <key>exclam_exclam.liga</key>
    <string>exclam_exclam.liga.glif</string>
    <key>exclam_exclam_period.liga</key>
    <string>exclam_exclam_period.liga.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>greater_colon.liga</key>
    <string>greater_colon.liga.glif</string>
    <key>greater_equal.liga</key>
    <string>greater_equal.liga.glif</string>
    <key>greater_equal_greater.liga</key>
    <string>greater_equal_greater.liga.glif</string>
    <key>greater_greater.liga</key>
    <string>greater_greater.liga.glif</string>
    <key>greater_greater_equal.liga</key>
    <string>greater_greater_equal.liga.glif</string>
    <key>greater_greater_greater.liga</key>
    <string>greater_greater_greater.liga.glif</string>
    <key>greater_greater_hyphen.liga</key>
    <string>greater_greater_hyphen.liga.glif</string>
    <key>greater_hyphen.liga</key>
    <string>greater_hyphen.liga.glif</string>
    <key>greater_hyphen_greater.liga</key>
    <string>greater_hyphen_greater.liga.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>hyphen.lc</key>
    <string>hyphen.lc.glif</string>
    <key>hyphen_asciitilde.liga</key>
    <string>hyphen_asciitilde.liga.glif</string>
    <key>hyphen_bar.liga</key>
    <string>hyphen_bar.liga.glif</string>
    <key>hyphen_greater.liga</key>
    <string>hyphen_greater.liga.glif</string>
    <key>hyphen_greater_greater.liga</key>
    <string>hyphen_greater_greater.liga.glif</string>
    <key>hyphen_hyphen.liga</key>
    <string>hyphen_hyphen.liga.glif</string>
    <key>hyphen_hyphen_greater.liga</key>
    <string>hyphen_hyphen_greater.liga.glif</string>
    <key>hyphen_hyphen_hyphen.liga</key>
    <string>hyphen_hyphen_hyphen.liga.glif</string>
    <key>hyphen_less.liga</key>
    <string>hyphen_less.liga.glif</string>
    <key>hyphen_less_less.liga</key>
    <string>hyphen_less_less.liga.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>less_asciitilde.liga</key>
    <string>less_asciitilde.liga.glif</string>
    <key>less_asciitilde_asciitilde.liga</key>
    <string>less_asciitilde_asciitilde.liga.glif</string>
    <key>less_asciitilde_greater.liga</key>
    <string>less_asciitilde_greater.liga.glif</string>
    <key>less_asterisk.liga</key>
    <string>less_asterisk.liga.glif</string>
    <key>less_asterisk_greater.liga</key>
    <string>less_asterisk_greater.liga.glif</string>
    <key>less_bar.liga</key>
    <string>less_bar.liga.glif</string>
    <key>less_bar_bar.liga</key>
    <string>less_bar_bar.liga.glif</string>
    <key>less_bar_bar_bar.liga</key>
    <string>less_bar_bar_bar.liga.glif</string>
    <key>less_bar_greater.liga</key>
    <string>less_bar_greater.liga.glif</string>
    <key>less_colon.liga</key>
    <string>less_colon.liga.glif</string>
    <key>less_dollar.liga</key>
    <string>less_dollar.liga.glif</string>
    <key>less_dollar_greater.liga</key>
    <string>less_dollar_greater.liga.glif</string>
    <key>less_equal.liga</key>
    <string>less_equal.liga.glif</string>
    <key>less_equal_equal.liga</key>
    <string>less_equal_equal.liga.glif</string>
    <key>less_equal_equal_greater.liga</key>
    <string>less_equal_equal_greater.liga.glif</string>
    <key>less_equal_greater.liga</key>
    <string>less_equal_greater.liga.glif</string>
    <key>less_equal_less.liga</key>
    <string>less_equal_less.liga.glif</string>
    <key>less_exclam_hyphen_hyphen.liga</key>
    <string>less_exclam_hyphen_hyphen.liga.glif</string>
    <key>less_greater.liga</key>
    <string>less_greater.liga.glif</string>
    <key>less_hyphen.liga</key>
    <string>less_hyphen.liga.glif</string>
    <key>less_hyphen_greater.liga</key>
    <string>less_hyphen_greater.liga.glif</string>
    <key>less_hyphen_hyphen.liga</key>
    <string>less_hyphen_hyphen.liga.glif</string>
    <key>less_hyphen_less.liga</key>
    <string>less_hyphen_less.liga.glif</string>
    <key>less_less.liga</key>
    <string>less_less.liga.glif</string>
    <key>less_less_equal.liga</key>
    <string>less_less_equal.liga.glif</string>
    <key>less_less_hyphen.liga</key>
    <string>less_less_hyphen.liga.glif</string>
    <key>less_less_less.liga</key>
    <string>less_less_less.liga.glif</string>
    <key>less_plus.liga</key>
    <string>less_plus.liga.glif</string>
    <key>less_plus_greater.liga</key>
    <string>less_plus_greater.liga.glif</string>
    <key>less_slash.liga</key>
    <string>less_slash.liga.glif</string>
    <key>less_slash_greater.liga</key>
    <string>less_slash_greater.liga.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>numbersign_braceleft.liga</key>
    <string>numbersign_braceleft.liga.glif</string>
    <key>numbersign_bracketleft.liga</key>
    <string>numbersign_bracketleft.liga.glif</string>
    <key>numbersign_colon.liga</key>
    <string>numbersign_colon.liga.glif</string>
    <key>numbersign_equal.liga</key>
    <string>numbersign_equal.liga.glif</string>
    <key>numbersign_exclam.liga</key>
    <string>numbersign_exclam.liga.glif</string>
    <key>numbersign_numbersign.liga</key>
    <string>numbersign_numbersign.liga.glif</string>
    <key>numbersign_numbersign_numbersign.liga</key>
    <string>numbersign_numbersign_numbersign.liga.glif</string>
    <key>numbersign_numbersign_numbersign_numbersign.liga</key>
    <string>numbersign_numbersign_numbersign_numbersign.liga.glif</string>
    <key>numbersign_parenleft.liga</key>
    <string>numbersign_parenleft.liga.glif</string>
    <key>numbersign_question.liga</key>
    <string>numbersign_question.liga.glif</string>
    <key>numbersign_underscore.liga</key>
    <string>numbersign_underscore.liga.glif</string>
    <key>numbersign_underscore_parenleft.liga</key>
    <string>numbersign_underscore_parenleft.liga.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>percent_percent.liga</key>
    <string>percent_percent.liga.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>period_equal.liga</key>
    <string>period_equal.liga.glif</string>
    <key>period_hyphen.liga</key>
    <string>period_hyphen.liga.glif</string>
    <key>period_period.liga</key>
    <string>period_period.liga.glif</string>
    <key>period_period_equal.liga</key>
    <string>period_period_equal.liga.glif</string>
    <key>period_period_less.liga</key>
    <string>period_period_less.liga.glif</string>
    <key>period_period_period.liga</key>
    <string>period_period_period.liga.glif</string>
    <key>period_question.liga</key>
    <string>period_question.liga.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>plus.lc</key>
    <string>plus.lc.glif</string>
    <key>plus_greater.liga</key>
    <string>plus_greater.liga.glif</string>
    <key>plus_plus.liga</key>
    <string>plus_plus.liga.glif</string>
    <key>plus_plus_plus.liga</key>
    <string>plus_plus_plus.liga.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>question_colon.liga</key>
    <string>question_colon.liga.glif</string>
    <key>question_equal.liga</key>
    <string>question_equal.liga.glif</string>
    <key>question_period.liga</key>
    <string>question_period.liga.glif</string>
    <key>question_question.liga</key>
    <string>question_question.liga.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>semicolon_semicolon.liga</key>
    <string>semicolon_semicolon.liga.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>slash_asterisk.liga</key>
    <string>slash_asterisk.liga.glif</string>
    <key>slash_equal.liga</key>
    <string>slash_equal.liga.glif</string>
    <key>slash_equal_equal.liga</key>
    <string>slash_equal_equal.liga.glif</string>
    <key>slash_greater.liga</key>
    <string>slash_greater.liga.glif</string>
    <key>slash_slash.liga</key>
    <string>slash_slash.liga.glif</string>
    <key>slash_slash_slash.liga</key>
    <string>slash_slash_slash.liga.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>underscore_bar_underscore.liga</key>
    <string>underscore_bar_underscore.liga.glif</string>
    <key>underscore_underscore.liga</key>
    <string>underscore_underscore.liga.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>w_w_w.liga</key>
    <string>w_w_w.liga.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>x.multiply</key>
    <string>x.multiply.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero.ss01</key>
    <string>zero.ss01.glif</string>
  </dict>
</plist>
