<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>BBAB2DB2-7554-4FB8-925D-17003E4845F8</string>
      <key>com.schriftgestaltung.layerOrderInGlyph..notdef</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.A</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.B</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.C</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.D</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.E</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.F</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.G</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.H</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.I</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.J</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.K</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.L</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.LIG</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.M</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.N</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.O</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.P</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Q</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.R</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.S</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.T</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.U</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.V</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.W</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.X</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Y</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Z</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.a</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ampersand</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ampersand_ampersand.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asciicircum</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asciicircum_equal.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asciitilde</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asciitilde_asciitilde.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asciitilde_asciitilde_greater.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asciitilde_at.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asciitilde_equal.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asciitilde_greater.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asciitilde_hyphen.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asterisk</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asterisk.lc</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asterisk_asterisk.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asterisk_asterisk_asterisk.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asterisk_greater.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asterisk_slash.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.at</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.at.lc</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.b</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.backslash</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bar_bar.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bar_bar_bar_greater.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bar_bar_equal.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bar_bar_greater.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bar_braceright.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bar_bracketright.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bar_equal.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bar_greater.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bar_hyphen.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.braceleft</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.braceleft_bar.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.braceright</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.braceright_numbersign.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bracketleft</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bracketleft_bar.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bracketright</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bracketright_numbersign.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.c</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.colon</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.colon.uc</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.colon_colon.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.colon_colon_colon.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.colon_colon_equal.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.colon_equal.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.colon_greater.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.colon_less.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.comma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.d</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.divide</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dollar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dollar_greater.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.e</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.emdash</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.emdash.lc</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.endash</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.endash.lc</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.equal</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.equal_colon_equal.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.equal_equal.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.equal_equal_equal.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.equal_equal_greater.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.equal_exclam_equal.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.equal_greater.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.equal_greater_greater.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.equal_less_less.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.equal_slash_equal.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.exclam</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.exclam_equal.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.exclam_equal_equal.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.exclam_exclam.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.exclam_exclam_period.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.f</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.five</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.four</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.g</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.grave</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.greater</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.greater_colon.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.greater_equal.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.greater_equal_greater.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.greater_greater.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.greater_greater_equal.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.greater_greater_greater.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.greater_greater_hyphen.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.greater_hyphen.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.greater_hyphen_greater.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.h</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hyphen</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hyphen.lc</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hyphen_asciitilde.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hyphen_bar.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hyphen_greater.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hyphen_greater_greater.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hyphen_hyphen.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hyphen_hyphen_greater.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hyphen_hyphen_hyphen.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hyphen_less.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hyphen_less_less.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.i</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.j</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.k</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.l</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.less</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.less_asciitilde.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.less_asciitilde_asciitilde.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.less_asciitilde_greater.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.less_asterisk.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.less_asterisk_greater.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.less_bar.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.less_bar_bar.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.less_bar_bar_bar.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.less_bar_greater.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.less_colon.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.less_dollar.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.less_dollar_greater.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.less_equal.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.less_equal_equal.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.less_equal_equal_greater.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.less_equal_greater.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.less_equal_less.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.less_exclam_hyphen_hyphen.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.less_greater.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.less_hyphen.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.less_hyphen_greater.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.less_hyphen_hyphen.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.less_hyphen_less.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.less_less.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.less_less_equal.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.less_less_hyphen.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.less_less_less.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.less_plus.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.less_plus_greater.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.less_slash.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.less_slash_greater.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.m</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.minus</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.multiply</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.n</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nine</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.numbersign</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.numbersign_braceleft.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.numbersign_bracketleft.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.numbersign_colon.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.numbersign_equal.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.numbersign_exclam.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.numbersign_numbersign.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.numbersign_numbersign_numbersign.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.numbersign_numbersign_numbersign_numbersign.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.numbersign_parenleft.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.numbersign_question.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.numbersign_underscore.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.numbersign_underscore_parenleft.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.o</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.one</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.p</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.parenleft</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.parenright</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.percent</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.percent_percent.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.period</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.period_equal.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.period_hyphen.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.period_period.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.period_period_equal.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.period_period_less.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.period_period_period.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.period_question.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.periodcentered</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.plus</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.plus.lc</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.plus_greater.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.plus_plus.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.plus_plus_plus.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.q</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.question</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.question_colon.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.question_equal.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.question_period.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.question_question.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotedbl</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotedblleft</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotedblright</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quoteleft</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quoteright</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotesingle</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.r</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.s</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.semicolon</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.semicolon_semicolon.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seven</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.six</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.slash</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.slash_asterisk.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.slash_equal.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.slash_equal_equal.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.slash_greater.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.slash_slash.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.slash_slash_slash.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.space</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.t</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.three</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.two</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.underscore</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.underscore_bar_underscore.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.underscore_underscore.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.v</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.w</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.w_w_w.liga</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.x</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.x.multiply</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.y</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.z</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero.ss01</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
