<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F9864227-7EA4-4913-A2B5-E37743812B5C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.yehbarree-ar</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
