<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>0AC2EF43-7A54-48E9-A128-DB6A3F1250A7</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
