<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>84D4C0E3-2A94-476F-814A-5CBAD3997FB4</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.S</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
