<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Ia-cy</key>
    <string>I_a-cy.glif</string>
    <key>Ka-cy</key>
    <string>K_a-cy.glif</string>
  </dict>
</plist>
