<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.font.customParameters</key>
    <array>
      <dict>
        <key>active</key>
        <false/>
        <key>name</key>
        <string>glyphOrder</string>
        <key>value</key>
        <array>
          <string>.notdef</string>
          <string>NULL</string>
          <string>CR</string>
          <string>space</string>
          <string>AWAY</string>
          <string>POMODORO_SQUASHED</string>
          <string>LONG_PAUSE</string>
          <string>POMODORO_TICKING</string>
          <string>PAIR_PROGRAMMING</string>
          <string>CLEAN_CODE</string>
          <string>POMODORO_ESTIMATED</string>
          <string>POMODORO_DONE</string>
          <string>SHORT_PAUSE</string>
          <string>INTERNAL_INTERRUPTION</string>
          <string>EXTERNAL_INTERRUPTION</string>
        </array>
      </dict>
    </array>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>m01</string>
    <key>com.schriftgestaltung.formatVersion</key>
    <integer>3</integer>
    <key>com.schriftgestaltung.useGlyphOrder</key>
    <false/>
    <key>com.schriftgestaltung.useNiceNames</key>
    <false/>
    <key>public.glyphOrder</key>
    <array>
      <string>CLEAN_CODE</string>
      <string>POMODORO_DONE</string>
      <string>POMODORO_ESTIMATED</string>
      <string>POMODORO_TICKING</string>
      <string>POMODORO_SQUASHED</string>
      <string>SHORT_PAUSE</string>
      <string>LONG_PAUSE</string>
      <string>AWAY</string>
      <string>PAIR_PROGRAMMING</string>
      <string>INTERNAL_INTERRUPTION</string>
      <string>EXTERNAL_INTERRUPTION</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>AWAY</key>
      <string>uniE007</string>
      <key>CLEAN_CODE</key>
      <string>uniE000</string>
      <key>EXTERNAL_INTERRUPTION</key>
      <string>uniE00A</string>
      <key>INTERNAL_INTERRUPTION</key>
      <string>uniE009</string>
      <key>LONG_PAUSE</key>
      <string>uniE006</string>
      <key>PAIR_PROGRAMMING</key>
      <string>uniE008</string>
      <key>POMODORO_DONE</key>
      <string>uniE001</string>
      <key>POMODORO_ESTIMATED</key>
      <string>uniE002</string>
      <key>POMODORO_SQUASHED</key>
      <string>uniE004</string>
      <key>POMODORO_TICKING</key>
      <string>uniE003</string>
      <key>SHORT_PAUSE</key>
      <string>uniE005</string>
    </dict>
  </dict>
</plist>
