<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>3BE0DDEB-5B37-4A63-A076-B8B912F8A917</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.he-hb</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
