<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>2AF1086F-B8E0-4498-963D-0D3D15763366</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.c</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
