<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>ACC1DC28-4E8C-4D82-A095-6722C3336353</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.pedagesh-hb</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
