<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>i_custom_asm</key>
    <string>i_custom_asm.glif</string>
    <key>i_custom_c</key>
    <string>i_custom_c.glif</string>
    <key>i_custom_common_lisp</key>
    <string>i_custom_common_lisp.glif</string>
    <key>i_custom_cpp</key>
    <string>i_custom_cpp.glif</string>
    <key>i_custom_crystal</key>
    <string>i_custom_crystal.glif</string>
    <key>i_custom_default</key>
    <string>i_custom_default.glif</string>
    <key>i_custom_electron</key>
    <string>i_custom_electron.glif</string>
    <key>i_custom_elixir</key>
    <string>i_custom_elixir.glif</string>
    <key>i_custom_elm</key>
    <string>i_custom_elm.glif</string>
    <key>i_custom_emacs</key>
    <string>i_custom_emacs.glif</string>
    <key>i_custom_fennel</key>
    <string>i_custom_fennel.glif</string>
    <key>i_custom_folder</key>
    <string>i_custom_folder.glif</string>
    <key>i_custom_folder_config</key>
    <string>i_custom_folder_config.glif</string>
    <key>i_custom_folder_git</key>
    <string>i_custom_folder_git.glif</string>
    <key>i_custom_folder_github</key>
    <string>i_custom_folder_github.glif</string>
    <key>i_custom_folder_npm</key>
    <string>i_custom_folder_npm.glif</string>
    <key>i_custom_folder_oct</key>
    <string>i_custom_folder_oct.glif</string>
    <key>i_custom_folder_open</key>
    <string>i_custom_folder_open.glif</string>
    <key>i_custom_go</key>
    <string>i_custom_go.glif</string>
    <key>i_custom_home</key>
    <string>i_custom_home.glif</string>
    <key>i_custom_kotlin</key>
    <string>i_custom_kotlin.glif</string>
    <key>i_custom_msdos</key>
    <string>i_custom_msdos.glif</string>
    <key>i_custom_neovim</key>
    <string>i_custom_neovim.glif</string>
    <key>i_custom_orgmode</key>
    <string>i_custom_orgmode.glif</string>
    <key>i_custom_play_arrow</key>
    <string>i_custom_play_arrow.glif</string>
    <key>i_custom_purescript</key>
    <string>i_custom_purescript.glif</string>
    <key>i_custom_scheme</key>
    <string>i_custom_scheme.glif</string>
    <key>i_custom_toml</key>
    <string>i_custom_toml.glif</string>
    <key>i_custom_v_lang</key>
    <string>i_custom_v_lang.glif</string>
    <key>i_custom_vim</key>
    <string>i_custom_vim.glif</string>
    <key>i_custom_windows</key>
    <string>i_custom_windows.glif</string>
    <key>i_indent_line</key>
    <string>i_indent_line.glif</string>
    <key>i_seti_apple</key>
    <string>i_seti_apple.glif</string>
    <key>i_seti_argdown</key>
    <string>i_seti_argdown.glif</string>
    <key>i_seti_asm</key>
    <string>i_seti_asm.glif</string>
    <key>i_seti_audio</key>
    <string>i_seti_audio.glif</string>
    <key>i_seti_babel</key>
    <string>i_seti_babel.glif</string>
    <key>i_seti_bazel</key>
    <string>i_seti_bazel.glif</string>
    <key>i_seti_bicep</key>
    <string>i_seti_bicep.glif</string>
    <key>i_seti_bower</key>
    <string>i_seti_bower.glif</string>
    <key>i_seti_bsl</key>
    <string>i_seti_bsl.glif</string>
    <key>i_seti_c</key>
    <string>i_seti_c.glif</string>
    <key>i_seti_c_sharp</key>
    <string>i_seti_c_sharp.glif</string>
    <key>i_seti_cake</key>
    <string>i_seti_cake.glif</string>
    <key>i_seti_cake_php</key>
    <string>i_seti_cake_php.glif</string>
    <key>i_seti_checkbox</key>
    <string>i_seti_checkbox.glif</string>
    <key>i_seti_checkbox_unchecked</key>
    <string>i_seti_checkbox_unchecked.glif</string>
    <key>i_seti_clock</key>
    <string>i_seti_clock.glif</string>
    <key>i_seti_clojure</key>
    <string>i_seti_clojure.glif</string>
    <key>i_seti_code_climate</key>
    <string>i_seti_code_climate.glif</string>
    <key>i_seti_code_search</key>
    <string>i_seti_code_search.glif</string>
    <key>i_seti_coffee</key>
    <string>i_seti_coffee.glif</string>
    <key>i_seti_coldfusion</key>
    <string>i_seti_coldfusion.glif</string>
    <key>i_seti_config</key>
    <string>i_seti_config.glif</string>
    <key>i_seti_cpp</key>
    <string>i_seti_cpp.glif</string>
    <key>i_seti_crystal_embedded</key>
    <string>i_seti_crystal_embedded.glif</string>
    <key>i_seti_css</key>
    <string>i_seti_css.glif</string>
    <key>i_seti_csv</key>
    <string>i_seti_csv.glif</string>
    <key>i_seti_cu</key>
    <string>i_seti_cu.glif</string>
    <key>i_seti_d</key>
    <string>i_seti_d.glif</string>
    <key>i_seti_dart</key>
    <string>i_seti_dart.glif</string>
    <key>i_seti_db</key>
    <string>i_seti_db.glif</string>
    <key>i_seti_default</key>
    <string>i_seti_default.glif</string>
    <key>i_seti_deprecation_cop</key>
    <string>i_seti_deprecation_cop.glif</string>
    <key>i_seti_docker</key>
    <string>i_seti_docker.glif</string>
    <key>i_seti_editorconfig</key>
    <string>i_seti_editorconfig.glif</string>
    <key>i_seti_ejs</key>
    <string>i_seti_ejs.glif</string>
    <key>i_seti_elixir_script</key>
    <string>i_seti_elixir_script.glif</string>
    <key>i_seti_error</key>
    <string>i_seti_error.glif</string>
    <key>i_seti_eslint</key>
    <string>i_seti_eslint.glif</string>
    <key>i_seti_ethereum</key>
    <string>i_seti_ethereum.glif</string>
    <key>i_seti_f_sharp</key>
    <string>i_seti_f_sharp.glif</string>
    <key>i_seti_favicon</key>
    <string>i_seti_favicon.glif</string>
    <key>i_seti_firebase</key>
    <string>i_seti_firebase.glif</string>
    <key>i_seti_firefox</key>
    <string>i_seti_firefox.glif</string>
    <key>i_seti_folder</key>
    <string>i_seti_folder.glif</string>
    <key>i_seti_font</key>
    <string>i_seti_font.glif</string>
    <key>i_seti_git</key>
    <string>i_seti_git.glif</string>
    <key>i_seti_github</key>
    <string>i_seti_github.glif</string>
    <key>i_seti_gitlab</key>
    <string>i_seti_gitlab.glif</string>
    <key>i_seti_go</key>
    <string>i_seti_go.glif</string>
    <key>i_seti_go2</key>
    <string>i_seti_go2.glif</string>
    <key>i_seti_godot</key>
    <string>i_seti_godot.glif</string>
    <key>i_seti_gradle</key>
    <string>i_seti_gradle.glif</string>
    <key>i_seti_grails</key>
    <string>i_seti_grails.glif</string>
    <key>i_seti_graphql</key>
    <string>i_seti_graphql.glif</string>
    <key>i_seti_grunt</key>
    <string>i_seti_grunt.glif</string>
    <key>i_seti_gulp</key>
    <string>i_seti_gulp.glif</string>
    <key>i_seti_hacklang</key>
    <string>i_seti_hacklang.glif</string>
    <key>i_seti_haml</key>
    <string>i_seti_haml.glif</string>
    <key>i_seti_happenings</key>
    <string>i_seti_happenings.glif</string>
    <key>i_seti_haskell</key>
    <string>i_seti_haskell.glif</string>
    <key>i_seti_haxe</key>
    <string>i_seti_haxe.glif</string>
    <key>i_seti_heroku</key>
    <string>i_seti_heroku.glif</string>
    <key>i_seti_hex</key>
    <string>i_seti_hex.glif</string>
    <key>i_seti_html</key>
    <string>i_seti_html.glif</string>
    <key>i_seti_ignored</key>
    <string>i_seti_ignored.glif</string>
    <key>i_seti_illustrator</key>
    <string>i_seti_illustrator.glif</string>
    <key>i_seti_image</key>
    <string>i_seti_image.glif</string>
    <key>i_seti_info</key>
    <string>i_seti_info.glif</string>
    <key>i_seti_ionic</key>
    <string>i_seti_ionic.glif</string>
    <key>i_seti_jade</key>
    <string>i_seti_jade.glif</string>
    <key>i_seti_java</key>
    <string>i_seti_java.glif</string>
    <key>i_seti_javascript</key>
    <string>i_seti_javascript.glif</string>
    <key>i_seti_jenkins</key>
    <string>i_seti_jenkins.glif</string>
    <key>i_seti_jinja</key>
    <string>i_seti_jinja.glif</string>
    <key>i_seti_json</key>
    <string>i_seti_json.glif</string>
    <key>i_seti_julia</key>
    <string>i_seti_julia.glif</string>
    <key>i_seti_karma</key>
    <string>i_seti_karma.glif</string>
    <key>i_seti_license</key>
    <string>i_seti_license.glif</string>
    <key>i_seti_liquid</key>
    <string>i_seti_liquid.glif</string>
    <key>i_seti_livescript</key>
    <string>i_seti_livescript.glif</string>
    <key>i_seti_lock</key>
    <string>i_seti_lock.glif</string>
    <key>i_seti_lua</key>
    <string>i_seti_lua.glif</string>
    <key>i_seti_makefile</key>
    <string>i_seti_makefile.glif</string>
    <key>i_seti_markdown</key>
    <string>i_seti_markdown.glif</string>
    <key>i_seti_maven</key>
    <string>i_seti_maven.glif</string>
    <key>i_seti_mdo</key>
    <string>i_seti_mdo.glif</string>
    <key>i_seti_mustache</key>
    <string>i_seti_mustache.glif</string>
    <key>i_seti_new_file</key>
    <string>i_seti_new_file.glif</string>
    <key>i_seti_nim</key>
    <string>i_seti_nim.glif</string>
    <key>i_seti_notebook</key>
    <string>i_seti_notebook.glif</string>
    <key>i_seti_npm</key>
    <string>i_seti_npm.glif</string>
    <key>i_seti_nunjucks</key>
    <string>i_seti_nunjucks.glif</string>
    <key>i_seti_ocaml</key>
    <string>i_seti_ocaml.glif</string>
    <key>i_seti_odata</key>
    <string>i_seti_odata.glif</string>
    <key>i_seti_pddl</key>
    <string>i_seti_pddl.glif</string>
    <key>i_seti_pdf</key>
    <string>i_seti_pdf.glif</string>
    <key>i_seti_perl</key>
    <string>i_seti_perl.glif</string>
    <key>i_seti_photoshop</key>
    <string>i_seti_photoshop.glif</string>
    <key>i_seti_php</key>
    <string>i_seti_php.glif</string>
    <key>i_seti_pipeline</key>
    <string>i_seti_pipeline.glif</string>
    <key>i_seti_plan</key>
    <string>i_seti_plan.glif</string>
    <key>i_seti_platformio</key>
    <string>i_seti_platformio.glif</string>
    <key>i_seti_powershell</key>
    <string>i_seti_powershell.glif</string>
    <key>i_seti_prisma</key>
    <string>i_seti_prisma.glif</string>
    <key>i_seti_project</key>
    <string>i_seti_project.glif</string>
    <key>i_seti_prolog</key>
    <string>i_seti_prolog.glif</string>
    <key>i_seti_pug</key>
    <string>i_seti_pug.glif</string>
    <key>i_seti_puppet</key>
    <string>i_seti_puppet.glif</string>
    <key>i_seti_python</key>
    <string>i_seti_python.glif</string>
    <key>i_seti_r</key>
    <string>i_seti_r.glif</string>
    <key>i_seti_rails</key>
    <string>i_seti_rails.glif</string>
    <key>i_seti_react</key>
    <string>i_seti_react.glif</string>
    <key>i_seti_reasonml</key>
    <string>i_seti_reasonml.glif</string>
    <key>i_seti_rescript</key>
    <string>i_seti_rescript.glif</string>
    <key>i_seti_rollup</key>
    <string>i_seti_rollup.glif</string>
    <key>i_seti_ruby</key>
    <string>i_seti_ruby.glif</string>
    <key>i_seti_rust</key>
    <string>i_seti_rust.glif</string>
    <key>i_seti_salesforce</key>
    <string>i_seti_salesforce.glif</string>
    <key>i_seti_sass</key>
    <string>i_seti_sass.glif</string>
    <key>i_seti_sbt</key>
    <string>i_seti_sbt.glif</string>
    <key>i_seti_scala</key>
    <string>i_seti_scala.glif</string>
    <key>i_seti_search</key>
    <string>i_seti_search.glif</string>
    <key>i_seti_settings</key>
    <string>i_seti_settings.glif</string>
    <key>i_seti_shell</key>
    <string>i_seti_shell.glif</string>
    <key>i_seti_slim</key>
    <string>i_seti_slim.glif</string>
    <key>i_seti_smarty</key>
    <string>i_seti_smarty.glif</string>
    <key>i_seti_spring</key>
    <string>i_seti_spring.glif</string>
    <key>i_seti_stylelint</key>
    <string>i_seti_stylelint.glif</string>
    <key>i_seti_stylus</key>
    <string>i_seti_stylus.glif</string>
    <key>i_seti_sublime</key>
    <string>i_seti_sublime.glif</string>
    <key>i_seti_svelte</key>
    <string>i_seti_svelte.glif</string>
    <key>i_seti_svg</key>
    <string>i_seti_svg.glif</string>
    <key>i_seti_swift</key>
    <string>i_seti_swift.glif</string>
    <key>i_seti_terraform</key>
    <string>i_seti_terraform.glif</string>
    <key>i_seti_tex</key>
    <string>i_seti_tex.glif</string>
    <key>i_seti_todo</key>
    <string>i_seti_todo.glif</string>
    <key>i_seti_tsconfig</key>
    <string>i_seti_tsconfig.glif</string>
    <key>i_seti_twig</key>
    <string>i_seti_twig.glif</string>
    <key>i_seti_typescript</key>
    <string>i_seti_typescript.glif</string>
    <key>i_seti_vala</key>
    <string>i_seti_vala.glif</string>
    <key>i_seti_video</key>
    <string>i_seti_video.glif</string>
    <key>i_seti_vue</key>
    <string>i_seti_vue.glif</string>
    <key>i_seti_wasm</key>
    <string>i_seti_wasm.glif</string>
    <key>i_seti_wat</key>
    <string>i_seti_wat.glif</string>
    <key>i_seti_webpack</key>
    <string>i_seti_webpack.glif</string>
    <key>i_seti_wgt</key>
    <string>i_seti_wgt.glif</string>
    <key>i_seti_word</key>
    <string>i_seti_word.glif</string>
    <key>i_seti_xls</key>
    <string>i_seti_xls.glif</string>
    <key>i_seti_xml</key>
    <string>i_seti_xml.glif</string>
    <key>i_seti_yarn</key>
    <string>i_seti_yarn.glif</string>
    <key>i_seti_yml</key>
    <string>i_seti_yml.glif</string>
    <key>i_seti_zig</key>
    <string>i_seti_zig.glif</string>
    <key>i_seti_zip</key>
    <string>i_seti_zip.glif</string>
  </dict>
</plist>
